@model AdvantShop.Web.Admin.Models.Settings.SystemSettingsModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}


<div class="form-group row setting__form-group">
    <div class="col-xs-12">
        <a class="btn btn-sm btn-success" ng-click="settingsSystem.updateSiteMaps()">@T("Admin.SettingsSystem.SiteMap.RefreshMaps")</a>
        <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.SettingsSystem.SiteMap.RefreshMaps")">
            @T("Admin.Settings.SystemSettings.SitemapXmlLastUpdateHint")
        </help-trigger>
    </div>
</div>


<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.Settings.SystemSettings.SitemapXml")</h3>
</div>

<div class="col-xs-12 col-md-9">
    <div class="setting-label-wrap setting__label">
        <h4>@T("Admin.Settings.SystemSettings.SitemapXmlLastUpdate")</h4>
    </div>
</div>

<div class="col-xs-12 col-md-9 @(isMobile ? "flex middle-xs" : "")" style="margin-bottom: 20px;">
    <p>{{ settingsSystem.SiteMapFileDate }}</p>
</div>


<div class="col-xs-12">
    <div class="setting-label-wrap setting__label" style="margin-bottom: 20px;">
        <h4>@T("Admin.Settings.SystemSettings.SiteMapFileXmlLink")</h4>
    </div>
</div>


<div class="row setting__form-group" ng-repeat="item in settingsSystem.items">
    @{
    var iterationNum = 0;
    }
    <div ng-init="iterationNum = $index">
        <div ng-if="item.SiteMapFileXmlLinkText" class="row setting__form-group">
            <div class="col-xs-12 col-md-12 @(isMobile ? "flex middle-xs" : "")" style="margin-left: 20px;">
                <a class="flex-grow" ng-href="{{item.SiteMapFileXmlLink}}" target="_blank" ng-bind="item.SiteMapFileXmlLinkText">@Model.SiteMapDomainModels[iterationNum].SiteMapFileXmlLinkText</a>
                <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.SystemSettings.SiteMapFileXmlLink")">
                    @T("Admin.Settings.SystemSettings.SiteMapFileXmlLinkHint")
                </help-trigger>
            </div>
        </div>
    </div>
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.Settings.SystemSettings.SitemapHtml")</h3>
</div>

<div class="col-xs-12 col-md-9">
    <div class="setting-label-wrap setting__label">
        <h4>@T("Admin.Settings.SystemSettings.SitemapXmlLastUpdate")</h4>
    </div>
</div>

<div class="col-xs-12 col-md-9 @(isMobile ? "flex middle-xs" : "")" style="margin-bottom: 20px;">
    <p>{{ settingsSystem.SiteMapFileDate }}</p>
</div>

<div class="col-xs-12 col-md-9" style="margin-bottom: 20px;">
    <div class="setting-label-wrap">
        @T("Admin.Settings.SystemSettings.SiteMapFileHtmlLink")
    </div>
</div>

<div class="row setting__form-group" ng-repeat="item in settingsSystem.items">
    <div ng-init="iterationNum = $index">
        <div ng-if="item.SiteMapFileHtmlLinkText" class="row setting__form-group">
            <div class="col-xs-12 col-md-12 @(isMobile ? "flex middle-xs" : "")" style="margin-left: 20px;">
                <a class="flex-grow" ng-href="{{item.SiteMapFileHtmlLink}}" target="_blank" ng-bind="item.SiteMapFileHtmlLinkText">@Model.SiteMapDomainModels[iterationNum].SiteMapFileHtmlLinkText</a>
                <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.SystemSettings.SiteMapFileHtmlLink")">
                    @T("Admin.Settings.SystemSettings.SiteMapFileHtmlLinkHint")
                </help-trigger>
            </div>
        </div>
    </div>
</div>


<div class="form-group row setting__mobile-adv-panel-info">
    <div class="col-xs-8">
        <div class="adv-panel-info">
            <a href="https://www.advantshop.net/help/pages/robots-txt#2" target="_blank">@T("Admin.Settings.System.SiteMapInstruction")</a>
        </div>
    </div>
</div>