@using AdvantShop.Helpers
@model AdvantShop.Web.Admin.Models.Settings.CustomersSettingsModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<form name="typesOfCustomersForm" novalidate="novalidate">

    <div class="sticky-page-name  m-t-n-xs hidden-xs visible-md" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner m-t-n-xs">
            <div class="page-name-block-item-main flex middle-xs">
                <h3 class="sticky-page-name-text m-t-none bold" data-e2e="SearchSettingTitle">
                    @T("Admin.Settings.TypesOfCustomers.Title")
                </h3>
            </div>
        </div>
    </div>
    <div class="form-group row">
        @if (!isMobile)
        {
            <div class="col-xs-12 col-md-3 col-wl-2">
                <div class="setting-label-wrap setting__label">
                    @T("Admin.Settings.TypesOfCustomers.Physical")
                </div>
            </div>
        }
        <div class="col-xs-12 col-md-4 relative">
            <label class="adv-checkbox-label">
                @Html.CheckBoxFor(x => x.IsRegistrationAsPhysicalEntity, new { @class = "adv-checkbox-input", ng_model = "settingsCustomers.physicalEntity", ng_required = "!settingsCustomers.legalEntity" })
                <span class="adv-checkbox-emul" data-e2e="PhysicalEntity"></span>
                @if (isMobile)
                {
                    <span>@T("Admin.Settings.TypesOfCustomers.Physical")</span>
                }
            </label>
        </div>
    </div>

    <div class="form-group row middle-xs">
        @if (!isMobile)
        {
            <div class="col-xs-12 col-md-3 col-wl-2">
                <div class="setting-label-wrap setting__label">
                    @T("Admin.Settings.TypesOfCustomers.Legal")
                </div>
            </div>
        }
        <div class="col-xs-12 col-md-4 relative">
            <label class="adv-checkbox-label">
                @Html.CheckBoxFor(x => x.IsRegistrationAsLegalEntity, new { @class = "adv-checkbox-input", ng_model = "settingsCustomers.legalEntity", ng_required = "!settingsCustomers.physicalEntity" })
                <span class="adv-checkbox-emul" data-e2e="LegalEntity"></span>
                @if (isMobile)
                {
                    <span>@T("Admin.Settings.TypesOfCustomers.Legal")</span>
                }
            </label>
        </div>
    </div>

    <div class="form-group row middle-xs">
        <div class="col-xs-12 col-md-3 col-wl-2">
            <div class="setting-label-wrap setting__label">
                @T("Admin.Settings.TypesOfCustomers.MinimalOrderPriceForPhysicalEntity")
            </div>
        </div>
        <div class="col-xs-12 col-md-4 relative @(isMobile ? "flex middle-xs" : "")">
            @Html.TextBoxFor(x => x.MinimalOrderPriceForPhysicalEntity, new { @class = "form-control input-small input-alt", ng_model = "settingsCheckout.MinimalOrderPriceForPhysicalEntity" })
            <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs @(isMobile ? "m-l-xs p-l-sm" : "")" data-title="@T("Admin.Settings.TypesOfCustomers.MinimalOrderPriceForPhysicalEntity")">
                <div class="help-content">
                    @T("Admin.Settings.TypesOfCustomers.MinimalOrderPriceForPhysicalEntityHint")
                </div>
            </help-trigger>
        </div>
    </div>

    <div class="form-group row middle-xs">
        <div class="col-xs-12 col-md-3 col-wl-2">
            <div class="setting-label-wrap setting__label">
                @T("Admin.Settings.TypesOfCustomers.MinimalOrderPriceForLegalEntity")
            </div>
        </div>
        <div class="col-xs-12 col-md-4 relative @(isMobile ? "flex middle-xs" : "")">
            @Html.TextBoxFor(x => x.MinimalOrderPriceForLegalEntity, new { @class = "form-control input-small input-alt", ng_model = "settingsCheckout.MinimalOrderPriceForLegalEntity" })
            <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs @(isMobile ? "m-l-xs p-l-sm" : "")" data-title="@T("Admin.Settings.TypesOfCustomers.MinimalOrderPriceForLegalEntity")">
                <div class="help-content">
                    @T("Admin.Settings.TypesOfCustomers.MinimalOrderPriceForLegalEntityHint")
                </div>
            </help-trigger>
        </div>
    </div>
</form>
