@model AdvantShop.Web.Admin.Models.Settings.CommonSettingsModel
@{ 
    var isMobile = SettingsDesign.IsMobileTemplate;
}
<div class="setting setting--m-t-sm">
    <div class="setting-title m-t-none hidden-xs visible-md">
        <h2 class="page-name-block-text sticky-page-name-text m-b-none">@T("Admin.Settings.Index.Feedback")</h2>
    </div>


    <div class="form-group row middle-xs setting__form-group">
        <div class="col-xs-12 col-md-2 setting-form-label-wrap__mobile">
            <div class="setting-label-wrap setting__label">
                @T("Admin.Settings.Feedback.FeedbackAction")
            </div>
        </div>
        <div class="col-xs-12 col-md-4 flex middle-xs setting-form-input-wrap__mobile">
            @Html.DropDownListFor(x => x.FeedbackAction, Model.FeedbackActions, new { @class = "form-control input-alt", ng_model = "settings.FeedbackAction" })
            <help-trigger class="ng-cloak @(isMobile ? "m-l-xs p-l-sm" : "m-l-xs")" data-title="@T("Admin.Settings.Feedback.FeedbackAction")">
                @T("Admin.Settings.Feedback.FeedbackActionHint")
            </help-trigger>
        </div>
    </div>
</div>
