@model AdvantShop.Web.Admin.Models.Settings.Templates.SettingsTemplateModel
@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="setting-title m-t-none">
    <h3 class="setting__subtitle">@T("Admin.Settings.Template.PaymentIconTitle")</h3>
</div>

<div class="form-group setting__form-group" ng-hide="settingsTemplate.isHidden('ShowProductsPhotoInCheckoutCart')">
    <div class="form-group setting__form-group">
        <div class="row middle-xs">
            <div class="col-xs col-md-3 col-wl-2  @(isMobile ? "flex-grow" : "")">
                <label for="ShowProductsPhotoInCheckoutCart">
                    @T("Admin.Settings.Template.ShowProductsPhotoInCheckoutCart")
                </label>
            </div>
            <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
                <label class="adv-checkbox-label flex">
                    @Html.CheckBoxFor(x => x.ShowProductsPhotoInCheckoutCart, new { id = "ShowProductsPhotoInCheckoutCart", @class = "adv-checkbox-input input-alt-mobile", ng_model = "settingsTemplate.ShowProductsPhotoInCheckoutCart" })
                    <span class="adv-checkbox-emul" data-e2e="ShowProductsPhotoInCheckoutCart"></span>
                </label>
            </div>
            <help-trigger class="ng-cloak last-md  @(isMobile ? "m-r-sm" : "")" data-title="@T("Admin.Settings.Template.ShowProductsPhotoInCheckoutCart")">
                @T("Admin.Settings.Template.ShowProductsPhotoInCheckoutCartNote")
            </help-trigger>
        </div>
    </div>
</div>

<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <div class="control-label">
            @T("Admin.Settings.Template.PaymentIcon")
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <label for="settingsTemplatePaymentIconWidth" class="@(isMobile ? "block m-b-sm" : "control-label m-b-xs")">
            @T("Admin.Settings.Template.Width")
        </label>
        <div class="input-group flex middle-xs">
            @if (isMobile)
            {
                @Html.TextBoxFor(x => x.PaymentIconWidth, new { id = "settingsTemplatePaymentIconWidth", @class = "form-control input-alt-mobile", ng_model = "settingsTemplate.PaymentIconWidth", type = "number", min = "10", max = "100000", style = "", validation_input_text = "Иконки для оплаты" })
            }
            else
            {
                @Html.TextBoxFor(x => x.PaymentIconWidth, new { id = "settingsTemplatePaymentIconWidth", @class = "form-control input-alt-mobile", ng_model = "settingsTemplate.PaymentIconWidth", type = "number", min = "10", max = "100000", style = "width:120px;", validation_input_text = "Иконки для оплаты" })
            }
            <span class="col-xs-slim">px</span>&nbsp;
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <label for="settingsTemplatePaymentIconHeight" class="@(isMobile ? "block m-b-sm" : "control-label m-b-xs")">
            @T("Admin.Settings.Template.Height")
        </label>
        <div class="flex middle-xs">
            <div class="input-group flex middle-xs">
                @if (isMobile)
                {
                    @Html.TextBoxFor(x => x.PaymentIconHeight, new { id = "settingsTemplatePaymentIconHeight", @class = "form-control input-alt-mobile", ng_model = "settingsTemplate.PaymentIconHeight", type = "number", min = "10", max = "100000", style = "", validation_input_text = "Иконки для оплаты" })
                }
                else
                {
                    @Html.TextBoxFor(x => x.PaymentIconHeight, new { id = "settingsTemplatePaymentIconHeight", @class = "form-control input-alt-mobile", ng_model = "settingsTemplate.PaymentIconHeight", type = "number", min = "10", max = "100000", style = "width:120px;", validation_input_text = "Иконки для оплаты" })
                }
                <span class="col-xs-slim">px</span>
            </div>
            <help-trigger class="ng-cloak" data-title="@T("Admin.Settings.Template.PaymentIcon")">
                @T("Admin.Settings.Template.PaymentIconNote")
            </help-trigger>
        </div>
    </div>
</div>

<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <div class="control-label">
            @T("Admin.Settings.Template.ShippingIcon")
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <label for="settingsTemplateShippingIconWidth" class="@(isMobile ? "block m-b-sm" : "control-label m-b-xs")">
            @T("Admin.Settings.Template.Width")
        </label>
        <div class="input-group flex middle-xs">
            @if (isMobile)
            {
                @Html.TextBoxFor(x => x.ShippingIconWidth, new { id = "settingsTemplateShippingIconWidth", @class = "form-control input-alt-mobile", ng_model = "settingsTemplate.ShippingIconWidth", type = "number", min = "10", max = "100000", style = "", validation_input_text = "Иконки для оплаты" })
            }
            else
            {
                @Html.TextBoxFor(x => x.ShippingIconWidth, new { id = "settingsTemplateShippingIconWidth", @class = "form-control input-alt-mobile", ng_model = "settingsTemplate.ShippingIconWidth", type = "number", min = "10", max = "100000", style = "width:120px;", validation_input_text = "Иконки для оплаты" })
            }
            <span class="col-xs-slim">px</span>&nbsp;
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <label for="settingsTemplateShippingIconHeight" class="@(isMobile ? "block m-b-sm" : "control-label m-b-xs")">
            @T("Admin.Settings.Template.Height")
        </label>
        <div class="flex middle-xs">
            <div class="input-group flex middle-xs">
                @if (isMobile)
                {
                    @Html.TextBoxFor(x => x.ShippingIconHeight, new { id = "settingsTemplateShippingIconHeight", @class = "form-control input-alt-mobile", ng_model = "settingsTemplate.ShippingIconHeight", type = "number", min = "10", max = "100000", style = "", validation_input_text = "Иконки для оплаты" })
                }
                else
                {
                    @Html.TextBoxFor(x => x.ShippingIconHeight, new { id = "settingsTemplateShippingIconHeight", @class = "form-control input-alt-mobile", ng_model = "settingsTemplate.ShippingIconHeight", type = "number", min = "10", max = "100000", style = "width:120px;", validation_input_text = "Иконки для оплаты" })
                }
                <span class="col-xs-slim">px</span>
            </div>
            <help-trigger class="ng-cloak" data-title="@T("Admin.Settings.Template.ShippingIcon")">
                @T("Admin.Settings.Template.ShippingIconNote")
            </help-trigger>
        </div>
    </div>
</div>
@Html.Action("OtherSettings", new { section = AdvantShop.Configuration.ETemplateSettingSection.Checkout, settings = Model.OtherSettingsSections})