@model AdvantShop.Web.Admin.Models.Settings.Templates.SettingsTemplateModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}


<div class="setting-title m-t-none">
    <h3 class="setting__subtitle">@T("Admin.Settings.Template.NewsTitle")</h3>
</div>


<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <div class="control-label">
            @T("Admin.Settings.Template.NewsImage")
        </div>
    </div>

    <div class="col-xs-6 col-md-2">
        <label for="settingsTemplateNewsImageWidth" class="@(isMobile ? "block m-b-sm" : "control-label m-b-xs")">
            @T("Admin.Settings.Template.Width")
        </label>
        <div class="input-group flex middle-xs">
            @if (isMobile)
            {
                @Html.TextBoxFor(x => x.NewsImageWidth, new { id = "settingsTemplateNewsImageWidth", @class = "form-control input-alt-mobile", ng_model = "settingsTemplate.NewsImageWidth", type = "number", min = "10", max = "100000", style = "", validation_input_text = "Изображение новости" })
            }
            else
            {
                @Html.TextBoxFor(x => x.NewsImageWidth, new { id = "settingsTemplateNewsImageWidth", @class = "form-control input-alt-mobile", ng_model = "settingsTemplate.NewsImageWidth", type = "number", min = "10", max = "100000", style = "width:120px;", validation_input_text = "Изображение новости" })
            }
            <span class="col-xs-slim">px</span>&nbsp;
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <label for="settingsTemplateNewsImageHeight" class="@(isMobile ? "block m-b-sm" : "control-label m-b-xs")">
            @T("Admin.Settings.Template.Height")
        </label>
        <div class="flex middle-xs">
            <div class="input-group flex middle-xs">
                @if (isMobile)
                {
                    @Html.TextBoxFor(x => x.NewsImageHeight, new { id = "settingsTemplateNewsImageHeight", @class = "form-control input-alt-mobile", ng_model = "settingsTemplate.NewsImageHeight", type = "number", min = "10", max = "100000", style = "", validation_input_text = "Изображение новости" })
                }
                else
                {
                    @Html.TextBoxFor(x => x.NewsImageHeight, new { id = "settingsTemplateNewsImageHeight", @class = "form-control input-alt-mobile", ng_model = "settingsTemplate.NewsImageHeight", type = "number", min = "10", max = "100000", style = "width:120px;", validation_input_text = "Изображение новости" })
                }
                <span class="col-xs-slim">px</span>
            </div>
            <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Template.NewsImage")">
                <div class="help-content">
                    @T("Admin.Settings.Template.NewsImageHote")
                </div>
            </help-trigger>
        </div>
    </div>
</div>

<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <div class="@(isMobile ? "m-b-sm" : "control-label")" style="@(isMobile ? "font-weight:500;" : "")">
            @Html.LabelFor(x => x.MainPageText, T("Admin.Settings.News.MainPageText"))
        </div>
    </div>
    <div class="col-xs-12 col-md-6 relative flex middle-xs">
        @Html.TextBoxFor(x => x.MainPageText, new { @class = "form-control input-alt-mobile", ng_model = "settingsTemplate.MainPageText" })
        <help-trigger class="ng-cloak m-l-xs help-trigger-icon-abs @(isMobile ? "p-l-sm" : "")" classes="'setting__catalog-popover-custom'" data-title="@T("Admin.Settings.News.MainPageText")">
            <div class="help-content">
                @T("Admin.Settings.News.MainPageTextNote")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <div class="@(isMobile ? "m-b-sm" : "control-label")" style="@(isMobile ? "font-weight:500;" : "")">
            @Html.LabelFor(x => x.NewsPerPage, T("Admin.Settings.News.NewsPerPage"))
        </div>
    </div>
    <div class="col-xs-12 col-md-1 relative flex middle-xs">
        @Html.TextBoxFor(x => x.NewsPerPage, new { @class = "form-control input-alt-mobile", ng_model = "settingsTemplate.NewsPerPage" })
        <help-trigger class="ng-cloak m-l-xs help-trigger-icon-abs @(isMobile ? "p-l-sm" : "")" classes="'setting__catalog-popover-custom'" data-title="@T("Admin.Settings.News.NewsPerPage")">
            <div class="help-content">
                @T("Admin.Settings.News.NewsPerPageNote")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <div class="@(isMobile ? "m-b-sm" : "control-label")" style="@(isMobile ? "font-weight:500;" : "")">
            @Html.LabelFor(x => x.NewsMainPageCount, T("Admin.Settings.News.NewsMainPageCount"))
        </div>
    </div>
    <div class="col-xs-12 col-md-1 relative flex middle-xs">
        @Html.TextBoxFor(x => x.NewsMainPageCount, new { @class = "form-control input-alt-mobile", ng_model = "settingsTemplate.NewsMainPageCount" })
        <help-trigger class="ng-cloak m-l-xs help-trigger-icon-abs @(isMobile ? "p-l-sm" : "")" classes="'setting__catalog-popover-custom'" data-title="@T("Admin.Settings.News.NewsMainPageCount")">
            <div class="help-content">
                @T("Admin.Settings.News.NewsMainPageCountNote")
            </div>
        </help-trigger>
    </div>
</div>

@Html.Action("OtherSettings", new { section = AdvantShop.Configuration.ETemplateSettingSection.News, settings = Model.OtherSettingsSections})