@using AdvantShop.Web.Admin.Models.Settings.Templates
@model AdvantShop.Web.Admin.Models.Settings.Templates.SettingsTemplateModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="setting-title m-t-none">
    <h3 class="setting__subtitle">@T("Admin.Settings.Catalog.Product")</h3>
</div>

<div class="form-group setting__form-group">
    <div class="row middle-xs control-label">
        <div class="col-xs col-md-3 col-wl-2 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateShowProductArtNoOnProductCard" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.ShowProductArtNoOnProductCard")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex">
                @Html.CheckBoxFor(x => x.ShowProductArtNoOnProductCard, new { id = "settingsTemplateShowProductArtNoOnProductCard", @class = "adv-checkbox-input", ng_model = "settingsCatalog.ShowProductArtNoOnProductCard" })
                <span class="adv-checkbox-emul" data-e2e="ShowProductArtNoOnProductCard"></span>
            </label>
        </div>
        <help-trigger class="ng-cloak last-md @(isMobile ? "m-l-sm p-l-sm m-r-sm" : "")" data-title="@T("Admin.Settings.Catalog.ShowProductArtNoOnProductCard")">
            <div class="help-content">
                @T("Admin.Settings.Catalog.ShowProductArtNoOnProductCardHelp") <br>
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group setting__form-group">
    <div class="row middle-xs control-label">
        <div class="col-xs col-md-3 col-wl-2  @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateDisplayWeight" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.DisplayWeight")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex">
                @Html.CheckBoxFor(x => x.DisplayWeight, new { id = "settingsTemplateDisplayWeight", @class = "adv-checkbox-input", ng_model = "settingsCatalog.DisplayWeight" })
                <span class="adv-checkbox-emul" data-e2e="DisplayWeight"></span>
            </label>
        </div>
        <help-trigger class="ng-cloak last-md  @(isMobile ? "m-l-sm p-l-sm m-r-sm" : "")" data-title="@T("Admin.Settings.Catalog.DisplayWeight")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.ShowColumnWeight")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group setting__form-group">
    <div class="row middle-xs control-label">
        <div class="col-xs col-md-3 col-wl-2 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateDisplayDimensions" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.DisplayDimensions")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex">
                @Html.CheckBoxFor(x => x.DisplayDimensions, new { id = "settingsTemplateDisplayDimensions", @class = "adv-checkbox-input", ng_model = "settingsCatalog.DisplayDimensions" })
                <span class="adv-checkbox-emul" data-e2e="DisplayDimensions"></span>
            </label>
        </div>
        <help-trigger class="ng-cloak last-md @(isMobile ? "m-l-sm p-l-sm m-r-sm" : "")" data-title="@T("Admin.Settings.Catalog.DisplayDimensions")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.ShowColumnDimensions")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group setting__form-group">
    <div class="row middle-xs control-label">
        <div class="col-xs col-md-3 col-wl-2 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateShowAvailableLabelInProduct" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.ShowAvailableLableInProduct")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex">
                @Html.CheckBoxFor(x => x.ShowAvailableLableInProduct, new { id = "settingsTemplateShowAvailableLabelInProduct", @class = "adv-checkbox-input", ng_model = "settingsCatalog.ShowAvailableLableInProduct" })
                <span class="adv-checkbox-emul" data-e2e="ShowNotAvailableLableInProduct"></span>
            </label>
        </div>
        <help-trigger class="ng-cloak last-md @(isMobile ? "m-l-sm p-l-sm m-r-sm" : "")" data-title="@T("Admin.Settings.Catalog.ShowAvailableLableInProduct")">
            <div class="help-content">
                @T("Admin.Settings.Catalog.Product.OptionShowAvailableLable")
            </div>
        </help-trigger>
    </div>
</div>


<div class="form-group setting__form-group" ng-if="settingsCatalog.ShowAvailableLableInProduct">
    <div class="row middle-xs control-label">
        <div class="col-xs col-md-3 col-wl-2 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateShowStockAvailability" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.ShowStockAvailability")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex">
                @Html.CheckBoxFor(x => x.ShowStockAvailability, new { id = "settingsTemplateShowStockAvailability", @class = "adv-checkbox-input", ng_model = "settingsCatalog.ShowStockAvailability" })
                <span class="adv-checkbox-emul" data-e2e="ShowStockAvailability"></span>
            </label>
        </div>
        <help-trigger class="ng-cloak last-md @(isMobile ? "m-l-sm p-l-sm m-r-sm" : "")" data-title="@T("Admin.Settings.Catalog.ShowStockAvailability")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.ShowOrNotProductBalance") <br>
                <br>
                @T("Admin.SettingsCatalog.Product.ShowOrNotProductBalance.ForExample")<br>
                @T("Admin.SettingsCatalog.Product.EnabledOption")<br>
                @T("Admin.SettingsCatalog.Product.DisabledOption")
                <br><br>
                @T("Admin.Settings.Catalog.ShowStockAvailabilityLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group setting__form-group" ng-if="settingsCatalog.ShowAvailableLableInProduct && @AdvantShop.Saas.SaasDataService.IsEnabledFeature(saas => saas.HasWarehouses).ToLowerString()">
    <div class="row middle-xs control-label">
        <div class="col-xs col-md-3 col-wl-2 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateShowAvailableInWarehouseInProduct" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.ShowAvailableInWarehouseInProduct")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex">
                @Html.CheckBoxFor(x => x.ShowAvailableInWarehouseInProduct, new { id = "settingsTemplateShowAvailableInWarehouseInProduct", @class = "adv-checkbox-input", ng_model = "settingsCatalog.ShowAvailableInWarehouseInProduct" })
                <span class="adv-checkbox-emul" data-e2e="ShowAvailableInWarehouseInProduct"></span>
            </label>
        </div>
        <help-trigger class="ng-cloak last-md @(isMobile ? "m-l-sm p-l-sm m-r-sm" : "")" data-title="@T("Admin.Settings.Catalog.ShowAvailableInWarehouseInProduct")">
            <div class="help-content">
                @T("Admin.Settings.Catalog..ShowAvailableInWarehouseInProductHelp") <br>
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group setting__form-group" ng-if="settingsCatalog.ShowAvailableLableInProduct && settingsCatalog.ShowAvailableInWarehouseInProduct && @AdvantShop.Saas.SaasDataService.IsEnabledFeature(saas => saas.HasWarehouses).ToLowerString()">
    <div class="row middle-xs control-label">
        <div class="col-xs col-md-3 col-wl-2 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateShowOnlyAvailableWarehousesInProduct" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.ShowOnlyAvailableWarehousesInProduct")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex">
                @Html.CheckBoxFor(x => x.ShowOnlyAvailableWarehousesInProduct, new { id = "settingsTemplateShowOnlyAvailableWarehousesInProduct", @class = "adv-checkbox-input", ng_model = "settingsCatalog.ShowOnlyAvailableWarehousesInProduct" })
                <span class="adv-checkbox-emul" data-e2e="ShowOnlyAvailableWarehousesInProduct"></span>
            </label>
        </div>
    </div>
</div>

<div class="form-group row setting__form-group" ng-if="settingsCatalog.ShowAvailableLableInProduct && settingsCatalog.ShowAvailableInWarehouseInProduct && @AdvantShop.Saas.SaasDataService.IsEnabledFeature(saas => saas.HasWarehouses).ToLowerString()">
        <div class="col-xs-12 col-md-3 col-wl-2">
            <label for="settingsTemplateYaMapsApiKeyFoMapWarehouse" class="control-label">
                @T("Admin.Settings.Catalog.YaMapsApiKeyFoMapWarehouse")
            </label>
        </div>
        <div class="col-xs-12 col-md-4 flex middle-xs relative">
            @Html.TextBoxFor(x => x.YaMapsApiKeyFoMapWarehouse, new { id = "settingsTemplateYaMapsApiKeyFoMapWarehouse", @class = "form-control input-alt-mobile", ng_model = "settingsCatalog.YaMapsApiKeyFoMapWarehouse" })
            <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs @(isMobile ? "p-l-sm" : "")" data-title="@T("Admin.Settings.Catalog.YaMapsApiKeyFoMapWarehouse")">
                <div class="help-content">
                    @T("Admin.Settings.Catalog.YaMapsApiKeyFoMapWarehouseHelp")
                </div>
            </help-trigger>
        </div>
</div>

<div class="form-group setting__form-group">
    <div class="row middle-xs control-label">
        <div class="col-xs col-md-3 col-wl-2 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateShowNotAvailableLableInProduct" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.ShowNotAvailableLableInProduct")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex">
                @Html.CheckBoxFor(x => x.ShowNotAvailableLableInProduct, new { id = "settingsTemplateShowNotAvailableLableInProduct", @class = "adv-checkbox-input", ng_model = "settingsCatalog.ShowNotAvailableLableInProduct" })
                <span class="adv-checkbox-emul" data-e2e="ShowNotAvailableLableInProduct"></span>
            </label>
        </div>
        <help-trigger class="ng-cloak last-md @(isMobile ? "m-l-sm p-l-sm m-r-sm" : "")" data-title="@T("Admin.Settings.Catalog.ShowNotAvailableLableInProduct")">
            <div class="help-content">
                @T("Admin.Settings.Catalog.Product.OptionShowNotAvailableLable")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group setting__form-group">
    <div class="row middle-xs control-label">
        <div class="col-xs col-md-3 col-wl-2 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateShowMarketplaceButton" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.ShowMarketplaceButton")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex">
                @Html.CheckBoxFor(x => x.ShowMarketplaceButton, new { id = "settingsTemplateShowMarketplaceButton", @class = "adv-checkbox-input", ng_model = "settingsCatalog.ShowMarketplaceButton" })
                <span class="adv-checkbox-emul" data-e2e="ShowMarketplaceButton"></span>
            </label>
        </div>
        <help-trigger class="ng-cloak last-md @(isMobile ? "m-l-sm p-l-sm m-r-sm" : "")" data-title="@T("Admin.Settings.Catalog.ShowMarketplaceButton")">
            <div class="help-content">
                @T("Admin.Settings.Catalog.OptionShowMarketplaceButton")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group setting__form-group">
    <div class="row middle-xs control-label">
        <div class="col-xs col-md-3 col-wl-2 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateShowUnitCardProduct" class="setting__font-weight--xs">
                Отображать единицу измерения 
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex">
                @Html.CheckBoxFor(x => x.ShowUnitCardProduct, new { id = "settingsTemplateShowUnitCardProduct", @class = "adv-checkbox-input", ng_model = "settingsTemplateShowUnitCardProduct" })
                <span class="adv-checkbox-emul"></span>
            </label>
        </div>
    </div>
</div>

@Html.Action("OtherSettings", new { section = AdvantShop.Configuration.ETemplateSettingSection.Product, settings = Model.OtherSettingsSections })

<div class="setting-title setting-title__m-t-md">
    <h3 class="setting__subtitle">@T("Admin.Settings.Catalog.ProductPictures")</h3>
</div>

@*<div class="form-group row">
        <div class="col-xs-3 col-wl-2">
            <div class="setting-label-wrap">
                @T("Admin.Settings.Catalog.CompressBigImage")
            </div>
        </div>
        <div class="col-xs-4">
            <label class="adv-checkbox-label">
                @Html.CheckBoxFor(x => x.CompressBigImage, new { @class = "adv-checkbox-input", ng_model = "settingsCatalog.CompressBigImage" })
                <span class="adv-checkbox-emul" data-e2e="CompressBigImage"></span>
            </label>
            <help-trigger class="ng-cloak m-l-xs" data-title="@T("Admin.Settings.Catalog.CompressBigImage")">
                <div class="help-content">
                    @T("Admin.SettingsCatalog.Product.LargePhotoOfProduct")
                    <br><br>
                    @T("Admin.SettingsCatalog.Product.IfOption")<b>@T("Admin.SettingsCatalog.Product.IsEnabled")</b>@T("Admin.SettingsCatalog.Product.IfEnabledThen")
                    <br><br>
                    @T("Admin.SettingsCatalog.Product.IfOption")<b>@T("Admin.SettingsCatalog.Product.IsDisabled")</b>@T("Admin.SettingsCatalog.Product.IfDisabledThen")
                </div>
            </help-trigger>
        </div>
    </div>*@
<div class="form-group setting__form-group">
    <div class="row middle-xs control-label flex-nowrap">
        <div class="col-xs col-md-3 col-wl-2 flex-shrink-1 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateEnableZoom" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.EnableZoom")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex">
                @Html.CheckBoxFor(x => x.EnableZoom, new { id = "settingsTemplateEnableZoom", @class = "adv-checkbox-input", ng_model = "settingsCatalog.EnableZoom" })
                <span class="adv-checkbox-emul" data-e2e="EnableZoom"></span>
            </label>
        </div>
        <help-trigger class="ng-cloak last-md @(isMobile ? "m-l-sm p-l-sm m-r-sm" : "")" data-title="@T("Admin.Settings.Catalog.EnableZoom")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.TurnPhotoCloser")
            </div>
        </help-trigger>
    </div>
</div>



<div class="setting-title setting-title__m-t-md">
    <h3 class="setting__subtitle">@T("Admin.Settings.Catalog.Reviews")</h3>
</div>

<div class="form-group setting__form-group">
    <div class="row middle-xs control-label">
        <div class="col-xs col-md-3 col-wl-2 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateAllowReviews" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.AllowReviews")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex" data-e2e="allowReviews">
                @Html.CheckBoxFor(x => x.AllowReviews, new { id = "settingsTemplateAllowReviews", @class = "adv-checkbox-input", ng_model = "settingsCatalog.AllowReviews" })
                <span class="adv-checkbox-emul"></span>
            </label>
        </div>
        <help-trigger class="ng-cloak last-md @(isMobile ? "m-l-sm p-l-sm m-r-sm" : "")" data-title="@T("Admin.Settings.Catalog.AllowReviews")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.OptionAllowToAddReviews")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group setting__form-group">
    <div class="row middle-xs control-label">
        <div class="col-xs col-md-3 col-wl-2 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateModerateReviews" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.ModerateReviews")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex" data-e2e="moderateReviews">
                @Html.CheckBoxFor(x => x.ModerateReviews, new { id = "settingsTemplateModerateReviews", @class = "adv-checkbox-input", ng_model = "settingsCatalog.ModerateReviews" })
                <span class="adv-checkbox-emul"></span>
            </label>
        </div>
        <help-trigger class="ng-cloak last-md @(isMobile ? "m-l-sm p-l-sm m-r-sm" : "")" data-title="@T("Admin.Settings.Catalog.ModerateReviews")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.IfOption")<b>@T("Admin.SettingsCatalog.Product.IsEnabled")</b>@T("Admin.SettingsCatalog.Product.ReviewsFirstGoToModeration")
                <br><br>
                @T("Admin.Settings.Catalog.ModerateReviewsLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group setting__form-group">
    <div class="row middle-xs control-label flex-nowrap">
        <div class="col-xs col-md-3 col-wl-2 flex-shrink-1 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateReviewsVoiteOnlyRegisteredUsers" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.ReviewsVoiteOnlyRegisteredUsers")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex" data-e2e="moderateReviews">
                @Html.CheckBoxFor(x => x.ReviewsVoiteOnlyRegisteredUsers, new { id = "settingsTemplateReviewsVoiteOnlyRegisteredUsers", @class = "adv-checkbox-input", ng_model = "settingsCatalog.ReviewsVoiteOnlyRegisteredUsers" })
                <span class="adv-checkbox-emul"></span>
            </label>
        </div>
        <help-trigger class="ng-cloak last-md @(isMobile ? "m-l-sm p-l-sm m-r-sm" : "")" data-title="@T("Admin.Settings.Catalog.ReviewsVoiteOnlyRegisteredUsers")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.IfOption")<b>@T("Admin.SettingsCatalog.Product.IsEnabled")</b>@T("Admin.SettingsCatalog.Product.DescriptionReviewsVoiteOnlyRegisteredUsers")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group setting__form-group">
    <div class="row middle-xs control-label flex-nowrap">
        <div class="col-xs col-md-3 col-wl-2 flex-shrink-1 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateDisplayReviewsImage" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.DisplayReviewsImage")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex" data-e2e="displayReviewsImage">
                @Html.CheckBoxFor(x => x.DisplayReviewsImage, new { id = "settingsTemplateDisplayReviewsImage", @class = "adv-checkbox-input", ng_model = "settingsCatalog.DisplayReviewsImage" })
                <span class="adv-checkbox-emul"></span>
            </label>
        </div>
        <help-trigger class="ng-cloak last-md @(isMobile ? "m-l-sm p-l-sm m-r-sm" : "")" data-title="@T("Admin.Settings.Catalog.DisplayReviewsImage")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.ShowImagesToReviews")
                @T("Admin.Settings.Catalog.Reviews.HelpLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group setting__form-group">
    <div class="row middle-xs control-label flex-nowrap">
        <div class="col-xs col-md-3 col-wl-2 flex-shrink-1 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateAllowReviewsImageUploading" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.AllowReviewsImageUploading")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex" data-e2e="allowReviewsImageUploading">
                @Html.CheckBoxFor(x => x.AllowReviewsImageUploading, new { id = "settingsTemplateAllowReviewsImageUploading", @class = "adv-checkbox-input", ng_model = "settingsCatalog.AllowReviewsImageUploading" })
                <span class="adv-checkbox-emul"></span>
            </label>
        </div>
        <help-trigger class="ng-cloak last-md @(isMobile ? "m-l-sm p-l-sm m-r-sm" : "")" data-title="@T("Admin.Settings.Catalog.AllowReviewsImageUploading")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.AllowAttachImagesToReviews")
                @T("Admin.Settings.Catalog.Reviews.HelpLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <label class="control-label">
            @T("Admin.Settings.Catalog.ReviewImageSize")
        </label>
    </div>
    <div class="col-xs-6 col-md-2">
        <label for="settingsTemplateReviewImageWidth" class="@(isMobile ? "block m-b-sm" : "control-label m-b-xs")">
            @T("Admin.Settings.Catalog.ReviewImageWidth")
        </label>
        <div class="input-group flex middle-xs">
            @if (isMobile)
            {
                @Html.TextBoxFor(x => x.ReviewImageWidth, new { id = "settingsTemplateReviewImageWidth", @class = "form-control input-alt-mobile", ng_model = "settingsCatalog.ReviewImageWidth", style = "" })
            }
            else
            {
                @Html.TextBoxFor(x => x.ReviewImageWidth, new { id = "settingsTemplateReviewImageWidth", @class = "form-control input-alt-mobile", ng_model = "settingsCatalog.ReviewImageWidth", style = "width:120px;" })
            }
            <span class="col-xs-slim">px</span>&nbsp;
        </div>
    </div>

    <div class="col-xs-6 col-md-2">
        <label for="settingsTemplateReviewImageHeight" class="@(isMobile ? "block m-b-sm" : "control-label m-b-xs")">
            @T("Admin.Settings.Catalog.ReviewImageHeight")
        </label>
        <div class="flex middle-xs">
            <div class="input-group flex middle-xs">
                @if (isMobile)
                {
                    @Html.TextBoxFor(x => x.ReviewImageHeight, new { id = "settingsTemplateReviewImageHeight", @class = "form-control input-alt-mobile", ng_model = "settingsCatalog.ReviewImageHeight", style = "" })
                }
                else
                {
                    @Html.TextBoxFor(x => x.ReviewImageHeight, new { id = "settingsTemplateReviewImageHeight", @class = "form-control input-alt-mobile", ng_model = "settingsCatalog.ReviewImageHeight", style = "width:120px;" })
                }
                <span class="col-xs-slim">px</span>&nbsp;

            </div>
            <help-trigger class="ng-cloak" data-title="@T("Admin.Settings.Catalog.ReviewImageSize")">
                <div class="help-content">
                    @T("Admin.SettingsCatalog.Product.MaximumSizeOfFeedbackImages")
                    @T("Admin.Settings.Catalog.Reviews.HelpLink")
                </div>
            </help-trigger>
        </div>
    </div>
</div>

<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <label for="settingsTemplateWhoAllowReviews" class="control-label">
            @T("Admin.Settings.Catalog.WhoAllowReviews")
        </label>
    </div>
    <div class="col-xs-12 col-md-4 flex middle-xs relative">
        @Html.DropDownListFor(x => x.WhoAllowReviews, Model.WhoAllowReviewsOption, new { id = "settingsTemplateWhoAllowReviews", @class = "form-control input-alt-mobile", ng_model = "settingsCatalog.WhoAllowReviews" })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs @(isMobile ? "p-l-sm" : "")" data-title="@T("Admin.Settings.Catalog.WhoAllowReviews")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.WhoCanAddReviews")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group setting__form-group">
    <div class="row middle-xs control-label flex-nowrap">
        <div class="col-xs col-md-3 col-wl-2 flex-shrink-1 @(isMobile ? "flex-grow" : "")">
            <label for="settingsTemplateShowVerificationCheckmarkAtAdminInReviews" class="setting__font-weight--xs">
                @T("Admin.Settings.Catalog.ShowVerificationCheckmarkAtAdminInReviews")
            </label>
        </div>
        <div class="col-xs-slim relative flex middle-xs first-xs last-md @(isMobile ? "p-r-xs" : "")">
            <label class="adv-checkbox-label flex" data-e2e="showVerificationCheckmarkAtAdminInReviews">
                @Html.CheckBoxFor(x => x.ShowVerificationCheckmarkAtAdminInReviews, new { id = "settingsTemplateShowVerificationCheckmarkAtAdminInReviews", @class = "adv-checkbox-input", ng_model = "settingsCatalog.ShowVerificationCheckmarkAtAdminInReviews" })
                <span class="adv-checkbox-emul"></span>
            </label>
        </div>
        <help-trigger class="ng-cloak last-md @(isMobile ? "m-l-sm p-l-sm m-r-sm" : "")" data-title="@T("Admin.Settings.Catalog.ShowVerificationCheckmarkAtAdminInReviews")">
            <div class="help-content">
                @T("Admin.Settings.Catalog.ShowVerificationCheckmarkAtAdminInReviewsHint")
            </div>
        </help-trigger>
    </div>
</div>

<div class="setting-title setting-title__m-t-md">
    <h3 class="setting__subtitle">@T("Admin.Settings.Catalog.Shipping")</h3>
</div>

<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <label for="settingsTemplateShowShippingsMethodsInDetails" class="control-label">
            @T("Admin.Settings.Catalog.ShowShippingsMethodsInDetails")
        </label>
    </div>
    <div class="col-xs-12 col-md-4 flex middle-xs relative">
        @Html.DropDownListFor(x => x.ShowShippingsMethodsInDetails, Model.ShowShippingsMethods, new { id = "settingsTemplateShowShippingsMethodsInDetails", @class = "form-control input-alt-mobile", ng_model = "settingsCatalog.ShowShippingsMethodsInDetails" })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs @(isMobile ? "p-l-sm" : "")" data-title="@T("Admin.Settings.Catalog.ShowShippingsMethodsInDetails")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.TypeOfDelivery")<br><br>
                @T("Admin.SettingsCatalog.Product.OptionToTurnOffDisplayInList")
                @T("Admin.Settings.Catalog.Shipping.HelpLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <label for="settingsTemplateShippingsMethodsInDetailsCount" class="control-label">
            @T("Admin.Settings.Catalog.ShippingsMethodsInDetailsCount")
        </label>
    </div>
    <div class="col-xs-12 col-md-4 relative flex middle-xs">
        @Html.TextBoxFor(x => x.ShippingsMethodsInDetailsCount, new { id = "settingsTemplateShippingsMethodsInDetailsCount", @class = "form-control input-alt-mobile", ng_model = "settingsCatalog.ShippingsMethodsInDetailsCount" })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs @(isMobile ? "p-l-sm" : "")" data-title="@T("Admin.Settings.Catalog.ShippingsMethodsInDetailsCount")">
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.AllowedDeliveryMethods")<br><br>
                @T("Admin.SettingsCatalog.Product.EachDeliveryMethodHasOptionTurnOff")
                @T("Admin.Settings.Catalog.Shipping.HelpLink")
            </div>
        </help-trigger>
    </div>
</div>


<div class="setting-title setting-title__m-t-md">
    <h3 class="setting__subtitle">@T("Admin.Settings.Catalog.CrossUpSale")</h3>
</div>

<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <label for="settingsTwmplateRelatedProductName" class="control-label">
            @T("Admin.Settings.Catalog.RelatedProductName")
        </label>
    </div>
    <div class="col-xs-12 col-md-4 relative flex middle-xs">
        @Html.TextBoxFor(x => x.RelatedProductName, new { id = "settingsTwmplateRelatedProductName", @class = "form-control input-alt-mobile", ng_model = "settingsCatalog.RelatedProductName" })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs @(isMobile ? "p-l-sm" : "")" data-title='@T("Admin.Settings.Catalog.RelatedProductName")'>
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.Attach2listsToProduct")
                <br>
                <br>
                @T("Admin.SettingsCatalog.Product.ForExampleWithThisProductBuy")
                @T("Admin.Settings.Catalog.ProductName.HelpLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <label for="settingsTemplateAlternativeProductName" class="control-label">
            @T("Admin.Settings.Catalog.AlternativeProductName")
        </label>
    </div>
    <div class="col-xs-12 col-md-4 relative flex middle-xs">
        @Html.TextBoxFor(x => x.AlternativeProductName, new { id = "settingsTemplateAlternativeProductName", @class = "form-control input-alt-mobile", ng_model = "settingsCatalog.AlternativeProductName" })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs @(isMobile ? "p-l-sm" : "")" data-title='@T("Admin.Settings.Catalog.AlternativeProductName")'>
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.Attach2listsToProduct")
                <br>
                <br>
                @T("Admin.SettingsCatalog.Product.ForExampleSimilarGoods")
                @T("Admin.Settings.Catalog.ProductName.HelpLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <label for="settingsTemplateRelatedProductSourceType" class="control-label">
            @T("Admin.Settings.Catalog.RelatedProductSourceType")
        </label>
    </div>
    <div class="col-xs-12 col-md-4 relative flex middle-xs">
        @Html.DropDownListFor(x => x.RelatedProductSourceType, Model.RelatedProductTypes, new { id = "settingsTemplateRelatedProductSourceType", @class = "form-control input-alt-mobile", ng_model = "settingsCatalog.RelatedProductSourceType" })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs @(isMobile ? "p-l-sm" : "")" data-title='@T("Admin.Settings.Catalog.RelatedProductSourceType")'>
            <div class="help-content">
                @T("Admin.Settings.Catalog.Product.ChooseWhereLoad")
                <br>
                <br>
                <b>@T("Admin.SettingsCatalog.Product.DesignatedGoods")</b>@T("Admin.SettingsCatalog.Product.ItMeansToShowProductFromList")
                <br><br>
                @T("Admin.Settings.Catalog.RelatedProductSourceTypeLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <label for="settingsTemplateRelatedProductSourceType" class="control-label">
            @T("Admin.Settings.Catalog.SimilarProductSourceType")
        </label>
    </div>
    <div class="col-xs-12 col-md-4 relative flex middle-xs">
        @Html.DropDownListFor(x => x.SimilarProductSourceType, Model.RelatedProductTypes, new { id = "settingsTemplateSimilarProductSourceType", @class = "form-control input-alt-mobile", ng_model = "settingsCatalog.SimilarProductSourceType" })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs @(isMobile ? "p-l-sm" : "")" data-title='@T("Admin.Settings.Catalog.SimilarProductSourceType")'>
            <div class="help-content">
                @T("Admin.Settings.Catalog.Product.ChooseWhereLoad")
                <br>
                <br>
                <b>@T("Admin.SettingsCatalog.Product.DesignatedGoods")</b>@T("Admin.SettingsCatalog.Product.ItMeansToShowProductFromList")
                <br><br>
                @T("Admin.Settings.Catalog.RelatedProductSourceTypeLink")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <label for="settingsTemplateRelatedProductsMaxCount" class="control-label">
            @T("Admin.Settings.Catalog.RelatedProductsMaxCount")
        </label>
    </div>
    <div class="col-xs-12 col-md-4 relative flex middle-xs">
        @Html.TextBoxFor(x => x.RelatedProductsMaxCount, new
            {
                id = "settingsTemplateRelatedProductsMaxCount",
                @class = "form-control input-alt-mobile",
                ng_model = "settingsCatalog.RelatedProductsMaxCount",
                validation_input_text = T("Admin.Settings.Catalog.RelatedProductsMaxCount"),
                @type = "number",
                @min = 0,
                @max = 30
            })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs @(isMobile ? "p-l-sm" : "")" data-title='@T("Admin.Settings.Catalog.RelatedProductsMaxCount")'>
            <div class="help-content">
                @T("Admin.SettingsCatalog.Product.MaximumNumberOfProducts")
            </div>
        </help-trigger>
    </div>
</div>
