@model AdvantShop.Web.Admin.ViewModels.Home.SalesPlanDashboardViewModel

@{ 
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="ibox float-e-margins @(isMobile ? "form-group card" : "")">
    <article class="ibox-content sales-plan-block">
        <header class="sales-plan-block__header  @(isMobile ? "m-b-sm" : "")">
            <h3 class="sales-plan-block__title">@T("Admin.Home.SalesPlanDasboard.Sales")</h3>
            <div data-e2e="totalSales"
                 class="sales-plan-block__total">
                @Model.Sales
            </div>
        </header>
        <div class="progress progress-mini sales-plan-block__progress @(isMobile ? "m-b-sm" : "")">
            <div style="width: @(Model.PlanPercent)%"
                 class="progress-bar sales-plan-block__progress-bar"></div>
        </div>
        <small data-e2e="plannedSales"
               class="sales-plan-block__goal">
            @T("Admin.Home.SalesPlanDasboard.Planned"): @Model.PlannedSales
        </small>
    </article>
</div>