@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.AvangardPaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Avangard.IDSalesPoint")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.ShopId, new { ng_model = "paymentMethod.Parameters.ShopId", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Avangard.IDSalesPoint").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="ID">
            @T("Admin.PaymentMethods.Avangard.UniqueID")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Avangard.Password")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.ShopPassword, new { ng_model = "paymentMethod.Parameters.ShopPassword", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Avangard.Password").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.Avangard.Password")">
            @T("Admin.PaymentMethods.Avangard.PasswordForThisCurrentPoint")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Avangard.SignatureAcquiringSystem")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.AvSign, new { ng_model = "paymentMethod.Parameters.AvSign", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Avangard.SignatureAcquiringSystem").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.Avangard.SignatureAcquiringSystem")">
            @T("Admin.PaymentMethods.Avangard.IssuedByTechnicalSupport")
        </help-trigger>
    </div>
</div>


