@using AdvantShop.FilePath
@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.BillByPaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group setting--label-with-checkbox-reverse">
    <div class="flex-grow-n setting__label setting--m-none @(isMobile ? "col-xs-11" : "col-fixed-size-md")">
        <label for="ShowPaymentDetails">@T("Admin.PaymentMethods.BillBy.ShowPaymentDetails")</label>
    </div>
    <div class="col-xs-1 col-sm-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.ShowPaymentDetails, new { ng_model = "paymentMethod.Parameters.ShowPaymentDetails", @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.CompanyName")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.CompanyName, new { ng_model = "paymentMethod.Parameters.CompanyName", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.CompanyName") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.SettlementAccount")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.TransAccount, new { ng_model = "paymentMethod.Parameters.TransAccount", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.SettlementAccount") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.CorrespondentAccount")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.CorAccount, new { ng_model = "paymentMethod.Parameters.CorAccount", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.CorrespondentAccount") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.Address")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Address, new { ng_model = "paymentMethod.Parameters.Address", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.Address") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.Phone")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Telephone, new { ng_model = "paymentMethod.Parameters.Telephone", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.Phone") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.BillBy.TIN")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.UNP, new { ng_model = "paymentMethod.Parameters.UNP", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.BillBy.TIN") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        @T("Admin.PaymentMethods.BillBy.OKPO")
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.OKPO, new { ng_model = "paymentMethod.Parameters.OKPO", @class = "form-control input-alt" })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.BIC")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.BIK, new { ng_model = "paymentMethod.Parameters.BIK", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.BIC") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.BankName")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.BankName, new { ng_model = "paymentMethod.Parameters.BankName", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.BankName") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.Director")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Director, new { ng_model = "paymentMethod.Parameters.Director", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.Director") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.DirectorPosition")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.PosDirector, new { ng_model = "paymentMethod.Parameters.PosDirector", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.DirectorPosition") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.ChiefAccountant")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Accountant, new { ng_model = "paymentMethod.Parameters.Accountant", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.ChiefAccountant") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.AccountantPosition")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.PosAccountant, new { ng_model = "paymentMethod.Parameters.PosAccountant", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.AccountantPosition") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.Manager")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Manager, new { ng_model = "paymentMethod.Parameters.Manager", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.Manager") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.ManagerPosition")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.PosManager, new { ng_model = "paymentMethod.Parameters.PosManager", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.ManagerPosition") })
    </div>
</div>

<div class="form-group row setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span>@T("Admin.PaymentMethods.Bill.Print")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        <bill-stamp method-id="@Model.PaymentMethodId"
                    stamp-img="@Model.StampImageName"
                    stamp-img-src="@(Model.StampImageName != null ? FoldersHelper.GetPath(FolderType.Pictures, Model.StampImageName, false) : null)">
        </bill-stamp>
    </div>
</div>
