@using AdvantShop.FilePath
@using AdvantShop.Payment
@using AdvantShop.Saas
@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.BillPaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
    var isEnabledLegalEntityFeature = !SaasDataService.IsSaasEnabled || SaasDataService.CurrentSaasData.CustomerTypes;
}
@if (isEnabledLegalEntityFeature)
{
    <div class="form-group row middle-xs setting__form-group">
        <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
            <span class="text-required">@T("Admin.PaymentMethods.Bill.GetCustomerDataMethod")</span>
        </div>
        <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
            @Html.DropDownListFor(x => x.GetCustomerDataMethod, Model.GetCustomerDataMethods, new { ng_model = "paymentMethod.Parameters.GetCustomerDataMethod", ng_init = "paymentMethod.Parameters.GetCustomerDataMethod='" + (Model.GetCustomerDataMethod == "0" ? "" : Model.GetCustomerDataMethod) + "'", @class = "form-control input-alt" })
        </div>
    </div>
}

<div ng-if="paymentMethod.Parameters.GetCustomerDataMethod=='@EGetCustomerDataMethod.FromAdditionalFields.ToString()'">
    <div class="form-group row middle-xs setting__form-group">
        <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
            <span class="text-required">@T("Admin.PaymentMethods.Bill.CustomerCompanyName")</span>
        </div>
        <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
            @Html.DropDownListFor(x => x.CustomerCompanyName, Model.CustomerFields, new { ng_model = "paymentMethod.Parameters.CustomerCompanyName", ng_init = "paymentMethod.Parameters.CustomerCompanyName='" + (Model.CustomerCompanyName == "0" ? "" : Model.CustomerCompanyName) + "'", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.CustomerCompanyName") } )
        </div>
    </div>

    <div class="form-group row middle-xs setting__form-group">
        <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
            <span class="text-required">@T("Admin.PaymentMethods.Bill.CustomerINN")</span>
        </div>
        <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
            @Html.DropDownListFor(x => x.CustomerINN, Model.CustomerFields, new { ng_model = "paymentMethod.Parameters.CustomerINN", ng_init = "paymentMethod.Parameters.CustomerINN='" + (Model.CustomerINN == "0" ? "" : Model.CustomerINN) + "'", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.CustomerINN") } )
        </div>
    </div>

    <div class="form-group row middle-xs setting__form-group">
        <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
            <span class="text-required">@T("Admin.PaymentMethods.Bill.CustomerKpp")</span>
        </div>
        <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
            @Html.DropDownListFor(x => x.CustomerKpp, Model.CustomerFields, new { ng_model = "paymentMethod.Parameters.CustomerKpp", ng_init = "paymentMethod.Parameters.CustomerKpp='" + (Model.CustomerKpp == "0" ? "" : Model.CustomerKpp) + "'", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.CustomerKpp") } )
        </div>
    </div>

    @if (!Model.IsEnabledLegalEntity)
    {
        <div class="adv-panel-info setting__mobile-adv-panel-info adv-panel-info--show">
            <a href="settingscustomers?tab=typesofcustomers" target="_blank">Внимание! Включите настройку типа покупателя "Юридические лица"</a>
        </div>
    }
</div>

<div ng-if="!paymentMethod.Parameters.GetCustomerDataMethod || paymentMethod.Parameters.GetCustomerDataMethod=='@EGetCustomerDataMethod.InPayment.ToString()'">
    <div class="form-group row middle-xs setting__form-group">
        @if (!isMobile)
        {
            <div class="col-xs-11 flex-grow-n col-fixed-size-md setting__label setting--m-none">
                @T("Admin.PaymentMethods.Bill.ShowPaymentDetails")
            </div>
        }
        <div class="col-xs-12 col-md-6 relative @(isMobile ? "flex middle-xs m-t-sm" : "")">
            <label class="adv-checkbox-label form-label-block">
                @Html.CheckBoxFor(x => x.ShowPaymentDetails, new { ng_model = "paymentMethod.Parameters.ShowPaymentDetails", @class = "adv-checkbox-input" })
                <span class="adv-checkbox-emul"></span>
            </label>
            @if (isMobile)
            {
                <label for="ShowPaymentDetails" class="col-xs setting__label">
                    @T("Admin.PaymentMethods.Bill.ShowPaymentDetails")
                </label>
            }
            <help-trigger class="ng-cloak @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.Bill.ShowPaymentDetails")">
                @T("Admin.PaymentMethods.Bill.ShowPaymentDetails.Help")
            </help-trigger>
        </div>
    </div>
</div>

<div class="form-group row middle-xs setting__form-group" ng-show="paymentMethod.Parameters.ShowPaymentDetails || paymentMethod.Parameters.GetCustomerDataMethod=='@EGetCustomerDataMethod.FromAdditionalFields.ToString()'">
    @if (!isMobile)
    {
        <div class="col-xs-11 flex-grow-n col-fixed-size-md setting__label setting--m-none">
            @T("Admin.PaymentMethods.Bill.RequiredPaymentDetails")
        </div>
    }
    <div class="col-xs-12 col-md-6 relative @(isMobile ? "flex middle-xs m-t-sm" : "")">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.RequiredPaymentDetails, new { ng_model = "paymentMethod.Parameters.RequiredPaymentDetails", @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
        @if (isMobile)
        {
            <label for="RequiredPaymentDetails" class="col-xs setting__label">
                @T("Admin.PaymentMethods.Bill.RequiredPaymentDetails")
            </label>
        }
        <help-trigger class="ng-cloak @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.Bill.RequiredPaymentDetails")">
            @T("Admin.PaymentMethods.Bill.RequiredPaymentDetails.Help")
        </help-trigger>
    </div>
</div>

<div class="shipping-item-settings-header inline content-header m-b-md setting__subtitle">
    @T("Admin.PaymentMethods.Bill.AccountDetails")
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.CompanyName")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.CompanyName, new { ng_model = "paymentMethod.Parameters.CompanyName", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.CompanyName") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.SettlementAccount")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.TransAccount, new { ng_model = "paymentMethod.Parameters.TransAccount", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.SettlementAccount") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.CorrespondentAccount")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.CorAccount, new { ng_model = "paymentMethod.Parameters.CorAccount", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.CorrespondentAccount") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.Address")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Address, new { ng_model = "paymentMethod.Parameters.Address", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.Address") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.Phone")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Telephone, new { ng_model = "paymentMethod.Parameters.Telephone", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.Phone") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.TIN")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.INN, new { ng_model = "paymentMethod.Parameters.INN", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.TIN") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        @T("Admin.PaymentMethods.Bill.KPP")
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.KPP, new { ng_model = "paymentMethod.Parameters.KPP", @class = "form-control input-alt" })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.BIC")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.BIK, new { ng_model = "paymentMethod.Parameters.BIK", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.BIC") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.BankName")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.BankName, new { ng_model = "paymentMethod.Parameters.BankName", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.BankName") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.Director")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Director, new { ng_model = "paymentMethod.Parameters.Director", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.Director") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.DirectorPosition")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.PosDirector, new { ng_model = "paymentMethod.Parameters.PosDirector", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.DirectorPosition") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.ChiefAccountant")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Accountant, new { ng_model = "paymentMethod.Parameters.Accountant", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.ChiefAccountant") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.AccountantPosition")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.PosAccountant, new { ng_model = "paymentMethod.Parameters.PosAccountant", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.AccountantPosition") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.Manager")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Manager, new { ng_model = "paymentMethod.Parameters.Manager", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.Manager") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Bill.ManagerPosition")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.PosManager, new { ng_model = "paymentMethod.Parameters.PosManager", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Bill.ManagerPosition") })
    </div>
</div>

<div class="form-group row setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span>@T("Admin.PaymentMethods.Bill.Print")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        <bill-stamp method-id="@Model.PaymentMethodId"
                    stamp-img="@Model.StampImageName"
                    stamp-img-src="@(Model.StampImageName != null ? FoldersHelper.GetPath(FolderType.Pictures, Model.StampImageName, false) : null)">
        </bill-stamp>
    </div>
</div>
