@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.CashPaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    @if (!isMobile)
    {
        <div class="col-xs-11 flex-grow-n col-fixed-size-md setting__label setting--m-none">
            @T("Admin.PaymentMethods.Cash.ShowPaymentDetails")
        </div>
    }
    <div class="col-xs-12 col-md-6 relative @(isMobile ? "flex middle-xs m-t-sm" : "")">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.ShowPaymentDetails, new { ng_model = "paymentMethod.Parameters.ShowPaymentDetails", @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
        @if (isMobile)
        {
            <label for="ShowPaymentDetails" class="col-xs setting__label">
                @T("Admin.PaymentMethods.Cash.ShowPaymentDetails")
            </label>
        }
    </div>
</div>

<div class="form-group row middle-xs setting__form-group" ng-show="paymentMethod.Parameters.ShowPaymentDetails">
    @if (!isMobile)
    {
        <div class="col-xs-11 flex-grow-n col-fixed-size-md setting__label setting--m-none">
            @T("Admin.PaymentMethods.Cash.RequiredPaymentDetails")
        </div>
    }
    <div class="col-xs-12 col-md-6 relative @(isMobile ? "flex middle-xs m-t-sm" : "")">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.RequiredPaymentDetails, new { ng_model = "paymentMethod.Parameters.RequiredPaymentDetails", @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
        @if (isMobile)
        {
            <label for="RequiredPaymentDetails" class="col-xs setting__label">
                @T("Admin.PaymentMethods.Cash.RequiredPaymentDetails")
            </label>
        }
    </div>
</div>
