@using AdvantShop.FilePath
@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.CheckPaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Check.CompanyName")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.CompanyName, new { ng_model = "paymentMethod.Parameters.CompanyName", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Check.CompanyName") })
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Check.PhoneNumber")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Phone, new { ng_model = "paymentMethod.Parameters.Phone", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Check.PhoneNumber") })
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Check.Country")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Country, new { ng_model = "paymentMethod.Parameters.Country", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Check.Country") })
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Check.StateProvince")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.State, new { ng_model = "paymentMethod.Parameters.State", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Check.StateProvince") })
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Check.City")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.City, new { ng_model = "paymentMethod.Parameters.City", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Check.City") })
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Check.Address")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Address, new { ng_model = "paymentMethod.Parameters.Address", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Check.Address") })
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        @T("Admin.PaymentMethods.Check.Fax")
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Fax, new { ng_model = "paymentMethod.Parameters.Fax", @class = "form-control input-alt", required = "required", validation_input_text = @T("Admin.PaymentMethods.Check.Fax") })
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Check.PhoneNumericalView")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.IntPhone, new { ng_model = "paymentMethod.Parameters.BIK", @class = "form-control input-alt", @type = "number", required = "required", validation_input_text = T("Admin.PaymentMethods.Check.PhoneNumericalView") })
    </div>
</div>