@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.CloudPaymentsPaymentModel
@{
    var sites = new List<SelectListItem>()
    {
        new SelectListItem() {Text = "cloudpayments.ru", Value = "cloudpayments.ru"},
        new SelectListItem() {Text = "cloudpayments.kz", Value = "cloudpayments.kz"},
    };

    var taxationSystems = new List<SelectListItem>()
    {
        new SelectListItem() {Text = T("Admin.PaymentMethods.CloudPayments.GeneralTaxationSystem").ToString(), Value = "0"},
        new SelectListItem() {Text = T("Admin.PaymentMethods.CloudPayments.SimplifiedSystemIncome").ToString(), Value = "1"},
        new SelectListItem() {Text = T("Admin.PaymentMethods.CloudPayments.SimplifiedSystemIncomeConsumption").ToString(), Value = "2"},
        new SelectListItem() {Text = T("Admin.PaymentMethods.CloudPayments.ImputedIncome").ToString(), Value = "3"},
        new SelectListItem() {Text = T("Admin.PaymentMethods.CloudPayments.AgriculturalTax").ToString(), Value = "4"},
        new SelectListItem() {Text = T("Admin.PaymentMethods.CloudPayments.PatentSystemOfTaxation").ToString(), Value = "5"},
    };

    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.CloudPayments.PaymentGateway")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.DropDownListFor(x => x.Site, sites, new { ng_model = "paymentMethod.Parameters.Site", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.CloudPayments.PaymentGateway") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.CloudPayments.SiteID")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.PublicId, new { ng_model = "paymentMethod.Parameters.PublicId", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.CloudPayments.SiteID") })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.CloudPayments.SecretKey")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.APISecret, new { ng_model = "paymentMethod.Parameters.ApiSecret", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.CloudPayments.SecretKey") })
    </div>
</div>


<div class="form-group row middle-xs setting__form-group">
    @if (!isMobile)
    {
        <div class="flex-grow-n setting__label setting--m-none @(isMobile ? "col-xs-11" : "col-fixed-size-md")">
            @T("Admin.PaymentMethods.CloudPayments.SendDataForCheck")
        </div>
    }
    <div class="col-xs col-sm-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.SendReceiptData, new { ng_model = "paymentMethod.Parameters.SendReceiptData", ng_init = "paymentMethod.Parameters.SendReceiptData=" + Model.SendReceiptData.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
            @if (isMobile)
            {
                <span>@T("Admin.PaymentMethods.CloudPayments.SendDataForCheck")</span>
            }
        </label>
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        @T("Admin.PaymentMethods.CloudPayments.SystemOfTaxation")
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.DropDownListFor(x => x.TaxationSystem, taxationSystems, new { ng_model = "paymentMethod.Parameters.TaxationSystem", @class = "form-control input-alt" })
    </div>
</div>