@using AdvantShop.Payment
@model AdvantShop.Core.Services.Payment.PaymentMethodAdminModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

@if (Model.ShowUrls.HasFlag(UrlStatus.NotificationUrl))
{
    <div class="form-group row setting__form-group">
        <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
            @Model.NotificationUrlLabel
        </div>
        <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
            @Model.NotificationUrl
        </div>
    </div>

}

@if (Model.ShowUrls.HasFlag(UrlStatus.ReturnUrl))
{
    <div class="form-group row setting__form-group">
        <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
            @Model.SuccessUrlLabel
        </div>
        <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
            @Model.SuccessUrl
        </div>
    </div>
}

@if (Model.ShowUrls.HasFlag(UrlStatus.FailUrl))
{
    <div class="form-group row setting__form-group">
        <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
            @Model.FailUrlLabel
        </div>
        <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
            @Model.FailUrl
        </div>
    </div>
}

@if (Model.ShowUrls.HasFlag(UrlStatus.CancelUrl))
{
    <div class="form-group row setting__form-group">
        <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
            @Model.CancelUrlLabel
        </div>
        <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
            @Model.CancelUrl
        </div>
    </div>
}

