@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.DirectCreditPaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.DirectCredit.PartnerID")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.PartnerId, new { ng_model = "paymentMethod.Parameters.PartnerId", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.DirectCredit.PartnerID").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.DirectCredit.StoreIdentifer")">
            @T("Admin.PaymentMethods.DirectCredit.DirectCreditID")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">Идентификатор торговой точки интернет–магазина</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.CodeTT, new { ng_model = "paymentMethod.Parameters.CodeTT", @class = "form-control input-alt", required = "required", validation_input_text = "Идентификатор торговой точки интернет–магазина" })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="Идентификатор торговой точки интернет–магазина">
            Идентификатор торговой точки интернет–магазина уточняйте у вашего менеджера.
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.DirectCredit.MinimumPrice")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        <div class="input-group setting__price-margin-in-numbers">
            @Html.TextBoxFor(x => x.MinimumPrice, new { ng_model = "paymentMethod.Parameters.MinimumPrice", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.DirectCredit.MinimumPrice").ToString() })
            <div class="input-group-btn">
                <span class="btn btn-default"><span>@Model.CurrencySymbol</span></span>
            </div>
        </div>
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.DirectCredit.MinimumPrice")">
            @T("Admin.PaymentMethods.DirectCredit.ButtonBuyOnCredit")
        </help-trigger>
    </div>
</div>


    <div class="form-group row middle-xs setting__form-group">
        <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12 control-label" : "col-fixed-size-md")">
            Максимальная цена
        </div>
        <div class="col-xs-12 col-md-6 relative @(isMobile ? "flex middle-xs" : "")">
            <div class="input-group setting__price-margin-in-numbers">
                @Html.TextBoxFor(x => x.MaximumPrice, new {ng_model = "paymentMethod.Parameters.MaximumPrice", @class = "form-control", validation_input_text = "Минимальная цена", type = "number"})
                <div class="input-group-btn">
                    <span class="btn btn-default"><span>@Model.CurrencySymbol</span></span>
                </div>
            </div>
            <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="Максимальная цена">
                Кнопка "Купить в кредит" будет отображаться у товаров не превышающих максимальную цену.<br/>
                Оставьте поле пустым, если это ограничение не нужно.
            </help-trigger>
        </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.DirectCredit.AmountFirstPayment")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.FirstPayment, new { ng_model = "paymentMethod.Parameters.FirstPayment", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.DirectCredit.AmountFirstPayment").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.DirectCredit.AmountFirstPayment")">
            @T("Admin.PaymentMethods.DirectCredit.PercentageOfTheGoods")
        </help-trigger>
    </div>
</div>


