@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.IntellectMoneyPaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="col-xs-12">
        @T("Admin.PaymentMethods.IntellectMoney.DoNotForgetIntellectMoney") <strong>@T("Admin.PaymentMethods.IntellectMoney.WebMoneyProtocol")</strong>.
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.IntellectMoney.Identifer")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.MerchantId, new { ng_model = "paymentMethod.Parameters.MerchantId", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.IntellectMoney.Identifer").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.IntellectMoney.Identifer")">
            @T("Admin.PaymentMethods.IntellectMoney.IdentiferInSystemIntellectMoney")
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.IntellectMoney.SecretCode")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.SecretKey, new { ng_model = "paymentMethod.Parameters.SecretKey", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.IntellectMoney.SecretCode").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.IntellectMoney.SecretKey")">
            @T("Admin.PaymentMethods.IntellectMoney.SecretCode")
        </help-trigger>
    </div>
</div>


