@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.Interkassa2PaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}


<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Interkassa2.IdentifierInterkassa2")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.ShopId, new { ng_model = "paymentMethod.Parameters.ShopId", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Interkassa2.IdentifierInterkassa2").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.Interkassa2.IdentifierInterkassa2")">
            @T("Admin.PaymentMethods.Interkassa2.IdentifireRegisteredInInterkassa2")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    @if (!isMobile)
    {
        <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
            @T("Admin.PaymentMethods.Interkassa2.CheckSignature")
        </div>
    }
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.IsCheckSign, new { ng_model = "paymentMethod.Parameters.IsCheckSign", ng_init = "paymentMethod.Parameters.IsCheckSign=" + Model.IsCheckSign.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
            @if (isMobile)
            {
                <span>
                    @T("Admin.PaymentMethods.Interkassa2.CheckSignature")
                </span>
            }
        </label>
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.Interkassa2.CheckSignature")">
            @T("Admin.PaymentMethods.Interkassa2.Security")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Interkassa2.SecretKey")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.SecretKey, new { ng_model = "paymentMethod.Parameters.SecretKey", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.Interkassa2.SecretKey").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.Interkassa2.SecretKey")">
            @T("Admin.PaymentMethods.Interkassa2.IfOptionIsActive")
        </help-trigger>
    </div>
</div>



