@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.KupivkreditPaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.KupiVKredit.UniqueStoreIdentifier")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.ShopId, new { ng_model = "paymentMethod.Parameters.ShopId", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.KupiVKredit.UniqueStoreIdentifier") })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.KupiVKredit.UniqueStoreIdentifier")">
            @T("Admin.PaymentMethods.KupiVKredit.UniqueStoreIdentifierWhileConnected")
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        @T("Admin.PaymentMethods.KupiVKredit.StorefrontID")
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.ShowCaseId, new { ng_model = "paymentMethod.Parameters.ShowCaseId", @class = "form-control input-alt", validation_input_text = T("Admin.PaymentMethods.KupiVKredit.StorefrontID") })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.KupiVKredit.StorefrontID")">
            @T("Admin.PaymentMethods.KupiVKredit.InTheCaseOfASingleDisplayCase")

        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        @T("Admin.PaymentMethods.KupiVKredit.Promotions")
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.PromoCode, new { ng_model = "paymentMethod.Parameters.PromoCode", @class = "form-control input-alt", validation_input_text = T("Admin.PaymentMethods.KupiVKredit.Promotions") })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.KupiVKredit.Promotions")">
            @T("Admin.PaymentMethods.KupiVKredit.ItIsSpecifiedInCase")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs setting__form-group setting--label-with-checkbox-reverse">
    <div class="flex-grow-n setting__label setting--m-none @(isMobile ? "col-xs-11" : "col-fixed-size-md")">
        <label for="UseTest">@T("Admin.PaymentMethods.KupiVKredit.TestMode")</label>
    </div>
    <div class="col-xs-1 col-sm-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.UseTest, new { ng_model = "paymentMethod.Parameters.UseTest", ng_init = "paymentMethod.Parameters.UseTest=" + Model.UseTest.ToLowerString(), @class = "adv-checkbox-input", validation_input_text = T("Admin.PaymentMethods.KupiVKredit.TestMode") })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>


<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.Kupivkredit.MinimumPrice")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        <div class="input-group setting__price-margin-in-numbers">
            @Html.TextBoxFor(x => x.MinimumPrice, new { ng_model = "paymentMethod.Parameters.MinimumPrice", @class = "form-control", required = "required", validation_input_text = T("Admin.PaymentMethods.Kupivkredit.MinimumPrice"), validation_input_min = 3000 })
            <div class="input-group-btn">
                <span class="btn btn-default"><span>@Model.CurrencySymbol</span></span>
            </div>
        </div>
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.Kupivkredit.MinimumPrice")">
            @T("Admin.PaymentMethods.KupiVKredit.ButtonButOnKredit")
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12 control-label" : "col-fixed-size-md")">
        Максимальная цена
    </div>
    <div class="col-xs-12 col-md-6 relative @(isMobile ? "flex middle-xs" : "")">
        <div class="input-group setting__price-margin-in-numbers">
            @Html.TextBoxFor(x => x.MaximumPrice, new {ng_model = "paymentMethod.Parameters.MaximumPrice", @class = "form-control", validation_input_text = "Минимальная цена", type = "number"})
            <div class="input-group-btn">
                <span class="btn btn-default"><span>@Model.CurrencySymbol</span></span>
            </div>
        </div>
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="Максимальная цена">
            Кнопка "Купить в кредит" будет отображаться у товаров не превышающих максимальную цену.<br/>
            Оставьте поле пустым, если это ограничение не нужно.
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.KupiVKredit.FirstPaymentAmount")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.FirstPayment, new { ng_model = "paymentMethod.Parameters.FirstPayment", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.KupiVKredit.FirstPaymentAmount") })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.KupiVKredit.FirstPaymentAmount")">
            @T("Admin.PaymentMethods.KupiVKredit.PercentageOfTheCost")
        </help-trigger>
    </div>
</div>


