@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.LiqPayPaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.LiqPay.MerchantNumber")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.MerchantId, new { ng_model = "paymentMethod.Parameters.MerchantId", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.LiqPay.MerchantNumber").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.LiqPay.MerchantNumber")">
            @T("Admin.PaymentMethods.LiqPay.NumbenCanSeeInSettings")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.LiqPay.MerchantPassword")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.MerchantSig, new { ng_model = "paymentMethod.Parameters.MerchantSig", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.LiqPay.MerchantPassword").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.LiqPay.MerchantPassword")">
            @T("Admin.PaymentMethods.LiqPay.PasswordCanBeSeeInSettings")
        </help-trigger>
    </div>
</div>
