@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.PayOnlinePaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">MerchantId</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.MerchantId, new { ng_model = "paymentMethod.Parameters.MerchantId ", @class = "form-control input-alt", required = "required", validation_input_text = "MerchantId" })
        <help-trigger class="ng-cloak help-trigger-icon-abs  @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.PayOnline.Identifier")">
            @T("Admin.PaymentMethods.PayOnline.IdentifierInteger")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">Private Security Key</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.SecretKey, new { ng_model = "paymentMethod.Parameters.ScId", @class = "form-control input-alt", required = "required", validation_input_text = "Private Security Key" })
        <help-trigger class="ng-cloak help-trigger-icon-abs  @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="Private Security Key">
            @T("Admin.PaymentMethods.PayOnline.KeyAfterRegisterInPayOnline")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        @T("Admin.PaymentMethods.PayOnline.PaymentInstrument")
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.DropDownListFor(x => x.PayType, Model.PayTypes, new { ng_model = "paymentMethod.Parameters.PayType", ng_init = "paymentMethod.Parameters.PayType='" + Model.PayType + "'", @class = "form-control input-alt" })
    </div>
</div>

