@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.PayPalExpressCheckoutPaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.PayPal.NameOfPayPalAccount")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.User, new { ng_model = "paymentMethod.Parameters.User", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.PayPal.NameOfPayPalAccount").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.PayPal.Name")">
            @T("Admin.PaymentMethods.PayPal.NameOfPayPalAccount")
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.PayPal.PasswordOfPayPalAccount")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.Password, new { ng_model = "paymentMethod.Parameters.Password", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.PayPal.PasswordOfPayPalAccount").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.PayPal.Password")">
            @T("Admin.PaymentMethods.PayPal.PasswordOfPayPalAccount")
        </help-trigger>
    </div>
</div>



<div class="form-group row setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.PayPal.ElectronicSignaturePayPal")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.Signature, new { ng_model = "paymentMethod.Parameters.Signature", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.PayPal.ElectronicSignaturePayPal").ToString() })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.PayPal.ElectronicSignature")">
            @T("Admin.PaymentMethods.PayPal.ElectronicSignaturePayPalAPI")
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs setting__form-group">
    @if (!isMobile)
    {
        <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
            @T("Admin.PaymentMethods.PayPal.TestMode")
        </div>
    }

    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.Sandbox, new { ng_model = "paymentMethod.Parameters.Sandbox", ng_init = "paymentMethod.Parameters.Sandbox=" + Model.Sandbox.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
        @if (isMobile)
        {
            <label for="Sandbox" class="col-xs setting__label">
                @T("Admin.PaymentMethods.PayPal.TestMode")
            </label>
        }
        <help-trigger class="ng-cloak @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.PaymentMethods.PayPal.TestMode")">
            @T("Admin.PaymentMethods.PayPal.ProcessingOperations")
        </help-trigger>
    </div>
</div>


