@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.PSBankPaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.PSBank.FirstComponent")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.FirstComponent, new { ng_model = "paymentMethod.Parameters.FirstComponent", @class = "form-control input-alt", required = "required", validation_input_text = @T("Admin.PaymentMethods.PSBank.FirstComponent").ToString() })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.PSBank.SecondComponent")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.SecondComponent, new { ng_model = "paymentMethod.Parameters.SecondComponent", @class = "form-control input-alt", required = "required", validation_input_text = @T("Admin.PaymentMethods.PSBank.SecondComponent").ToString() })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.PSBank.Terminal")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Terminal, new { ng_model = "paymentMethod.Parameters.Terminal", @class = "form-control input-alt", required = "required", validation_input_text = @T("Admin.PaymentMethods.PSBank.Terminal").ToString() })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.PSBank.Merchant")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Merchant, new { ng_model = "paymentMethod.Parameters.Merchant", @class = "form-control input-alt", required = "required", validation_input_text = @T("Admin.PaymentMethods.PSBank.Merchant").ToString() })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.PSBank.MerchantName")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.MerchantName, new { ng_model = "paymentMethod.Parameters.MerchantName", @class = "form-control input-alt", required = "required", validation_input_text = @T("Admin.PaymentMethods.PSBank.MerchantName").ToString() })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group setting--label-with-checkbox-reverse">
    <div class="flex-grow-n setting__label setting--m-none @(isMobile ? "col-xs-11" : "col-fixed-size-md")">
        <label for="UseTestMode">@T("Admin.PaymentMethods.PSBank.TestMode")</label>
    </div>
    <div class="col-xs-1 col-sm-6 relative">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.UseTestMode, new { ng_model = "paymentMethod.Parameters.UseTestMode", @class = "adv-checkbox-input", ng_init = "paymentMethod.Parameters.UseTestMode=" + Model.UseTestMode.ToLowerString() })
            <span class="adv-checkbox-emul"></span>
        </label>
    </div>
</div>