@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.QiwiKassaPaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">Секретный ключ</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.SecrectKey, new { ng_model = "paymentMethod.Parameters.SecrectKey", @class = "form-control input-alt", required = "required", validation_input_text = "Секретный ключ" })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "col-xs-1" : "")" data-title="Секретный ключ">
            Секретный ключ из пары ключей авторизации (Блок "Аутентификационные данные")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        Ключ серверных уведомлений
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.NewNotifyKey, new { ng_model = "paymentMethod.Parameters.NewNotifyKey", @class = "form-control input-alt", validation_input_text = "Ключ серверных уведомлений" })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "col-xs-1" : "")" data-title="Ключ серверных уведомлений">
            Если вы настроили на стороне Qiwi серверные уведомления, то в данном поле укажите ключ серверных уведомлений.
        </help-trigger>
    </div>
</div>
