@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.RbkMoney2PaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.RbkMoney2.ShopId")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.ShopId, new { ng_model = "paymentMethod.Parameters.ShopId", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.RbkMoney2.ShopId").ToString() })
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.RbkMoney2.ApiKey")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.ApiKey, new { ng_model = "paymentMethod.Parameters.ApiKey", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.RbkMoney2.ApiKey").ToString() })
    </div>
</div>
