@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.WebMoneyPaymentModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.WebMoney.WebMoneyPurse")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.Purse, new { ng_model = "paymentMethod.Parameters.Purse", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.WebMoney.WebMoneyPurse").ToString() })
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.PaymentMethods.WebMoney.KeyOfDataEncrypting")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm">
        @Html.TextBoxFor(x => x.SecretKey, new { ng_model = "paymentMethod.Parameters.SecretKey", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.PaymentMethods.WebMoney.KeyOfDataEncrypting").ToString() })
    </div>
</div>


