@model AdvantShop.Web.Admin.Models.Settings.CatalogSettings.CatalogSettingsModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}


<div ng-controller="SizeChartCtrl as sizeChart" @Html.Raw(isMobile ? "ng-init=\"settingsCatalog.sizeChart = sizeChart\"" : "")>
    @if (!isMobile)
    {
        <div class="sticky-page-name" sticky sticky-top="0">
            <div class="page-name-block sticky-page-name-inner">
                <div class="page-name-block-item-main">
                    <h1 class="page-name-block-text sticky-page-name-text">
                        @T("Admin.Settings.Catalog.SizeCharts")
                    </h1>
                </div>
                <div class="page-name-block-item-additional">
                    <ui-modal-trigger data-controller="'ModalAddEditSizeChartCtrl'" controller-as="ctrl"
                                      template-url="@Html.GetAssetPath("addEditSizeChart.html")"
                                      data-on-close="sizeChart.grid.fetchData()"
                                      size="xs-6">
                        <button class="btn btn-sm btn-success btn--margin-left" type="button">
                            <span class="fa fa-plus"></span> @T("Core.Catalog.Settings.SizeChart.AddSizeChart")
                        </button>
                    </ui-modal-trigger>
                </div>
            </div>
        </div>
    }
    <div>
        <ui-grid-custom grid-unique-id="gridSizeChart"
                        grid-on-init="sizeChart.gridOnInit(grid)"
                        grid-options="sizeChart.gridOptions"
                        grid-url="'sizeChart/getSizeCharts'"
                        grid-inplace-url="'sizeChart/inplace'"
                        grid-extend-ctrl="sizeChart"
                        grid-swipe-line="true">
            <ui-grid-custom-override-control class="ng-cloak">
                <div class="card card--gap-row-sm card--p-18" style="padding:0;">
                    <div class="flex between-xs center-xs">
                        <ui-modal-trigger data-controller="'ModalAddEditSizeChartCtrl'"
                                          controller-as="ctrl"
                                          size="lg"
                                          class="flex-grow card__col m-r-xs card--p-18"
                                          data-template-url="@Html.GetAssetPath("addEditSizeChart.html")"
                                          data-on-close="grid.appScope.$ctrl.fetchData()"
                                          data-resolve="{'Id': row.entity.Id}">
                            {{row.entity.Name}}
                        </ui-modal-trigger>
                        <div class="card__col card__col--end setting--align-center card--p-18">
                            <ui-grid-custom-switch row="row" field-name="Enabled"></ui-grid-custom-switch>
                        </div>
                    </div>
                </div>
            </ui-grid-custom-override-control>
            <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="sizeChart.grid.gridOptions.TotalString">
            </ui-grid-custom-footer>
        </ui-grid-custom>
    </div>
</div>
