@model AdvantShop.Web.Admin.Models.Settings.IPTelephonySettingsModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}
<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3">
        <div class="setting-label-wrap">
            <label for="CallBackZadarmaPhone" class="form-label-block setting__label">@T("Admin.Settings.Telephony.CallBack.ZadarmaPhone")</label>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 relative @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.CallBackZadarmaPhone, new { ng_model = "settingsTelephony.callBackZadarmaPhone", @class = "form-control input-alt" })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(isMobile ? "col-xs-1" : "")" data-title="@T("Admin.Settings.Telephony.CallBack.ZadarmaPhone")">
            @T("Admin.Zadarma.CallBack.PhoneNote")
        </help-trigger>
    </div>
</div>
