@model AdvantShop.Web.Admin.Models.Crm.Leads.LeadsAnalyticsModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="ibox">
    <div class="ibox-content statistics-block">
        @if (isMobile)
        {
            @Html.Raw("<div class=\"carousel statistics-block-carousel\"><div class=\"carousel-inner\">");
        }
        <div class="statistics-block-inner @(isMobile ? "statistics-block__cards-list" : "")" @Html.Raw( isMobile ? "data-carousel data-dots=\"true\" data-scroll-count=\"3\" data-visible-min=\"3\" data-dots-class=\"statistics-block-carousel__dots\" data-dots-item-class=\"statistics-block-carousel__dots-item\"" : "")>
            <div class="statistics-block-content statistics-block-content--leads @(isMobile ? "statistics-block__card js-carousel-item carousel-item" : "")">
                <div class="ibox-title statistics-header @(isMobile ? "statistics-block__card-header" : "")">
                    <h5 class="statistics-title @(isMobile ? "statistics-block__card-title" : "")" data-e2e-dashboard="ProductsCount">Лидов всего</h5>
                </div>
                <div class="ibox-content statistics-content no-border @(isMobile ? "statistics-block__card-info" : "")">
                    <h1 class="no-margins statistics-content-header @(isMobile ? "statistics-block__card-count setting--m-none" : "")" data-e2e-dashboard-content="ProductsCount">@Model.LeadsCount</h1>
                    @*<small class="name-quantity" data-e2e-dashboard-quantity="ProductsCount">@T("Admin.Home.Statistics.Pieces")</small>*@
                </div>
            </div>
            <div class="statistics-block-content statistics-block-content--leads @(isMobile ? "statistics-block__card js-carousel-item carousel-item" : "")">
                <div class="ibox-title statistics-header @(isMobile ? "statistics-block__card-header" : "")">
                    <h5 class="statistics-title @(isMobile ? "statistics-block__card-title" : "")" data-e2e-dashboard="OrdersTodayCount">Сделок в работе</h5>
                </div>
                <div class="ibox-content statistics-content no-border @(isMobile ? "statistics-block__card-info" : "")">
                    <h1 class="no-margins statistics-content-header @(isMobile ? "statistics-block__card-count setting--m-none" : "")" data-e2e-dashboard-content="DealsInWorkCount">@Model.DealsInWorkCount</h1>
                    <small class="name-quantity @(isMobile ? "statistics-block__card-quantity" : "")" data-e2e-dashboard-content="DealsInWorkPrice">@PriceExtentions.FormatPrice(Model.DealsInWorkPrice, SettingsCatalog.DefaultCurrency)</small>
                    @*<small class="name-quantity" data-e2e-dashboard-quantity="DealsInWorkCount">@Model.DealsInWorkCount</small>*@
                </div>
            </div>
            <div class="statistics-block-content statistics-block-content--leads @(isMobile ? "statistics-block__card js-carousel-item carousel-item" : "")">
                <div class="ibox-title statistics-header @(isMobile ? "statistics-block__card-header" : "")">
                    <h5 class="statistics-title @(isMobile ? "statistics-block__card-title" : "")" data-e2e-dashboard="OrdersTodayCount">@(isMobile ? "Завершено" : "Завершено сделок")</h5>
                </div>
                <div class="ibox-content statistics-content no-border @(isMobile ? "statistics-block__card-info" : "")">
                    <h1 class="no-margins statistics-content-header @(isMobile ? "statistics-block__card-count setting--m-none" : "")" data-e2e-dashboard-content="DealsDoneCount">@Model.DealsDoneCount</h1>
                    <small class="name-quantity @(isMobile ? "statistics-block__card-quantity" : "")" data-e2e-dashboard-content="DealsDonePrice">
                        @PriceExtentions.FormatPrice(Model.DealsDonePrice, SettingsCatalog.DefaultCurrency)
                    </small>
                    @*<small class="name-quantity" data-e2e-dashboard-quantity="DealsDoneCount">@Model.DealsDoneCount</small>*@
                </div>
            </div>
            <div class="statistics-block-content statistics-block-content--leads @(isMobile ? "statistics-block__card js-carousel-item carousel-item" : "")">
                <div class="ibox-title statistics-header @(isMobile ? "statistics-block__card-header" : "")">
                    <h5 class="statistics-title @(isMobile ? "statistics-block__card-title" : "")" data-e2e-dashboard="OrdersTodayCount">@(isMobile ? "Отклонено" : "Отклонено сделок")</h5>
                </div>
                <div class="ibox-content statistics-content no-border @(isMobile ? "statistics-block__card-info" : "")">
                    <h1 class="no-margins statistics-content-header @(isMobile ? "statistics-block__card-count setting--m-none" : "")" data-e2e-dashboard-content="OrdersTodayCount">@Model.DealsRejectedCount</h1>
                    @*<small class="name-quantity" data-e2e-dashboard-quantity="OrdersTodayCount">@Model.DealsRejectedCount</small>*@
                </div>
            </div>
        </div>
        @if (isMobile)
        {
            @Html.Raw("</div>")

            <ul class="carousel-dots statistics-block-carousel__dots"></ul>

            @Html.Raw("</div>")
        }
    </div>
</div>