@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.EdostShippingAdminModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.ShippingMethods.Edost.StoreID")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(!isMobile ? "" : "flex middle-xs")">
        @Html.TextBoxFor(x => x.ShopId, new { ng_model = "shippingMethod.Params.ShopId", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.ShippingMethods.Edost.StoreID") })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(!isMobile ? "" : "m-l-sm p-l-xs")" data-title="@T("Admin.ShippingMethods.Edost.StoreID")">
            @T("Admin.ShippingMethods.Edost.EnterStoreID")
        </help-trigger>
    </div>
</div>


<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.ShippingMethods.Edost.Password")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(!isMobile ? "" : "flex middle-xs")">
        @Html.TextBoxFor(x => x.Password, new { ng_model = "shippingMethod.Params.Password", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.ShippingMethods.Edost.Password") })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(!isMobile ? "" : "m-l-sm p-l-xs")" data-title="@T("Admin.ShippingMethods.Edost.Password")">
            @T("Admin.ShippingMethods.Edost.EnterThePassword")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    @if (!isMobile)
    {
        <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
            @T("Admin.ShippingMethods.Edost.CreateMethodCashPayment")
        </div>
    }
    <div class="col-xs-12 col-md-6 relative @(!isMobile ? "" : "flex middle-xs")">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.EnabledCod, new { ng_model = "shippingMethod.Params.EnabledCOD", ng_init = "shippingMethod.Params.EnabledCOD=" + Model.EnabledCod.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
        @if (isMobile)
        {
            <label for="EnabledCod" class="col-xs setting__label">
                @T("Admin.ShippingMethods.Edost.CreateMethodCashPayment")
            </label>
        }
        <help-trigger class="ng-cloak help-trigger-icon-abs @(!isMobile ? "" : "m-l-sm p-l-xs")" data-title="@T("Admin.ShippingMethods.Edost.CreateMethodCashPayment2")">
            @T("Admin.ShippingMethods.Edost.CreateMethodCashPayment")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    @if (!isMobile)
    {
        <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
            @T("Admin.ShippingMethods.Edost.PayPicPoint")
        </div>
    }
    <div class="col-xs-12 col-md-6 relative @(!isMobile ? "" : "flex middle-xs")">
        <label class="adv-checkbox-label form-label-block">
            @Html.CheckBoxFor(x => x.EnabledPickPoint, new { ng_model = "shippingMethod.Params.EnabledPickPoint", ng_init = "shippingMethod.Params.EnabledPickPoint=" + Model.EnabledPickPoint.ToLowerString(), @class = "adv-checkbox-input" })
            <span class="adv-checkbox-emul"></span>
        </label>
        @if (isMobile)
        {
            <label for="EnabledPickPoint" class="col-xs setting__label">
                @T("Admin.ShippingMethods.Edost.PayPicPoint")
            </label>
        }
        <help-trigger class="ng-cloak help-trigger-icon-abs @(!isMobile ? "" : "m-l-sm p-l-xs")" data-title="@T("Admin.ShippingMethods.Edost.PayPicPoint2")">
            @T("Admin.ShippingMethods.Edost.PayPicPoint")
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.ShippingMethods.Edost.DemensionsUnit")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(!isMobile ? "" : "flex middle-xs")">
        @Html.DropDownListFor(x => x.DemensionsUnit, new SelectList(Model.DemensionsUnitList, "Key", "Value"), new { ng_model = "shippingMethod.Params.DemensionsUnit", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.ShippingMethods.Edost.DemensionsUnit") })

    </div>
</div>


<div class="adv-panel-info setting__mobile-adv-panel-info" style="@(isMobile ? "display:flex;" : "")">
    <a href="http://www.advantshop.net/help/pages/install-edost" target="_blank">@T("Admin.ShippingMethods.Edost.InstructionsEdostDelivery")</a>
</div>


@Html.Hidden("ShipIdCod", Model.ShipIdCod)
@Html.Hidden("ShipIdPickPoint", Model.ShipIdPickPoint)