@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.FixedRateShippingAdminModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.ShippingMethods.FixedRate.PriceOfDelivery")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(!isMobile ? "" : "flex middle-xs")">
        <div class="input-group setting__price-margin-in-numbers">
            @Html.TextBoxFor(x => x.ShippingPrice, new { ng_model = "shippingMethod.Params.ShippingPrice", @class = "form-control", required = "required", validation_input_text = T("Admin.ShippingMethods.FixedRate.PriceOfDelivery") })
            <div class="input-group-btn">
                <span class="btn btn-default"><span>@Model.CurrencySymbol</span></span>
            </div>
        </div>
        <help-trigger class="ng-cloak help-trigger-icon-abs @(!isMobile ? "" : "m-l-sm p-l-xs")" data-title="@T("Admin.ShippingMethods.FixedRate.DeliveryCost")">
            @*@T("Admin.ShippingMethods.FixedRate.DeliveryCostInBaseCurrency")<br><br>*@
            @T("Admin.ShippingMethods.FixedRate.ForExample100")<br><br>
            @T("Admin.ShippingMethods.FixedRate.IfSelfDeliveryIfFree")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        @T("Admin.ShippingMethods.FixedRate.DeliveryTime")
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(!isMobile ? "" : "flex middle-xs")">
        @Html.TextBoxFor(x => x.DeliveryTime, new { @class = "form-control input-alt", ng_model = "shippingMethod.Params.DeliveryTime" })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(!isMobile ? "" : "m-l-sm p-l-xs")" data-title="@T("Admin.ShippingMethods.FixedRate.DeliveryTime")">
            @T("Admin.ShippingMethods.FixedRate.DeliveryTimeAsPeriodOfTime")<br><br>
            @T("Admin.ShippingMethods.FixedRate.ForExample2days")
        </help-trigger>
    </div>
</div>
