@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.FreeShippingShippingAdminModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span>@T("Admin.ShippingMethods.FreeShipping.DeliveryTime")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(!isMobile ? "" : "flex middle-xs")">
        @Html.TextBoxFor(x => x.DeliveryTime, new { ng_model = "shippingMethod.Params.DeliveryTime", @class = "form-control input-alt" })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(!isMobile ? "" : "m-l-sm p-l-xs")" data-title="@T("Admin.ShippingMethods.FreeShipping.DeliveryTime")">
            @T("Admin.ShippingMethods.FreeShipping.DeliveryTimeAsPeriodOfTime")<br><br>
            @T("Admin.ShippingMethods.FreeShipping.ForExample2days")
        </help-trigger>
    </div>
</div>
