@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.NovaPoshtaShippingAdminModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.ShippingMethods.NovaPoshta.APIkey")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(!isMobile ? "" : "flex middle-xs")">
        @Html.TextBoxFor(x => x.ApiKey, new { ng_model = "shippingMethod.Params.APIKey", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.ShippingMethods.NovaPoshta.APIkey") })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(!isMobile ? "" : "m-l-sm p-l-xs")" data-title="@T("Admin.ShippingMethods.NovaPoshta.APIkey")">
            @T("Admin.ShippingMethods.NovaPoshta.GetAPIkeyFromManager")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.ShippingMethods.NovaPoshta.DepartureCity")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(!isMobile ? "" : "flex middle-xs")">
        @Html.TextBoxFor(x => x.CityFrom, new { ng_model = "shippingMethod.Params.CityFrom", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.ShippingMethods.NovaPoshta.DepartureCity") })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(!isMobile ? "" : "m-l-sm p-l-xs")" data-title="@T("Admin.ShippingMethods.NovaPoshta.DepartureCity")">
            @T("Admin.ShippingMethods.NovaPoshta.EnterDepartureCity")
        </help-trigger>
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.ShippingMethods.NovaPoshta.TypeOfDelivery")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(!isMobile ? "" : "flex middle-xs")">

        @Html.DropDownList("DeliveryType", Model.DeliveryTypes, new { ng_model = "shippingMethod.Params.DeliveryType", ng_init = "shippingMethod.Params.DeliveryType='" + Model.DeliveryType + "'", @class = "form-control input-alt", required = "required", validation_input_text = T("Admin.ShippingMethods.NovaPoshta.DepartureCity") })

        <help-trigger class="ng-cloak help-trigger-icon-abs @(!isMobile ? "" : "m-l-sm p-l-xs")" data-title="@T("Admin.ShippingMethods.NovaPoshta.TypeOfDelivery")">
            @T("Admin.ShippingMethods.NovaPoshta.SelectTypeOfDelivery")
        </help-trigger>
    </div>
</div>
