@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.RussianPostShippingAdminModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row" ng-if="shippingMethod.Params.StatusesSync">
    <div class="col-xs-12 col-md-8">
        <div class="adv-panel-info" style="@(isMobile ? "display:flex;" : "")">
            Оформите заявку на безлимитный трекинг на tracking.pochta.ru.
        </div>
    </div>
</div>

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n @(isMobile ? "col-xs-12 setting__label " : "col-fixed-size-md")">
        <span class="text-required">Логин от API трекинга</span>
    </div>
    <div class="col-xs-12 col-md-6 relative @(isMobile ? "flex middle-xs setting--m-t-sm" : "")">
        @Html.TextBoxFor(x => x.TrackingLogin, new { ng_model = "shippingMethod.Params.TrackingLogin", @class = "form-control input-alt", required = "required", validation_input_text = "Логин от трекинга" })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(!isMobile ? "" : "m-l-sm p-l-xs")" data-title="Логин от трекинга">
            Логин онлайн-сервиса отслеживания (tracking.pochta.ru). Можно посмотреть <a href="https://tracking.pochta.ru/access-settings" target="_blank">тут</a>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs" ng-if="shippingMethod.Params.StatusesSync">
    <div class="flex-grow-n @(isMobile ? "col-xs-12 setting__label " : "col-fixed-size-md")">
        <span class="text-required">Пароль от API трекинга</span>
    </div>
    <div class="col-xs-12 col-md-6 relative @(isMobile ? "flex middle-xs setting--m-t-sm" : "")">
        @Html.TextBoxFor(x => x.TrackingPassword, new { ng_model = "shippingMethod.Params.TrackingPassword", @class = "form-control input-alt", required = "required", validation_input_text = "Пароль от API трекинга" })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(!isMobile ? "" : "m-l-sm p-l-xs")" data-title="Пароль от API трекинга">
            Пароль онлайн-сервиса отслеживания (tracking.pochta.ru). Можно запросить <a href="https://tracking.pochta.ru/access-settings" target="_blank">тут</a>
        </help-trigger>
    </div>
</div>