@using AdvantShop.Repository.Currencies
@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.ShippingByProductAmountShippingAdminModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="form-group row setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12 setting--m-b-sm" : "col-fixed-size-md")">
        <span class="text-required">@T("Admin.ShippingMethods.ShipByProductAmount")</span>
    </div>
    <div class="col-xs-12 col-md-9 relative">
        <shipping-by-product-amount method-id="@Model.ShippingMethodId"
                                    price-ranges="@Model.PriceRanges"
                                    currency-label="@Model.CurrencySymbol">
        </shipping-by-product-amount>
    </div>
</div>



<div class="form-group row middle-xs setting__form-group">
    <div class="flex-grow-n setting__label @(isMobile ? "col-xs-12" : "col-fixed-size-md")">
        <span>@T("Admin.ShippingMethods.ShipByProductAmount.DeliveryTime")</span>
    </div>
    <div class="col-xs-12 col-md-6 relative setting--m-t-sm @(!isMobile ? "" : "flex middle-xs")">
        @Html.TextBoxFor(x => x.DeliveryTime, new { ng_model = "shippingMethod.Params.DeliveryTime", @class = "form-control input-alt" })
        <help-trigger class="ng-cloak help-trigger-icon-abs @(!isMobile ? "" : "m-l-sm p-l-xs")" data-title="@T("Admin.ShippingMethods.ShipByProductAmount.DeliveryTime")">
            @T("Admin.ShippingMethods.ShipByProductAmount.DeliveryTimeAsPeriodOfTime")<br><br>
            @T("Admin.ShippingMethods.ShipByProductAmount.ForExample2days")
        </help-trigger>
    </div>
</div>


