@model AdvantShop.Web.Admin.ViewModels.Shared.Common.MetaVariablesDescriptionModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div>
    <p style="@(isMobile ? "margin-top:0;" : "")">
        <span style="@(isMobile ? "font-weight:500;" : "")">@T("Admin.Common.MetaVariables.AvailableVariables")</span><br />

        @foreach (var item in Model.MetaVariables)
        {
            <div style="@(isMobile ? "opacity:0.65;" : "")">
                @item.Value - @item.Text
            </div>
        }
    </p>
    <p style="@(isMobile ? "opacity:0.65;" : "")">
        @T("Admin.Common.MetaVariables.VariablesOnThePage")
    </p>
</div>
@if (Model.ShowInstruction)
{
    <div class="adv-panel-info setting__mobile-adv-panel-info ">
        <a href="http://www.advantshop.net/help/pages/settings-of-seo-module" target="_blank">@T("Admin.Common.MetaVariables.Manual")</a>
    </div>
}