@model AdvantShop.Web.Admin.Models.Catalog.Warehouses.WarehouseModel

@{ 
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="ibox category-block block-additional-parameters ng-cloak category-page__form-group">
    <div class="ibox-content category-content block-additional-parameters-content @(!isMobile ? "block-additional-parameters-content--padding-mid" : "") border_none">
        <h3 class="category-title category-page__title @(isMobile ? "setting__subtitle" : "")">@T("Admin.Warehouse.AddEdit.Contacts")</h3>
        
        <div class="block-additional-parameters-row category-page__form-group @(isMobile ? "form-group" : "")">
            <div class="block-additional-parameters-name form-label form-label--block @(isMobile ? "flex-grow" : "")">
                <span class="">@T("Admin.Warehouse.AddEdit.Phone")</span>
            </div>
            <div class="block-additional-parameters-value flex middle-xs">
                @Html.TextBoxFor(x => x.Phone, new
                {
                    @class = "form-control input-alt", 
                    ng_model = "warehouse.phone", 
                    mask_control_preset="phone", 
                    mask_control=""
                })
            </div>
        </div>
        
        <div class="block-additional-parameters-row category-page__form-group @(isMobile ? "form-group" : "")" >
            <div class="block-additional-parameters-name form-label form-label--block @(isMobile ? "flex-grow" : "")">
                <span class="">@T("Admin.Warehouse.AddEdit.AdditionalPhone")</span>
            </div>
            <div class="block-additional-parameters-value flex middle-xs">
                @Html.TextBoxFor(x => x.Phone2, new
                {
                    @class = "form-control input-alt", 
                    ng_model = "warehouse.phone2", 
                    mask_control_preset="phone", 
                    mask_control=""
                })
            </div>
        </div>
        
        <div class="block-additional-parameters-row category-page__form-group @(isMobile ? "form-group" : "")">
            <div class="block-additional-parameters-name form-label form-label--block @(isMobile ? "flex-grow" : "")">
                <span class="">@T("Admin.Warehouse.AddEdit.Email")</span>
            </div>
            <div class="block-additional-parameters-value flex middle-xs">
                @Html.TextBoxFor(x => x.Email, new
                {
                    @class = "form-control input-alt", 
                    ng_model = "warehouse.email", 
                    pattern = "^([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+)$",
                    validation_input_text = "Email"
                })
            </div>
        </div>
    </div>
</div>
