@model AdvantShop.Web.Admin.Models.Settings.CheckoutSettings.CheckoutSettingsModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="setting-title setting-title__m-t-md flex m-t-none setting--flex-column setting--m-b">
    <h3 class="setting__subtitle setting--align-top">@T("Admin.Settings.Checkout.CheckoutCustomerFields")</h3>
    <a href="https://www.advantshop.net/help/pages/checkoutfields#1" target="_blank" class="p-l-sm link-academy link-invert inline-flex middle-xs setting--align-top setting--help-link">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="18" height="18" fill="#989a9b" class="m-r-xs">
        <path d="M20.005,512c-5.097,0-10.116-1.948-13.925-5.641c-5.845-5.666-7.672-14.309-4.621-21.855l45.411-112.333  C16.162,332.253,0,285.425,0,236c0-63.375,26.855-122.857,75.62-167.489C123.891,24.331,187.952,0,256,0  s132.109,24.331,180.38,68.511C485.145,113.143,512,172.625,512,236c0,45.448-14.04,89.577-40.602,127.615  c-6.325,9.057-18.792,11.271-27.849,4.947s-11.271-18.792-4.947-27.849C460.452,309.425,472,273.215,472,236  c0-108.075-96.897-196-216-196S40,127.925,40,236c0,43.783,15.577,85.2,45.046,119.773c4.834,5.671,6.115,13.561,3.321,20.47  l-31.366,77.589l91.345-40.266c5.063-2.231,10.826-2.267,15.916-0.095C193.082,425.766,223.946,432,256,432  c36.892,0,73.299-8.587,105.286-24.832c9.85-5,21.887-1.072,26.889,8.775c5.001,9.849,1.073,21.887-8.775,26.889  C341.828,461.914,299.157,472,256,472c-34.48,0-67.835-6.191-99.276-18.413L28.068,510.301C25.474,511.444,22.728,512,20.005,512z   M276,325V217c0-11.046-8.954-20-20-20s-20,8.954-20,20v108c0,11.046,8.954,20,20,20S276,336.046,276,325z M256,128  c-11.046,0-20,8.954-20,20l0,0c0,11.046,8.954,20,20,20s20-8.954,20-20l0,0C276,136.954,267.046,128,256,128z"></path>
            </svg>
        <span>@T("Admin.Settings.Checkout.Instructions.BuyersFields")</span>
    </a>
</div>

@if (!isMobile)
{
    <div class="form-group row">
        <div class="col-xs-4">
            <div class="setting-label-wrap">
                @T("Admin.Settings.Checkout.NameField")
            </div>
        </div>
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @T("Admin.Settings.Checkout.ShowField")
            </div>
        </div>
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @T("Admin.Settings.Checkout.RequiredField")
            </div>
        </div>
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @T("Admin.Settings.Checkout.DisableEditing")
            </div>
        </div>
    </div>
}
else
{
    <div class="row setting__form-group">
        <div class="col-xs-12 flex middle-xs">
            <div>
                <svg width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4342 7.03084C9.13609 7.17826 6.84772 8.35444 5.04078 10.3169C4.63603 10.7565 4.12934 11.3774 4.05144 11.5292C4.02222 11.5861 4 11.7032 4 11.8001C4 12.007 4.06962 12.1198 4.56772 12.7193C5.38816 13.7068 6.33106 14.5455 7.33572 15.1815C7.72097 15.4253 8.54006 15.8377 8.95312 15.9958C10.9299 16.7526 13.08 16.7523 15.0469 15.9952C16.7122 15.3542 18.3029 14.1387 19.6084 12.5097C19.9605 12.0703 20 11.9966 20 11.7783C20 11.5714 19.9304 11.4586 19.4323 10.8591C18.3637 9.57292 17.1538 8.59201 15.8281 7.93716C14.9521 7.50441 14.2638 7.27774 13.3594 7.12416C13.0238 7.06718 12.1083 6.98965 11.9062 7.00114C11.8633 7.00359 11.6508 7.01693 11.4342 7.03084ZM12.6172 8.48479C14.0091 8.74945 15.0647 9.82975 15.3129 11.2433C15.3756 11.6006 15.3381 12.3341 15.2394 12.6787C15.1457 13.0062 14.9631 13.4003 14.7795 13.6713C14.6072 13.9256 14.2581 14.2915 14.0022 14.4859C13.729 14.6936 13.2373 14.9368 12.8906 15.0358C12.543 15.135 11.8543 15.1713 11.4747 15.1103C10.0465 14.881 8.94078 13.7802 8.68709 12.3351C8.62441 11.9778 8.66194 11.2443 8.76059 10.8997C9.11306 9.66827 10.0859 8.75994 11.3453 8.48623C11.6201 8.42649 12.3065 8.42571 12.6172 8.48479ZM11.6406 10.0057C11.2599 10.0997 11.0091 10.2414 10.7325 10.5186C10.4898 10.7619 10.3872 10.9259 10.2765 11.2473C10.1718 11.5514 10.1724 12.0242 10.2781 12.3476C10.456 12.8919 10.8817 13.3205 11.4375 13.515C11.5988 13.5714 11.7113 13.5865 11.9844 13.5881C12.3565 13.5903 12.5925 13.532 12.9 13.3621C13.0893 13.2574 13.4649 12.8808 13.5694 12.6909C13.9423 12.013 13.875 11.2116 13.3957 10.6248C13.2215 10.4116 12.8622 10.1631 12.5893 10.0672C12.363 9.98763 11.8487 9.9543 11.6406 10.0057Z" fill="#1A051D" />
                </svg>
            </div>
            <div class="m-l-sm">Показывать</div>
        </div>
        <div class="col-xs-12 flex middle-xs">
            <div>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6799 4.06225C11.2239 4.20854 10.8571 4.5926 10.7392 5.04726C10.6978 5.2068 10.6909 5.53955 10.6909 7.36591C10.6909 8.53871 10.6792 9.50554 10.6649 9.51438C10.6506 9.52326 9.84843 9.07229 8.88225 8.51224C7.91607 7.95223 7.05551 7.46126 6.96988 7.42119C6.46404 7.18458 5.85604 7.29824 5.42609 7.70984C4.85492 8.25666 4.8618 9.1742 5.44106 9.71112C5.58769 9.847 6.03891 10.1232 7.42138 10.9232C8.40683 11.4935 9.21181 11.9785 9.21181 12.0019C9.21181 12.0254 8.40674 12.5105 7.42138 13.0808C5.44306 14.2259 5.32075 14.3116 5.14893 14.673C5.09802 14.78 5.03938 14.967 5.01861 15.0886C4.90829 15.7342 5.29755 16.3824 5.94232 16.6266C6.1748 16.7146 6.54805 16.7246 6.79862 16.6495C6.90034 16.619 7.71476 16.1668 8.80418 15.5359C9.81305 14.9516 10.6503 14.4809 10.6647 14.4898C10.6791 14.4987 10.6909 15.4656 10.6909 16.6384C10.6909 18.9602 10.6922 18.9801 10.8685 19.282C11.4273 20.2393 12.7568 20.2393 13.3157 19.282C13.4921 18.9798 13.4933 18.9618 13.4933 16.621C13.4933 15.4385 13.5052 14.4711 13.5198 14.4711C13.5344 14.4711 14.3506 14.9374 15.3336 15.5073C16.3166 16.0773 17.1777 16.569 17.2471 16.6C17.4741 16.7012 17.7798 16.7308 18.039 16.6766C18.339 16.6138 18.5447 16.5041 18.7616 16.2913C19.1963 15.8647 19.3034 15.2246 19.0325 14.6722C18.8501 14.3002 18.7666 14.2416 16.786 13.0935C15.7885 12.5153 14.9723 12.0242 14.9723 12.0022C14.9723 11.9801 15.7885 11.489 16.786 10.9108C18.7666 9.76278 18.8501 9.70412 19.0325 9.33209C19.2982 8.79048 19.2047 8.17972 18.7889 7.74065C18.4774 7.41169 18.0174 7.24774 17.592 7.31396C17.4718 7.33268 17.3166 7.37338 17.2471 7.40438C17.1777 7.43538 16.3166 7.92704 15.3336 8.49699C14.3506 9.06691 13.5344 9.53323 13.5198 9.53323C13.5052 9.53323 13.4933 8.56581 13.4933 7.38338C13.4933 5.54123 13.4864 5.20686 13.445 5.04726C13.2481 4.28845 12.4182 3.82535 11.6799 4.06225Z" fill="#EB3223" />
                </svg>
            </div>
            <div class="m-l-sm">Обязательно для заполнения</div>
        </div>
        <div class="col-xs-12 flex middle-xs">
            <div>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.8809 6.67136L5.07744 15.4754C5.03315 15.5198 5.00117 15.5759 4.98594 15.6362L4.01016 19.5528C3.98098 19.6707 4.01562 19.7961 4.10166 19.8821C4.16677 19.9472 4.25547 19.9832 4.34621 19.9832C4.374 19.9832 4.40243 19.9798 4.43009 19.9728L8.34666 18.9969C8.4077 18.9817 8.46316 18.9498 8.50745 18.9056L17.3117 10.1021L13.8809 6.67136Z" fill="#1A051D" />
                    <path d="M19.4929 5.47095L18.5129 4.49098C17.8579 3.83602 16.7164 3.83666 16.0622 4.49098L14.8618 5.69138L18.2925 9.12202L19.4929 7.92162C19.82 7.59459 20.0002 7.1593 20.0002 6.69635C20.0002 6.2334 19.82 5.79811 19.4929 5.47095Z" fill="#1A051D" />
                    <path d="M5 5L18 18" stroke="#1A051D" stroke-width="2" stroke-linecap="round" />
                </svg>
            </div>
            <div class="m-l-sm">Запретить редактирование</div>
        </div>
    </div>
}

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        @Html.TextBoxFor(x => Model.CustomerFirstNameField, new { @class = "form-control input-small input-alt", ng_model = "settingsCheckout.CustomerFirstNameField", required = "" })
    </div>
    <div class="col-xs-2">
        @*<label class="adv-checkbox-label">
                @Html.CheckBox("chbShowFirstName", true, new { @class = "adv-checkbox-input", @disabled = "disabled" })
                <span class="adv-checkbox-emul"></span>
            </label>*@
    </div>
    <div class="col-xs-2">
        @*<label class="adv-checkbox-label">
                @Html.CheckBox("chbRequiredFirstName", true, new { @class = "adv-checkbox-input", @disabled = "disabled" })
                <span class="adv-checkbox-emul"></span>
            </label>*@
    </div>
</div>

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting__label setting--m-none">
            @T("Admin.Settings.Checkout.CustomerLastNameField")
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowLastName, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowLastName" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowLastName"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsRequiredLastName, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsRequiredLastName" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsRequiredLastName"></span>
        </label>
    </div>
</div>

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting__label setting--m-none">
            @T("Admin.Settings.Checkout.CustomerPatronymicNameField")
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowPatronymic, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowPatronymic" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowPatronymic"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsRequiredPatronymic, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsRequiredPatronymic" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsRequiredPatronymic"></span>
        </label>
    </div>
</div>

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting__label setting--m-none">
            Email
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowEmail, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowEmail" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowEmail"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsRequiredEmail, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsRequiredEmail" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsRequiredEmail"></span>
        </label>
    </div>
</div>

<div class="form-group row ng-cloack" ng-if="!settingsCheckout.IsShowEmail || !settingsCheckout.IsRequiredEmail">
    <div class="col-xs-4">
    </div>
    <div class="col-xs error-color">
        Если пользователь не укажет свой e-mail, то потом не сможет авторизоваться в личном кабинете, получать письма и полноценно работать с бонусной системой
    </div>
</div>

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none">
            @Html.TextBoxFor(x => Model.CustomerPhoneField, new { @class = "form-control input-small input-alt", ng_model = "settingsCheckout.CustomerPhoneField", required = "" })
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowPhone, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowPhone" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowPhone"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsRequiredPhone, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsRequiredPhone" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsRequiredPhone"></span>
        </label>
    </div>
</div>

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none">
            @Html.TextBoxFor(x => Model.BirthDayFieldName, new { @class = "form-control input-small input-alt", ng_model = "settingsCheckout.BirthDayFieldName", required = "" })
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowBirthDay, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowBirthDay" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowBirthDay"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsRequiredBirthDay, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsRequiredBirthDay" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsRequiredBirthDay"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsDisableEditingBirthDay, new { @class = "adv-checkbox-input setting__adv-checkbox-pencil-input", ng_model = "settingsCheckout.IsDisableEditingBirthDay" })
            <span class="adv-checkbox-emul setting__adv-checkbox-pencil-emul" data-e2e="IsDisableEditingBirthDay"></span>
        </label>
    </div>
</div>

<div class="setting-title flex setting--flex-column setting--m-b">
    <h3 class="setting__subtitle setting--align-top">@T("Admin.Settings.Checkout.CheckoutShippingFields")</h3>
    <div class="flex middle-xs p-b-xs">
        <a href=" https://www.advantshop.net/help/pages/checkoutfields#a1" target="_blank" class="p-l-sm link-academy link-invert inline-flex middle-xs setting--align-top setting--help-link">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="18" height="18" fill="#989a9b" class="m-r-xs">
            <path d="M20.005,512c-5.097,0-10.116-1.948-13.925-5.641c-5.845-5.666-7.672-14.309-4.621-21.855l45.411-112.333  C16.162,332.253,0,285.425,0,236c0-63.375,26.855-122.857,75.62-167.489C123.891,24.331,187.952,0,256,0  s132.109,24.331,180.38,68.511C485.145,113.143,512,172.625,512,236c0,45.448-14.04,89.577-40.602,127.615  c-6.325,9.057-18.792,11.271-27.849,4.947s-11.271-18.792-4.947-27.849C460.452,309.425,472,273.215,472,236  c0-108.075-96.897-196-216-196S40,127.925,40,236c0,43.783,15.577,85.2,45.046,119.773c4.834,5.671,6.115,13.561,3.321,20.47  l-31.366,77.589l91.345-40.266c5.063-2.231,10.826-2.267,15.916-0.095C193.082,425.766,223.946,432,256,432  c36.892,0,73.299-8.587,105.286-24.832c9.85-5,21.887-1.072,26.889,8.775c5.001,9.849,1.073,21.887-8.775,26.889  C341.828,461.914,299.157,472,256,472c-34.48,0-67.835-6.191-99.276-18.413L28.068,510.301C25.474,511.444,22.728,512,20.005,512z   M276,325V217c0-11.046-8.954-20-20-20s-20,8.954-20,20v108c0,11.046,8.954,20,20,20S276,336.046,276,325z M256,128  c-11.046,0-20,8.954-20,20l0,0c0,11.046,8.954,20,20,20s20-8.954,20-20l0,0C276,136.954,267.046,128,256,128z"></path>
            </svg>
            <span>@T("Admin.Settings.Checkout.Instructions.FieldsInDelivery")</span>
        </a>
    </div>
</div>

@if (!isMobile)
{
    <div class="form-group row">
        <div class="col-xs-4">
            <div class="setting-label-wrap">
                @T("Admin.Settings.Checkout.NameField")
            </div>
        </div>
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @T("Admin.Settings.Checkout.ShowField")
            </div>
        </div>
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @T("Admin.Settings.Checkout.RequiredField")
            </div>
        </div>
    </div>
}
<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none setting__label">
            @T("Admin.Settings.Checkout.CountryField")
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowCountry, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowCountry" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowCountry"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsRequiredCountry, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsRequiredCountry" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsRequiredCountry"></span>
        </label>
    </div>
</div>

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none setting__label">
            @T("Admin.Settings.Checkout.StateField")
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowState, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowState" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowState"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsRequiredState, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsRequiredState" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsRequiredState"></span>
        </label>
    </div>
</div>

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none setting__label">
            @T("Admin.Settings.Checkout.CityField")
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowCity, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowCity" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowCity"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsRequiredCity, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsRequiredCity" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsRequiredCity"></span>
        </label>
    </div>
</div>

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap   setting--m-none setting__label">
            @T("Admin.Settings.Checkout.DistrictField")
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowDistrict, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowDistrict" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowDistrict"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsRequiredDistrict, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsRequiredDistrict" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsRequiredDistrict"></span>
        </label>
    </div>
</div>


<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none setting__label">
            @T("Admin.Settings.Checkout.ZipField")
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowZip, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowZip" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowZip"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsRequiredZip, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsRequiredZip" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsRequiredZip"></span>
        </label>
    </div>
</div>


<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none setting__label">
            @T("Admin.Settings.Checkout.AddressField")
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowAddress, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowAddress" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowAddress"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsRequiredAddress, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsRequiredAddress" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsRequiredAddress"></span>
        </label>
    </div>
</div>

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none setting__label">
            @T("Admin.Settings.Checkout.UserCommentField")
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowUserComment, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowUserComment" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowUserComment"></span>
        </label>
    </div>
    <div class="col-md-2">
    </div>
</div>


<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none">
            @Html.TextBoxFor(x => Model.CustomShippingField1, new { @class = "form-control input-small input-alt", ng_model = "settingsCheckout.CustomShippingField1" })
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowCustomShippingField1, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowCustomShippingField1" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowCustomShippingField1"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsReqCustomShippingField1, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsReqCustomShippingField1" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsReqCustomShippingField1"></span>
        </label>
    </div>
</div>

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none">
            @Html.TextBoxFor(x => Model.CustomShippingField2, new { @class = "form-control input-small input-alt", ng_model = "settingsCheckout.CustomShippingField2" })
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowCustomShippingField2, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowCustomShippingField2" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowCustomShippingField2"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsReqCustomShippingField2, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsReqCustomShippingField2" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsReqCustomShippingField2"></span>
        </label>
    </div>
</div>

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none">
            @Html.TextBoxFor(x => Model.CustomShippingField3, new { @class = "form-control input-small input-alt", ng_model = "settingsCheckout.CustomShippingField3" })
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowCustomShippingField3, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowCustomShippingField3" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowCustomShippingField3"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsReqCustomShippingField3, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsReqCustomShippingField3" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsReqCustomShippingField3"></span>
        </label>
    </div>
</div>

<div class="form-group row m-t setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none setting__label">
            @T("Admin.Settings.Checkout.IsFullAddress")
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowFullAddress, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowFullAddress" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowFullAddress"></span>
        </label>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="form-group row m-t setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none setting__label">
            @T("Admin.Settings.Checkout.ZipDisplayPlace")
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.ZipDisplayPlace, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.ZipDisplayPlace" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="ZipDisplayPlace"></span>
        </label>
    </div>
    <div class="col-md-2">
    </div>
</div>


<div class="setting-title flex setting--flex-column setting--m-b">
    <h3 class="setting__subtitle setting--align-top">@T("Admin.Settings.Checkout.BuyInOneClickFields")</h3>
    <div class="flex middle-xs p-b-xs">
        <a href="https://www.advantshop.net/help/pages/checkoutfields#3" target="_blank" class="p-l-sm link-academy link-invert inline-flex middle-xs setting--align-top setting--help-link">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="18" height="18" fill="#989a9b" class="m-r-xs">
            <path d="M20.005,512c-5.097,0-10.116-1.948-13.925-5.641c-5.845-5.666-7.672-14.309-4.621-21.855l45.411-112.333  C16.162,332.253,0,285.425,0,236c0-63.375,26.855-122.857,75.62-167.489C123.891,24.331,187.952,0,256,0  s132.109,24.331,180.38,68.511C485.145,113.143,512,172.625,512,236c0,45.448-14.04,89.577-40.602,127.615  c-6.325,9.057-18.792,11.271-27.849,4.947s-11.271-18.792-4.947-27.849C460.452,309.425,472,273.215,472,236  c0-108.075-96.897-196-216-196S40,127.925,40,236c0,43.783,15.577,85.2,45.046,119.773c4.834,5.671,6.115,13.561,3.321,20.47  l-31.366,77.589l91.345-40.266c5.063-2.231,10.826-2.267,15.916-0.095C193.082,425.766,223.946,432,256,432  c36.892,0,73.299-8.587,105.286-24.832c9.85-5,21.887-1.072,26.889,8.775c5.001,9.849,1.073,21.887-8.775,26.889  C341.828,461.914,299.157,472,256,472c-34.48,0-67.835-6.191-99.276-18.413L28.068,510.301C25.474,511.444,22.728,512,20.005,512z   M276,325V217c0-11.046-8.954-20-20-20s-20,8.954-20,20v108c0,11.046,8.954,20,20,20S276,336.046,276,325z M256,128  c-11.046,0-20,8.954-20,20l0,0c0,11.046,8.954,20,20,20s20-8.954,20-20l0,0C276,136.954,267.046,128,256,128z"></path>
            </svg>
            <span>@T("Admin.Settings.Checkout.Instructions.FieldsBuyOneClick")</span>
        </a>
    </div>
</div>

@if (!isMobile)
{
    <div class="form-group row">
        <div class="col-xs-4">
            <div class="setting-label-wrap">
                @T("Admin.Settings.Checkout.NameField")
            </div>
        </div>
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @T("Admin.Settings.Checkout.ShowField")
            </div>
        </div>
        <div class="col-xs-2">
            <div class="setting-label-wrap">
                @T("Admin.Settings.Checkout.RequiredField")
            </div>
        </div>
    </div>
}

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none">
            @Html.TextBoxFor(x => Model.BuyInOneClickName, new { @class = "form-control input-small input-alt", ng_model = "settingsCheckout.BuyInOneClickName" })
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowBuyInOneClickName, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowBuyInOneClickName" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowBuyInOneClickName"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsRequiredBuyInOneClickName, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsRequiredBuyInOneClickName" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsRequiredBuyInOneClickName"></span>
        </label>
    </div>
</div>

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none">
            @Html.TextBoxFor(x => Model.BuyInOneClickEmail, new { @class = "form-control input-small input-alt", ng_model = "settingsCheckout.BuyInOneClickEmail" })
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowBuyInOneClickEmail, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowBuyInOneClickEmail" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowBuyInOneClickEmail"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsRequiredBuyInOneClickEmail, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsRequiredBuyInOneClickEmail" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsRequiredBuyInOneClickEmail"></span>
        </label>
    </div>
</div>

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap setting--m-none">
            @Html.TextBoxFor(x => Model.BuyInOneClickPhone, new { @class = "form-control input-small input-alt", ng_model = "settingsCheckout.BuyInOneClickPhone" })
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowBuyInOneClickPhone, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowBuyInOneClickPhone" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowBuyInOneClickPhone"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsRequiredBuyInOneClickPhone, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsRequiredBuyInOneClickPhone" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsRequiredBuyInOneClickPhone"></span>
        </label>
    </div>
</div>

<div class="form-group row setting__form-group setting__spacial-grid-block">
    <div class="@(isMobile ? "" : "col-md-4")">
        <div class="setting-label-wrap">
            @Html.TextBoxFor(x => Model.BuyInOneClickComment, new { @class = "form-control input-small input-alt", ng_model = "settingsCheckout.BuyInOneClickComment" })
        </div>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsShowBuyInOneClickComment, new { @class = "adv-checkbox-input setting__adv-checkbox-eye-input", ng_model = "settingsCheckout.IsShowBuyInOneClickComment" })
            <span class="adv-checkbox-emul setting__adv-checkbox-eye-emul" data-e2e="IsShowBuyInOneClickComment"></span>
        </label>
    </div>
    <div class="col-md-2">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => Model.IsRequiredBuyInOneClickComment, new { @class = "adv-checkbox-input setting__adv-checkbox-required-input", ng_model = "settingsCheckout.IsRequiredBuyInOneClickComment" })
            <span class="adv-checkbox-emul setting__adv-checkbox-required-emul" data-e2e="IsRequiredBuyInOneClickComment"></span>
        </label>
    </div>
</div>