@model AdvantShop.Web.Admin.Models.Settings.Users.AdminUserModel

<div class="top-panel-user" ng-controller="topPanelUserCtrl as TopPanel" ng-init="TopPanel.userName = '@Model.FirstName @Model.LastName'">
    <figure class="top-panel-user__photo">
        <img class="top-panel-user__photo-el" src="@Model.PhotoSrc">
    </figure>
    <div class="top-panel-user__info">
        <div class="top-panel-user__fio" ng-bind="TopPanel.userName">
            @Model.FirstName @Model.LastName
        </div>
        <div class="top-panel-user__edit">
            @Html.Button(T("Редактировать профиль"), colorType: eColorType.Link, type: eButtonType.Link, size: eButtonSize.XSmall,
                attributes: new []{"ng-click=\"TopPanel.loadCurrentUser()\""}, modificators: new List<eButtonModificators>() {eButtonModificators.HorizontalPaddingZero},
                cssClass: "top-panel-user__edit-btn")
        </div>
    </div>
    <div class="top-panel-user__controls">
        <a href="@Url.AbsoluteRouteUrl("Logout")" class="link-decoration-none link-alt">Выйти</a>
    </div>
</div>
