@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="setting-title">
    <h2 class="page-name-block-text sticky-page-name-text setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth")</h2>
    <div class="m-t">
        <p>
            @T("Admin.SettingsApiAuth.Index.ApiAuth.TextOne")
        </p>
        <p>
            @T("Admin.SettingsApiAuth.Index.ApiAuth.TextTwo")
        </p>
        <p>
            @T("Admin.SettingsApiAuth.Index.ApiAuth.TextThree")
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-2 @(isMobile ? "setting-label-wrap setting__label" : "")">
        @T("Admin.Settings.API.Key")
    </div>
    <div class="col-xs-12 col-md-7 relative  @(isMobile ? "flex middle-xs" : "")">
        @Html.TextBoxFor(x => x.KeyAuth, new { @class = "form-control input-alt", ng_model = "settings.KeyAuth" })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs @(isMobile ? "m-l-sm p-l-xs" : "")" data-title="@T("Admin.Settings.API.Key")">
            <div class="help-content">
                @T("Admin.SettingsApi.Index.ApiKey")<br>
                <br>
                @T("Admin.SettingsApi.Index.NoteIfYouRegenerate")
                <br><br />
                @T("Admin.SettingsApiAuth.Index.ApiAuth.ApiKeyTextOne")
                <br><br />
                @T("Admin.SettingsApiAuth.Index.ApiAuth.ApiKeyTextTwo")
            </div>
        </help-trigger>
    </div>
</div>
<div class="row setting__form-group @(isMobile ? "m-t-sm" : "m-t-xs")">
    @if (!isMobile)
    {
        <div class="col-xs-2"></div>
    }
    <div class="col-xs-12 col-md-7">
        <a class="link-decoration-none"  href="" ng-click="settings.generateApiKeyAuth()">@T("Admin.SettingsApi.Index.GenerateApiKey")</a>
    </div>
</div>

@*<div class="setting-title">
    <h3 class="setting__subtitle">&nbsp;</h3>
</div>*@
<div class="m-t">
    @Html.Partial("ApiAuth/_Init")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.Buyer")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_Users")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.Order")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_OrdersMe")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.Catalog")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_Catalog")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.Search")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_Search")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.Product")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_Products")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.Basket")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_Cart")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.Coupon")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_Coupons")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.PlacingOrder")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_Checkout")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.ToOrder")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_Preorder")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.DeliveryMethods")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_Deliveries")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.Territories")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_Locations")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.BonusSystem")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_MeBonuses")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.Featured")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_WishList")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.Settings")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_Settings")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.StaticBlocks")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_StaticBlocks")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.StaticPages")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_StaticPages")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.Modules")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_Modules")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.Barcodes")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_Barcodes")
</div>




<div class="setting-title">
    <h2 class="setting__subtitle">v2</h2>
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.Initialization")</h3>
</div>
<div class="m-t">
    @Html.Partial("ApiAuth/_InitV2")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.Leads")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_LeadsV2")
</div>

<div class="setting-title">
    <h3 class="setting__subtitle">@T("Admin.SettingsApiAuth.Index.ApiAuth.DeliveryMethods")</h3>
</div>
<div>
    @Html.Partial("ApiAuth/_DeliveriesV2")
</div>