@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/notifications/sendPush</span>
        <span class="description">@T("Admin.SettingsApi.Index.Notifications.SendPush")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiUrl("/api/notifications/sendPush")
        </div>
                
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">customerId</div>
                <div class="col-xs-1">guid</div>
                <div class="col-xs">Идентификатор покупателя</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">title</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Заголовок уведомления</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">body</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Текст уведомления</div>
            </div>
        </div>
        
        <h3 class="m-t">@T("Admin.SettingsApi.Index.Order.SampleRequest")</h3>
        <pre class="m-t-sm">/api/notifications/sendpush</pre>
        <pre class="m-t-sm">{
    "customerId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
    "title": "Заголовок",
    "body": "Сообщение"
}
</pre>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApi.Index.Order.SampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "ok"
}</pre>     
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApi.Index.Order.SampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Укажите заголовок и сообщение уведомления"
}</pre>
    </div>
</div>