@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/settings</span>
        <span class="description">@T("Admin.SettingsApi.Index.Settings.SettingsList")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiUrl("/api/settings")
        </div>

        <p>@T("Admin.SettingsApi.Index.Settings.SettingsList.GetByKeys")</p>

        <h3 class="m-t">@T("Admin.SettingsApi.Index.Order.SampleRequest")</h3>
        <pre class="m-t-sm">/api/settings?keys=ShopURL,ShopName</pre>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApi.Index.Order.SampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">[
    {
        "key": "ShopURL",
        "value": "http://site.ru"
    },
    {
        "key": "ShopName",
        "value": "Shop name"
    }
]
</pre>
    </div>
</div>