@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<ui-modal-trigger scope="customerSegment.$scope"
                  template-url="send-message-modal.html">
    <button class="btn btn-sm btn-success" type="button">
        @T("Admin.CustomerSegments.AddEdit.SendMessage")
    </button>
</ui-modal-trigger>

<script type="text/ng-template" id="send-message-modal.html">
    <div class="popover-inner" style="padding:0;">
        <div class="popover-content">
            <div class="more-button-popover__inner">
                <div class="more-button-popover__item  text-left">
                    <a class="btn btn-text setting--p-none more-button-popover__btn btn--horizontal-padding-zero" style="justify-content:flex-start;" ng-click="customerSegment.export()">
                        <svg width="24px" height="24px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <polygon fill="#0084f4" points="13 21 26.17 21 23.59 23.59 25 25 30 20 25 15 23.59 16.41 26.17 19 13 19 13 21" />
                            <path fill="#0084f4" d="M22,14V10a1,1,0,0,0-.29-.71l-7-7A1,1,0,0,0,14,2H4A2,2,0,0,0,2,4V28a2,2,0,0,0,2,2H20a2,2,0,0,0,2-2V26H20v2H4V4h8v6a2,2,0,0,0,2,2h6v2Zm-8-4V4.41L19.59,10Z" />
                        </svg>
                        <span style="@(isMobile ? "margin-left:18px;" : "")">@T("Admin.CustomerSegments.AddEdit.ExportCustomers")</span>
                    </a>
                </div>
                <div class="more-button-popover__item">
                    <ui-modal-trigger data-controller="'ModalSendLetterToCustomerCtrl'"
                                      controller-as="ctrl"
                                      size="lg"
                                      template-url="@Html.GetAssetPath("sendLetterToCustomer.html")"
                                      data-resolve="{params: {customerIds: customerSegment.customerIds, pageType: 'customerSegment'}}">
                        <a class="btn btn-text setting--p-none more-button-popover__btn btn--horizontal-padding-zero" style="justify-content:flex-start;">
                            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <title>background</title>
                                    <rect x="-1" y="-1" width="26" height="26" id="canvas_background" fill="none" />
                                </g>

                                <g>
                                    <title>Layer 1</title>
                                    <g stroke="null" id="icon">
                                        <path stroke="red" d="m21.86452,21.122922c-1.253362,0.761657 -2.604461,1.332899 -4.05375,1.713729c-1.449289,0.380828 -3.029549,0.571243 -4.740176,0.571243c-1.710929,0 -3.318077,-0.24741 -4.8219,-0.741802c-1.503823,-0.49482 -2.817156,-1.224193 -3.939245,-2.188549c-1.122391,-0.964499 -2.007917,-2.153838 -2.656124,-3.568446c-0.648509,-1.414607 -0.972537,-3.046628 -0.972537,-4.896489c0,-1.681587 0.316022,-3.227186 0.948065,-4.636795c0.631892,-1.409608 1.490076,-2.621231 2.5744,-3.635298c1.084172,-1.013924 2.34554,-1.802865 3.783953,-2.366679c1.438413,-0.563672 2.969275,-0.84565 4.593041,-0.84565c0.948065,0 1.871508,0.086707 2.770478,0.259695c0.899122,0.173273 1.748996,0.430253 2.549927,0.771656c0.800931,0.34126 1.53902,0.771513 2.214872,1.290902c0.67555,0.519389 1.255779,1.130201 1.740839,1.832433c0.484607,0.702518 0.86332,1.493745 1.135835,2.374107c0.272365,0.880648 0.408774,1.849861 0.408774,2.90821c0,1.088204 -0.152875,2.069845 -0.457566,2.945207c-0.305296,0.875363 -0.719207,1.622449 -1.242335,2.240546c-0.522977,0.61824 -1.130549,1.095632 -1.822564,1.431893c-0.692015,0.336403 -1.424666,0.50439 -2.198406,0.50439c-0.566785,0 -1.040666,-0.081565 -1.421946,-0.244696c-0.381582,-0.163273 -0.67842,-0.393257 -0.890813,-0.690091c-0.212544,-0.296692 -0.346083,-0.652808 -0.400617,-1.068348c-0.054685,-0.415397 -0.032478,-0.961927 0.043959,-1.466604c-0.555757,1.137629 -1.256232,2.057702 -2.078915,2.586805c-0.822985,0.529246 -1.724524,0.793797 -2.705219,0.793797c-0.577661,0 -1.073447,-0.091279 -1.487508,-0.274408c-0.414213,-0.182986 -0.760144,-0.430396 -1.037948,-0.741945c-0.277954,-0.311547 -0.482191,-0.677235 -0.61301,-1.097918c-0.13082,-0.420255 -0.19623,-0.872934 -0.19623,-1.357613c0,-0.553958 0.078855,-1.115202 0.237016,-1.684159c0.15786,-0.568672 0.389439,-1.112773 0.694735,-1.632163c0.304994,-0.519389 0.680836,-1.006353 1.127829,-1.461462c0.446691,-0.454966 0.953352,-0.848079 1.520137,-1.179626c0.566483,-0.331261 1.193239,-0.593526 1.879816,-0.786369c0.686426,-0.192843 1.427385,-0.289407 2.223029,-0.289407c0.446842,0 0.901689,0.037141 1.364845,0.111278c0.463156,0.074137 0.858184,0.185415 1.18493,0.333832l-2.113509,6.679355" fill="none" stroke-linecap="round" stroke-miterlimit="1" stroke-linejoin="round" id="svg_1" />
                                    </g>
                                </g>
                            </svg>
                            <span style="@(isMobile ? "margin-left:18px;" : "")">@T("Admin.CustomerSegments.AddEdit.WriteEmail")</span>
                        </a>
                    </ui-modal-trigger>
                </div>
                @if (Model.IsEditMode)
                {
                <div class="more-button-popover__item inline m-r-xs" ng-init="customerSegment.getCustomerIds(@Model.Id)">
                    <ui-modal-trigger data-controller="'ModalSendSmsAdvCtrl'" controller-as="ctrl"
                                      data-resolve="{params: { customerIds: customerSegment.customerIds, pageType: 'customerSegment'}}"
                                      template-url="@Html.GetAssetPath("sendSms.html")">
                        <a class="btn btn-text edit link-decoration-none setting--p-none more-button-popover__btn btn--horizontal-padding-zero" style="justify-content:flex-start;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 114.44" width="24" height="24">
                            <path fill="currentColor" d="M34.75,35.84A6.72,6.72,0,1,1,28,42.56a6.72,6.72,0,0,1,6.72-6.72ZM7,0H115.91a7,7,0,0,1,7,7V79.86a7,7,0,0,1-7,7H62.55L36.14,106.45c-5,4.76-9.47,7.76-12.88,8-5,.3-7.61-3.1-7-11.56v-16H7a7,7,0,0,1-7-7V7A7,7,0,0,1,7,0ZM115.91,6.8H7A.17.17,0,0,0,6.8,7V79.86A.17.17,0,0,0,7,80H19.64a3.4,3.4,0,0,1,3.4,3.4v19.49h0a2.09,2.09,0,0,1,0,.25c-.23,3.15-.27,4.48-.17,4.47,1.67-.1,4.77-2.46,8.75-6.24l.32-.26L59.2,80.87A3.36,3.36,0,0,1,61.44,80h54.47a.17.17,0,0,0,.17-.17V7a.17.17,0,0,0-.17-.17Zm-55.47,29a6.72,6.72,0,1,1-6.73,6.72,6.72,6.72,0,0,1,6.73-6.72Zm25.69,0a6.72,6.72,0,1,1-6.73,6.72,6.72,6.72,0,0,1,6.73-6.72Z" />
                            </svg>
                        <span style="@(isMobile ? "margin-left:18px;" : "")">@T("Admin.CustomerSegments.AddEdit.SendSMS")</span>
                        </a>
                    </ui-modal-trigger>
                </div>
                }

                @if (Model.IsEditMode && Model.SegmentFilter != null && Model.SegmentFilter.IsVkUser)
                {
                <div class="more-button-popover__item">
                    <ui-modal-trigger data-controller="'ModalSendSocialMessageCtrl'" controller-as="ctrl"
                                      template-url="@Html.GetAssetPath("sendSocialMessage.html")"
                                      data-resolve="{params: {customerSegmentId: @Model.Id, type: 'vk'}}">
                        <a class="btn btn-text setting--p-none more-button-popover__btn btn--horizontal-padding-zero" style="justify-content:flex-start;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="30" height="30"><path fill="#1976d2" d="M24 4A20 20 0 1 0 24 44A20 20 0 1 0 24 4Z" /><path fill="#fff" d="M35.937,18.041c0.046-0.151,0.068-0.291,0.062-0.416C35.984,17.263,35.735,17,35.149,17h-2.618 c-0.661,0-0.966,0.4-1.144,0.801c0,0-1.632,3.359-3.513,5.574c-0.61,0.641-0.92,0.625-1.25,0.625C26.447,24,26,23.786,26,23.199 v-5.185C26,17.32,25.827,17,25.268,17h-4.649C20.212,17,20,17.32,20,17.641c0,0.667,0.898,0.827,1,2.696v3.623 C21,24.84,20.847,25,20.517,25c-0.89,0-2.642-3-3.815-6.932C16.448,17.294,16.194,17,15.533,17h-2.643 C12.127,17,12,17.374,12,17.774c0,0.721,0.6,4.619,3.875,9.101C18.25,30.125,21.379,32,24.149,32c1.678,0,1.85-0.427,1.85-1.094 v-2.972C26,27.133,26.183,27,26.717,27c0.381,0,1.158,0.25,2.658,2c1.73,2.018,2.044,3,3.036,3h2.618 c0.608,0,0.957-0.255,0.971-0.75c0.003-0.126-0.015-0.267-0.056-0.424c-0.194-0.576-1.084-1.984-2.194-3.326 c-0.615-0.743-1.222-1.479-1.501-1.879C32.062,25.36,31.991,25.176,32,25c0.009-0.185,0.105-0.361,0.249-0.607 C32.223,24.393,35.607,19.642,35.937,18.041z" /></svg>
                            <span style="@(isMobile ? "margin-left:18px;" : "")">@T("Admin.CustomerSegments.AddEdit.SendMessageToVkontakte")</span>
                        </a>
                    </ui-modal-trigger>
                </div>
                }
            </div>
        </div>
    </div>
</script>