@model AdvantShop.App.Landing.Models.ProductShippingVariantsModel
 <div data-shipping-variants 
    data-type="@Model.ShowShippingsMethods" 
    data-start-offer-id="@Model.OfferId" 
    data-start-amount="@Model.MinAmount"
    data-zip="@Model.Zip"
    data-offer-id="@Model.NgOfferId"
    data-amount="@Model.NgAmount"
    data-sv-custom-options="@Model.NgSvCustomOptions"
    data-init-fn="@Model.NgInitFn"
    class="lp-shipping-variants-component"></div>