@model AdvantShop.Web.Admin.Models.Catalog.ExportFeeds.ExportFeedSettingsResellerModel

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

@Html.HiddenFor(x => Model.CsvSeparator, new { @class = "form-control", ng_model = "exportFeeds.AdvancedSettings.CsvSeparator", ng_init = "exportFeeds.AdvancedSettings.CsvSeparator='" + Model.CsvSeparator + "'" })
@Html.HiddenFor(x => Model.CsvColumSeparator, new { @class = "form-control", ng_model = "exportFeeds.AdvancedSettings.CsvColumSeparator", ng_init = "exportFeeds.AdvancedSettings.CsvColumSeparator='" + Model.CsvColumSeparator + "'" })
@Html.HiddenFor(x => Model.CsvPropertySeparator, new { @class = "form-control", ng_model = "exportFeeds.AdvancedSettings.CsvPropertySeparator", ng_init = "exportFeeds.AdvancedSettings.CsvPropertySeparator='" + Model.CsvPropertySeparator + "'" })

@Html.HiddenFor(x => Model.CsvEnconing, new { @class = "form-control", ng_model = "exportFeeds.AdvancedSettings.CsvEnconing", ng_init = "exportFeeds.AdvancedSettings.CsvEnconing='" + Model.CsvEnconing + "'" })
@Html.HiddenFor(x => Model.CsvCategorySort, new { @class = "form-control", ng_model = "exportFeeds.AdvancedSettings.CsvCategorySort", ng_init = "exportFeeds.AdvancedSettings.CsvCategorySort='" + Model.CsvCategorySort.ToLowerString() + "'" })

<div class="form-group row setting__form-group">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <div class="setting-label-wrap setting__label">
            @Html.LabelFor(x => x.ResellerCode, T("Admin.ExportFeeed.SettingsReseller.ResellerCode"))
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        @Html.TextBoxFor(x => Model.ResellerCode, new { @class = "form-control input-alt", ng_model = "exportFeeds.AdvancedSettings.ResellerCode", @readonly = "readonly" })
    </div>
</div>

<div class="form-group row setting__form-group">
    @if (!isMobile)
    {
        <div class="col-xs-12 col-md-3 col-wl-2">
            <div class="setting-label-wrap">
                @Html.LabelFor(x => x.ExportNotAvailable, T("Admin.ExportFeed.SettingsYandex.ExportNotAvailable"), new { @class = "required" })
            </div>
        </div>
    }
    <div class="col-xs-12 col-md-5 col-wl-4 @(isMobile ? "flex middle-xs" : "")">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.ExportNotAvailable, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.ExportNotAvailable=" + Model.ExportNotAvailable.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.ExportNotAvailable" })
            <span class="adv-checkbox-emul"></span>
        </label>
        @if (isMobile)
        {
            @Html.LabelFor(x => x.ExportNotAvailable, T("Admin.ExportFeed.SettingsYandex.ExportNotAvailable"), new { @class = "required m-l-sm setting__label flex-grow" })
        }
        <help-trigger class="ng-cloak m-l-sm @(isMobile ? "p-l-sm" : "")" data-title="@T("Admin.ExportFeeed.SettingsYandex.ExportNotAvailable")">
            <div class="help-content">
                @T("Admin.ExportFeeds.YandexMarket.UnavailableProducts")
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row setting__form-group">
    @if (!isMobile)
    {
        <div class="col-xs-3 col-wl-2">
            <div class="setting-label-wrap">
                @Html.LabelFor(x => x.ExportFromMainCategories, T("Admin.ExportFeed.SettingsReseller.ExportFromMainCategories"))
            </div>
        </div>
    }
<div class="col-xs-12 col-md-5 col-wl-4 @(isMobile ? "flex middle-xs" : "")">
    <label class="adv-checkbox-label">
        @Html.CheckBoxFor(x => x.ExportFromMainCategories, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.ExportFromMainCategories=" + Model.ExportFromMainCategories.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.ExportFromMainCategories" })
        <span class="adv-checkbox-emul"></span>
    </label>
        @if (isMobile)
        {
            @Html.LabelFor(x => x.ExportFromMainCategories, T("Admin.ExportFeed.SettingsReseller.ExportFromMainCategories"), new { @class = "m-l-sm setting__label flex-grow" })
        }
    </div>
</div>

<div class="form-group row setting__form-group">
    @if (!isMobile)
    {
        <div class="col-xs-3 col-wl-2">
            <div class="setting-label-wrap">
                @Html.LabelFor(x => x.UnloadOnlyMainCategory, T("Admin.ExportFeed.SettingsReseller.UnloadOnlyMainCategory"))
            </div>
        </div>
    }
    <div class="col-xs-12 col-md-5 col-wl-4 @(isMobile ? "flex middle-xs" : "")">
        <label class="adv-checkbox-label">
            @Html.CheckBoxFor(x => x.UnloadOnlyMainCategory, new { @class = "adv-checkbox-input", ng_init = "exportFeeds.AdvancedSettings.UnloadOnlyMainCategory=" + Model.UnloadOnlyMainCategory.ToLowerString(), ng_model = "exportFeeds.AdvancedSettings.UnloadOnlyMainCategory" })
            <span class="adv-checkbox-emul"></span>
        </label>
         @if (isMobile)
        {
            @Html.LabelFor(x => x.UnloadOnlyMainCategory, T("Admin.ExportFeed.SettingsReseller.UnloadOnlyMainCategory"), new { @class = "m-l-sm setting__label flex-grow" })
        }
        <help-trigger class="ng-cloak m-l-sm @(isMobile ? "p-l-sm" : "")" data-title="@T("Admin.ExportFeed.SettingsReseller.UnloadOnlyMainCategory")">
            <div class="help-content">
                Параметр влияет на поле "@AdvantShop.ExportImport.ProductFields.Category.Localize()"
            </div>
        </help-trigger>
    </div>
</div>

<div class="form-group row middle-xs">
    <div class="col-xs-12 col-md-3 col-wl-2">
        <div class="setting-label-wrap setting__label">
            @Html.LabelFor(x => x.StocksFromWarehouses, T("Admin.ExportFeed.SettingsReseller.StocksFromWarehouses"))
        </div>
    </div>
    <div class="col-xs-12 col-md-3 col-wl-2 relative  @(isMobile ? "flex middle-xs" : "")">
        @Html.ListBoxFor(x => x.StocksFromWarehouses, Model.Warehouses,
        new {
        ng_model = "exportFeeds.AdvancedSettings.StocksFromWarehouses",
        ng_init = "exportFeeds.AdvancedSettings.StocksFromWarehouses='" + string.Join(",", Model.StocksFromWarehouses) + "'",
        @class = "form-control input-alt-mobile",
        size = 4 })
        <help-trigger class="ng-cloak help-trigger-icon-abs m-l-xs @(isMobile ? "p-l-sm" : "")" data-title="@T("Admin.ExportFeed.SettingsReseller.StocksFromWarehouses")">
            <div class="help-content">
                Суммарное кол-во будет выгружаться с этих складов. Если ни один склад не выбран, то общее кол-во по позиции.
            </div>
        </help-trigger>
    </div>
</div>
