@{
    var isMobile = SettingsDesign.IsMobileTemplate;
    Html.AddAsset("settingsSearch");
}
@if (!isMobile)
{
    <div class="sticky-page-name" sticky sticky-top="0">
        <div class="page-name-block sticky-page-name-inner">
            <div class="page-name-block-item-main">
                <h1 class="page-name-block-text sticky-page-name-text">
                    @T("Admin.SettingsSearch.Index.SearchSettings")
                </h1>
            </div>
            <div class="page-name-block-item-additional">
                <ui-modal-trigger data-controller="'ModalAddEditSettingsSearchCtrl'" controller-as="ctrl"
                                  template-url="@Html.GetAssetPath("addEditsettingsSearch.html")"
                                  data-on-close="settingsSearch.grid.fetchData()">
                    <button class="btn btn-sm btn-success btn--margin-left" type="button" data-e2e="btnAdd">
                        <span class="fa fa-plus"></span>
                        @T("Admin.SettingsSearch.Index.AddSetting")
                    </button>
                </ui-modal-trigger>
            </div>
        </div>
    </div> 
}
else
{
        @Html.Header(new AdvantShop.Web.Admin.ViewModels.Shared.Common.HeaderViewModel()
        {
            Title = T("Admin.SettingsSearch.Index.SearchSettings").ToString(),
        })
}

<div class="ibox">
    <div class="ibox-content">
        <ui-grid-custom grid-unique-id="grid"
                        grid-on-init="settingsSearch.gridOnInit(grid)"
                        grid-options="settingsSearch.gridOptions"
                        grid-selection-enabled="false"
                        grid-url="'settingsSearch/getsettingsSearch'"
                        grid-inplace-url="'settingsSearch/inplaceSettingsSearch'"
                        grid-search-placeholder="'@T("Admin.SettingsSearch.Index.SearchByName")'"
                        grid-extend-ctrl="settingsSearch">
            @if (isMobile)
            {
                <ui-grid-custom-override-header-control class="ng-cloak">
                    <span class="ui-grid-custom-override-header__cell">{{'Admin.Js.SettingsSearch.Title'| translate}}</span>
                    <span class="ui-grid-custom-override-header__cell">{{'Admin.Js.SettingSearch.Link'| translate}}</span>
                </ui-grid-custom-override-header-control>
                <ui-grid-custom-override-control class="ng-cloak">
                <ui-modal-trigger data-controller="'ModalAddEditSettingsSearchCtrl'" controller-as="ctrl"
                                                              template-url="@Html.GetAssetPath("addEditSettingsSearch.html")"
                                                              data-resolve="{value:{'Id': row.entity.Id, 'Title': row.entity.Title, 'Link': row.entity.Link, 'KeyWords': row.entity.KeyWords, 'SortOrder': row.entity.SortOrder }}"
                                                              data-on-close="grid.appScope.$ctrl.fetchData()">
                    <div class="card card--gap-row-sm m-b-md">
                        <div class="flex middle-xs between-xs fs-xs">
                            <div class="card__text" ng-bind="row.entity.Title"></div>
                            <a class="card__text" ng-href="{{row.entity.Link}}" ng-click="$event.stopPropagation()" target="_blank">{{row.entity.Link}}</a>
                        </div>
                    </div>
                </ui-modal-trigger>
                </ui-grid-custom-override-control>
            }
            <ui-grid-custom-footer class="ui-grid-custom-footer" ng-bind="settingsSearch.grid.gridOptions.TotalString">
            </ui-grid-custom-footer>
        </ui-grid-custom>
    </div>
</div>
