@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel


<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/barcodes/search</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.ApiAuth.BracodesDescription")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/barcodes/search")
        </div>

        <div class="m-t m-b">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">
{
    "barcode": "1001001"
}
</pre>
        <div class="m-t m-b-xs">
           @T("Admin.SettingsApiAuth.Index.ApiAuth.BracodesDescriptionHint")
        </div>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">
{
    "product": {
        "productId": 1,
        "artNo": "123",
        "name": "Product name",
        "urlPath": "product-url-path",
        "briefDescription": "Краткое описание",
        "description": "Подробное описание",
        "enabled": true,
        "categoryEnabled": true,
        "hidden": false,
        "ratio": null,
        "isAdult": false,
        "recomended": false,
        "newProduct": false,
        "bestseller": false,
        "sales": false,
        "favorite": false,
        "gifts": false,
        "giftProducts": null,
        "allowPreorder": true,
        "minAmount": 1.0,
        "maxAmount": 2.14748365E+09,
        "multiplicity": 1.0,
        "unit": null,
        "commentsCount": 0,
        "sizeColorPicker": {
            "sizes": [],
            "selectedSizeId": null,
            "colors": [
                {
                    "id": 1,
                    "name": "Бежевый цвет",
                    "code": "#000000",
                    "photoSrc": null
                },
                {
                    "id": 2,
                    "name": "Зеленый цвет",
                    "code": "#000000",
                    "photoSrc": null
                },
                {
                    "id": 3,
                    "name": "Красный",
                    "code": "#000000",
                    "photoSrc": null
                }
            ],
            "selectedColorId": 1,
            "colorIconHeight": 18,
            "colorIconWidth": 18,
            "sizesHeader": "Размер",
            "colorsHeader": "Цвет"
        },
        "discount": {
            "percent": 0.0,
            "amount": 0.0,
            "type": "Percent"
        },
        "offers": [
            {
                "offerId": 1,
                "artNo": "1702",
                "isMain": true,
                "colorId": 1,
                "sizeId": null,
                "oldPrice": 0.0,
                "preparedOldPrice": "0 руб.",
                "price": 811.0,
                "preparedPrice": "811 руб.",
                "bonuses": "+24 бонуса на бонусную карту",
                "amount": 205.0,
                "isAvailable": true,
                "availableText": "Есть в наличии",
                "weight": 1.0,
                "height": 0.0,
                "length": 0.0,
                "width": 0.0,
                "addToCart": false
            },
            {
                "offerId": 2,
                "artNo": "1702-2",
                "isMain": false,
                "colorId": 2,
                "sizeId": null,
                "oldPrice": 0.0,
                "preparedOldPrice": "0 руб.",
                "price": 800.0,
                "preparedPrice": "800 руб.",
                "bonuses": "+24 бонуса на бонусную карту",
                "amount": 0.0,
                "isAvailable": false,
                "availableText": "Нет в наличии",
                "weight": 1.0,
                "height": 0.0,
                "length": 0.0,
                "width": 0.0,
                "addToCart": false
            },
            {
                "offerId": 3,
                "artNo": "1702-3",
                "isMain": false,
                "colorId": 3,
                "sizeId": null,
                "oldPrice": 0.0,
                "preparedOldPrice": "0 руб.",
                "price": 500.0,
                "preparedPrice": "500 руб.",
                "bonuses": "+15 бонусов на бонусную карту",
                "amount": 0.0,
                "isAvailable": false,
                "availableText": "Нет в наличии",
                "weight": 1.0,
                "height": 0.0,
                "length": 0.0,
                "width": 0.0,
                "addToCart": false
            }
        ],
        "offerSelectedId": 1,
        "customOptions": [],
        "brand": null,
        "currency": {
            "name": "Рубли",
            "symbol": " руб.",
            "rate": 1.0,
            "iso3": "RUB",
            "isCodeBefore": false,
            "roundNumbers": 1.0,
            "enablePriceRounding": true
        },
        "photoSmall": "https://site.ru/pictures/product/small/9953_small.jpg",
        "photoMiddle": "https://site.ru/pictures/product/middle/9953_middle.jpg",
        "photoBig": "https://site.ru/pictures/product/big/9953_big.jpg",
        "photos": [
            {
                "smallSrc": "https://site.ru/pictures/product/small/9953_small.jpg",
                "middleSrc": "https://site.ru/pictures/product/middle/9953_middle.jpg",
                "bigSrc": "https://site.ru/pictures/product/big/9953_big.jpg",
                "colorId": null,
                "main": true
            }
        ],
        "showPhotos360": false,
        "photos360": null,
        "videos": [],
        "markers": null,
        "sizeChart": null
    }
}
</pre>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.BracodesExample2")</h3>
        </div>
        <pre class="m-t-sm">
{
    "product": null
}
</pre>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Укажите штрихкод"
}</pre>

    </div>
</div>
