@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/cart</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Basket.GetABasket")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/cart")
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">{
    "items": [
        {
            "index": 1,
            "offerId": 24473,
            "amount": 1,
            "customOptions": [
                {
                    "id": 275,
                    "optionId": 1808,
                    "optionAmount": 1
                },
                {
                    "id": 276,
                    "optionId": 1811,
                    "optionAmount": 1
                },
                {
                    "id": 276,
                    "optionId": 1814,
                    "optionAmount": 1
                },
                {
                    "id": 277,
                    "optionId": 1815
                },
                {
                    "id": 278,
                    "optionId": 1816,
                    "optionText": "Some text"
                },
                {
                    "id": 279,
                    "optionId": 1817,
                    "optionText": "Some multiple text"
                }
            ]
        },
        {
            "index": 2,
            "offerId": 1234,
            "amount": 1
        }
    ],
    "addItemsToCurrentCart": false
}</pre>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">items</div>
                <div class="col-xs-1">List</div>
                <div class="col-xs">Список товаров корзины</div>
            </div>
        </div>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">index</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Индекс позиции.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">offerId</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Id модификации. Обяз. параметр.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">amount</div>
                <div class="col-xs-1">double</div>
                <div class="col-xs">Кол-во товара. Обяз. параметр.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">customOptions</div>
                <div class="col-xs-1">array</div>
                <div class="col-xs">Список выбранных доп. опций. Не обяз. параметр.</div>
            </div>            
        </div>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">addItemsToCurrentCart</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Добавлять товары к текущей корзине. Не обяз. параметр. Если false или не передается, то текущая корзина покупателя затрется и добавятся переданные товары.</div>
            </div>
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
    <pre class="m-t-sm">{
    "validationError": null,
    "items": [
        {
            "index": 1,
            "validationError": null,
            "offerId": 24473,
            "name": "Новый товар 2",
            "artNo": "13653",
            "link": "https://mysite.ru/products/novyi-tovar",
            "photoSmall": "https://mysite.ru/pictures/product/small/13489_small.jpg",
            "photoMiddle": "https://mysite.ru/pictures/product/middle/13489_middle.jpg",
            "color": "Белый",
            "size": "S",
            "selectedCustomOptions": [
                {
                    "title": "Доп опция 1",
                    "value": "Список 1 + 1 000 руб."
                },
                {
                    "title": "Доп опция 2",
                    "value": "Процент 10 10 %"
                },
                {
                    "title": "Доп опция 3",
                    "value": "Галочка 2 + 20 руб."
                },
                {
                    "title": "Доп опция 4",
                    "value": "+ 111 руб."
                },
                {
                    "title": "Text field",
                    "value": "Some text "
                },
                {
                    "title": "Multiple text field",
                    "value": "Some multiple text "
                }
            ],
            "preparedOldPrice": "1 241 руб.",
            "preparedPrice": "1 231 руб.",
            "discount": {
                "percent": 0.0,
                "amount": 10.0,
                "type": "Amount"
            },
            "preparedDiscount": "10  руб.",
            "amount": 1.0,
            "preparedCost": "1 231 руб.",
            "availableAmount": 1.0,
            "minAmount": 1.0,
            "maxAmount": 2.14748365E+09,
            "canChangeAmount": true,
            "multiplicity": 1.0,
            "isGift": false,
            "unit": null
        },
        {
            "index": 2,
            "validationError": null,
            "offerId": 24464,
            "name": "Рубашка",
            "artNo": "1647-2",
            "link": "https://mysite.ru/products/vash-tovar",
            "photoSmall": "https://mysite.ru/pictures/product/small/13488_small.jpg",
            "photoMiddle": "https://mysite.ru/pictures/product/middle/13488_middle.jpg",
            "color": "Желтый",
            "size": null,
            "selectedCustomOptions": null,
            "preparedOldPrice": "354 руб.",
            "preparedPrice": "319 руб.",
            "discount": {
                "percent": 10.0,
                "amount": 0.0,
                "type": "Percent"
            },
            "preparedDiscount": "10%",
            "amount": 1.0,
            "preparedCost": "319 руб.",
            "availableAmount": 1.0,
            "minAmount": 1.0,
            "maxAmount": 2.14748365E+09,
            "canChangeAmount": true,
            "multiplicity": 1.0,
            "isGift": false,
            "unit": null
        }
    ],
    "count": "2 товара",
    "preparedTotalProductsPrice": "1 550 руб.",
    "preparedTotalPrice": "1 550 руб.",
    "preparedDiscountPrice": null,
    "bonuses": "46 бонусов",
    "coupon": {
        "code": "aqhhVuyE",
        "price": "0 руб.",
        "percent": null,
        "applied": false
    },
    "showCoupon": false,
    "colorHeader": "Цвет",
    "sizeHeader": "Размер",
    "blocks": {
		"beforeBlock": "some html",
		"afterBlock": null,
		"rightBlock": null
	}
}</pre>
        <div class="m-t m-b-xs">
            <p>Если товар не будет найден в магазине, то он не вернется в ответе по API.</p>
            <p>Если корзина не валидна и оформление заказ невозможно в ответе в validationError будет возвращена ошибка для корзины и для кажого item.</p>
        </div>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "validationError": "Заказ содержит недоступное количество товаров.",
    "items": [
        {
            "validationError": "доступно 1",
            "offerId": 24473,
            "name": "Новый товар 2",
            "artNo": "13653",
            "link": "https://mysite.ru/products/novyi-tovar",
            "photoSmall": "https://mysite.ru/pictures/product/small/13489_small.jpg",
            "photoMiddle": "https://mysite.ru/pictures/product/middle/13489_middle.jpg",
            "color": "Белый",
            "size": "S",
            "selectedCustomOptions": [
                {
                    "title": "Доп опция 1",
                    "value": "Список 1 + 1 000 руб."
                },
                {
                    "title": "Доп опция 2",
                    "value": "Процент 10 10 %"
                },
                {
                    "title": "Доп опция 3",
                    "value": "Галочка 2 + 20 руб."
                },
                {
                    "title": "Доп опция 4",
                    "value": "+ 111 руб."
                },
                {
                    "title": "Text field",
                    "value": "Some text "
                },
                {
                    "title": "Multiple text field",
                    "value": "Some multiple text "
                }
            ],
            "preparedOldPrice": "1 241 руб.",
            "preparedPrice": "1 231 руб.",
            "discount": {
                "percent": 0.0,
                "amount": 10.0,
                "type": "Amount"
            },
            "preparedDiscount": "10  руб.",
            "amount": 100.0,
            "preparedCost": "123 100 руб.",
            "availableAmount": 1.0,
            "minAmount": 1.0,
            "maxAmount": 2.14748365E+09,
            "canChangeAmount": true,
            "multiplicity": 1.0,
            "isGift": false,
            "unit": null
        },
        {
            "validationError": "доступно 1",
            "offerId": 24464,
            "name": "Рубашка",
            "artNo": "1647-2",
            "link": "https://mysite.ru/products/vash-tovar",
            "photoSmall": "https://mysite.ru/pictures/product/small/13488_small.jpg",
            "photoMiddle": "https://mysite.ru/pictures/product/middle/13488_middle.jpg",
            "color": "Желтый",
            "size": null,
            "selectedCustomOptions": null,
            "preparedOldPrice": "354 руб.",
            "preparedPrice": "319 руб.",
            "discount": {
                "percent": 10.0,
                "amount": 0.0,
                "type": "Percent"
            },
            "preparedDiscount": "10%",
            "amount": 100.0,
            "preparedCost": "31 900 руб.",
            "availableAmount": 1.0,
            "minAmount": 1.0,
            "maxAmount": 2.14748365E+09,
            "canChangeAmount": true,
            "multiplicity": 1.0,
            "isGift": false,
            "unit": null
        }
    ],
    "count": "200 товаров",
    "preparedTotalProductsPrice": "155 000 руб.",
    "preparedTotalPrice": "147 250 руб.",
    "preparedDiscountPrice": "-7 750 руб. (5%)",
    "bonuses": "4 418 бонусов",
    "coupon": null,
    "showCoupon": true,
    "colorHeader": "Цвет",
    "sizeHeader": "Размер",
    "blocks": {
		"beforeBlock": "some html",
		"afterBlock": null,
		"rightBlock": null
	}
}</pre>
        
    </div>
</div>


<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/cart</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Basket.GetCurrentBasket")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/cart")
        </div>
        <div class="m-t m-b-xs">
            Ответ как в методе POST /api/cart
        </div>
    </div>
</div>
