@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel


<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/catalog</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Catalog.GetCatalog")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/catalog")
        </div>
        <p>headers:</p>
        <p>X-API-KEY: @Model.KeyAuth</p>
        <p>X-API-USER-ID: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</p>
        <p>X-API-USER-KEY: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
        <p>
            @T("Admin.SettingsApiAuth.Index.Catalog.TextOne")
        </p>


        <div class="m-t m-b">
            <h3>@T("Admin.SettingsApiAuth.Index.Catalog.TextOne")</h3>
        </div>
        <pre class="m-t-sm">
{
    "categoryId": 12345,
    "propertyLists": [
        [1],
        [2,3]
    ],
    "propertyRanges": [
        {
            "id": 4,
            "min": 1,
            "max": 100
        }
    ]
}
</pre>

        <h3 class="m-t m-b-xs">Фильтр. Все поля кроме categoryId не обязательны для заполнения</h3>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">categoryId</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Id категории. Обязательно указывается сategoryId или url</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">page</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Текущая страница в постараничном выводе</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">url</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Url категории. Обязательно указывается сategoryId или url</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">brandIds</div>
                <div class="col-xs-1">List int</div>
                <div class="col-xs">Список Id производителей</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">colorIds</div>
                <div class="col-xs-1">List int</div>
                <div class="col-xs">Список Id цветов</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">sizeIds</div>
                <div class="col-xs-1">List int</div>
                <div class="col-xs">Список Id размеров</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">propertyLists</div>
                <div class="col-xs-1">List of list int</div>
                <div class="col-xs">
                    Список свойств. Пример:
                    <pre>[
    [1,2], // массив выбранных id значений
    [3,4,5],
    [7]
]</pre>
                </div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">propertyRanges</div>
                <div class="col-xs-1">List of int</div>
                <div class="col-xs">
                    Список свойств диапазонов. Пример:
                    <pre>[
   {
       "id": 397,  // id свойства
       "min": 1.1, // минимальное значение диапазона
       "max": 3    // максимальное значение диапазона
   }
]</pre>
                </div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">priceFrom</div>
                <div class="col-xs-1">decimal</div>
                <div class="col-xs">Цена от</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">priceTo</div>
                <div class="col-xs-1">decimal</div>
                <div class="col-xs">Цена до</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">available</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Только в наличии</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">sorting</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Сортировка товаров: NoSorting, DescByPopular, DescByAddingDate, AscByPrice, DescByPrice, DescByDiscount, DescByRatio, AscByName, DescByName</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">showHtmlPrice</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Возвращать цену товара с html-тегами. По умолчанию: false</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">search</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Поисковый запрос</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">warehouseIds</div>
                <div class="col-xs-1">List of int</div>
                <div class="col-xs">Список складов. Пример: [1, 2]. Фильтрует товары по наличию на указанных складах.</div>
            </div>
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">
{
  "category": {
    "id": 5701,
    "externalId": "5701",
    "parentCategoryId": 0,
    "name": "Категория 1",
    "url": "kategoriya-1",
    "description": "",
    "briefDescription": "",
    "enabled": true,
    "hidden": false,
    "sortOrder": 0,
    "sorting": "NoSorting",
    "showMode": 1,
    "showBrandsInMenu": false,
    "showSubCategoriesInMenu": false,
    "showOnMainPage": false,
    "modifiedBy": "",
    "seoMetaInformation": {
      "isDefault": true,
      "title": "#STORE_NAME# - #CATEGORY_NAME#",
      "metaKeywords": "#STORE_NAME# - #CATEGORY_NAME#",
      "metaDescription": "#STORE_NAME# - #CATEGORY_NAME#",
      "h1": "#CATEGORY_NAME#"
    },
    "pictureUrl": "https://mysite.ru/pictures/category/4492.jpg",
    "miniPictureUrl": null,
    "menuIconPictureUrl": null
  },
  "subCategories": [
    {
      "id": 5774,
      "name": "Категория 1",
      "url": "url-cat-1",
      "briefDescription": "описание",
      "pictureUrl": null,
      "miniPictureUrl": null,
      "sortOrder": 10,
      "productsCount": 0,
      "productsCountWithSubCategories": 10,
      "hasSubCategories": true
    }
  ],
  "pager": {
    "count": 3,
    "currentPage": 1,
    "totalCount": 3,
    "totalPageCount": 1
  },
  "products": [
    {
      "productId": 1647,
      "offerId": 12460,
      "offerArtNo": "1647",
      "amountOffer": 1,
      "urlPath": "vash-tovar",
      "name": "Рубашка 1234",
      "briefDescription": "",
      "artNo": "1647",
      "multiplicity": 0,
      "amount": 1,
      "minAmount": 0,
      "maxAmount": 0,
      "allowPreorder": false,
      "recomended": false,
      "sales": false,
      "bestseller": false,
      "newProduct": false,
      "favorite": false,
      "gifts": false,
      "enabled": true,
      "colors": [
        {
          "id": 7,
          "name": "Белый",
          "code": "#ffffff",
          "photoSrc": null
        },
        {
          "id": 5,
          "name": "Голубой",
          "code": "#04b9dd",
          "photoSrc": null
        },
        {
          "id": 6,
          "name": "Желтый",
          "code": "#fff200",
          "photoSrc": null
        },
        {
          "id": 3,
          "name": "Зеленый",
          "code": "#00FF00",
          "photoSrc": null
        }
      ],
      "colorId": 7,
      "sizeId": 0,
      "ratio": 0,
      "manualRatio": null,
      "commentsCount": 0,
      "price": 354,
      "priceWithDiscount": 319,
      "discount": {
        "percent": 10,
        "amount": 0,
        "type": 0
      },
      "currencyValue": 1,
      "preparedPrice": "319 руб.",
      "preparedOldPrice": "354 руб.",
      "addToCartFromList": false,
      "photoSmall": "https://mysite.ru/pictures/product/small/13484_small.jpg",
      "photoMiddle": "https://mysite.ru/pictures/product/middle/13484_middle.jpg",
      "photos": [
        {
          "smallSrc": "https://mysite.ru/pictures/product/small/4473_small.jpg",
          "middleSrc": "https://mysite.ru/pictures/product/middle/4473_middle.jpg",
          "bigSrc": "https://mysite.ru/pictures/product/big/4473_big.jpg",
          "colorId": null,
          "main": true
        }
      ],
      "markers": [
        {
          "title": "black friday",
          "colorBackground": "#010101",
          "colorText": "#ffffff",
          "url": "https://mysite.ru/",
          "openInNewTab": true,
          "description": "Описание",
          "sortOrder": 10
        },
        {
          "title": "Название маркера",
          "colorBackground": "#ff0000",
          "colorText": "#ffffff",
          "url": null,
          "openInNewTab": true,
          "description": null,
          "sortOrder": 20
        }
      ],
      "priceRuleAmountList": [
        {
          "amount": "2 - 5",
          "price": "99 руб."
        },
        {
          "amount": "6 - 9",
          "price": "55 руб."
        }
      ]
    }
  ]
}
</pre>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Категория не найдена"
}</pre>

    </div>
</div>


<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/catalog/all</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Catalog.GetOnePageCatalog")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/catalog/all")
        </div>
        <div class="m-b">@T("Admin.SettingsApiAuth.Index.Catalog.GetOnePageCatalog.ReturnCatList")</div>

        <h3 class="m-t m-b-xs">@T("Admin.SettingsApiAuth.Index.ApiAuth.AllFields")</h3>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">productsLimit</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Кол-во товаров, которые нужно получить для категории. Если значение не установлено, то берется настройка из магазина.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">showHtmlPrice</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Возвращать цену товара с html-тегами. По умолчанию: false</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">search</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Поисковый запрос</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">warehouseIds</div>
                <div class="col-xs-1">List of int</div>
                <div class="col-xs">Список складов. Пример: [1, 2]. Фильтрует товары по наличию на указанных складах.</div>
            </div>
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">
{
  "categories": [
    {
      "id": 5719,
      "name": "Test 123",
      "url": "test-123",
      "briefDescription": null,
      "pictureUrl": null,
      "miniPictureUrl": "https://mysite.ru/pictures/category/small/4537.jpg",
      "sortOrder": 10,
      "hasSubCategories": false,
      "products": [
        {
          "productId": 1699,
          "offerId": 12534,
          "offerArtNo": "13657-2",
          "amountOffer": 1,
          "urlPath": "new-good-test",
          "name": "New good test",
          "briefDescription": "Краткое описание",
          "artNo": "1699",
          "multiplicity": 1,
          "amount": 1,
          "minAmount": 0,
          "maxAmount": null,
          "allowPreorder": false,
          "recomended": false,
          "sales": false,
          "bestseller": false,
          "newProduct": false,
          "favorite": false,
          "gifts": false,
          "enabled": true,
          "colors": [
            {
              "id": 7,
              "name": "Белый",
              "code": "#ffffff",
              "photoSrc": null
            },
            {
              "id": 5,
              "name": "Голубой",
              "code": "#04b9dd",
              "photoSrc": null
            }
          ],
          "colorId": 5,
          "sizeId": null,
          "ratio": null,
          "manualRatio": null,
          "commentsCount": 0,
          "price": 100,
          "priceWithDiscount": 100,
          "discount": {
            "percent": 0,
            "amount": 0,
            "type": "Amount"
          },
          "currencyValue": 1,
          "preparedPrice": "от 100 руб.",
          "preparedOldPrice": "100 руб.",
          "addToCartFromList": true,
          "photoSmall": "https://mysite.ru/pictures/product/small/4538_small.jpg",
          "photoMiddle": "https://mysite.ru/pictures/product/middle/4538_middle.jpg",
          "photos": [
            {
              "smallSrc": "https://mysite.ru/pictures/product/small/4538_small.jpg",
              "middleSrc": "https://mysite.ru/pictures/product/middle/4538_middle.jpg",
              "bigSrc": "https://mysite.ru/pictures/product/big/4538_big.jpg",
              "colorId": 5,
              "main": true
            },
            {
              "smallSrc": "https://mysite.ru/pictures/product/small/4542_small.jpg",
              "middleSrc": "https://mysite.ru/pictures/product/middle/4542_middle.jpg",
              "bigSrc": "https://mysite.ru/pictures/product/big/4542_big.jpg",
              "colorId": 7,
              "main": false
            }
          ],
          "markers": null,
          "priceRuleAmountList": null
        }
      ],
      "productsTotalCount": 10,
      "productsTotalPageCount": 2
    }
  ]
}
</pre>
        
    </div>
</div>



<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/catalog/filter</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Catalog.GetCatalogFilter")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/catalog/filter")
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">
{
    "categoryId": 12345,
    "propertyLists": [
        [1],
        [2,3]
    ],
    "propertyRanges": [
        {
            "id": 4,
            "min": 1,
            "max": 100
        }
    ]
}
</pre>

        <h3 class="m-t m-b-xs">Фильтр</h3>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">categoryId</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Id категории. Обязательно указывается сategoryId или url</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">url</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Url категории. Обязательно указывается сategoryId или url</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">brandIds</div>
                <div class="col-xs-1">List int</div>
                <div class="col-xs">Список Id производителей</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">colorIds</div>
                <div class="col-xs-1">List int</div>
                <div class="col-xs">Список Id цветов</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">sizeIds</div>
                <div class="col-xs-1">List int</div>
                <div class="col-xs">Список Id размеров</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">propertyLists</div>
                <div class="col-xs-1">List of list int</div>
                <div class="col-xs">
                    Список свойств. Пример:
                    <pre>[
    [1,2], // массив выбранных id значений
    [3,4,5],
    [7]
]</pre>
                </div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">propertyRanges</div>
                <div class="col-xs-1">List of int</div>
                <div class="col-xs">
                    Список свойств диапазонов. Пример:
                    <pre>[
   {
       "id": 397,  // id свойства
       "min": 1.1, // минимальное значение диапазона
       "max": 3    // максимальное значение диапазона
   }
]</pre>
                </div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">priceFrom</div>
                <div class="col-xs-1">decimal</div>
                <div class="col-xs">Цена от</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">priceTo</div>
                <div class="col-xs-1">decimal</div>
                <div class="col-xs">Цена до</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">available</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Только в наличии</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">sorting</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Сортировка товаров: NoSorting, DescByPopular, DescByAddingDate, AscByPrice, DescByPrice, DescByDiscount, DescByRatio, AscByName, DescByName</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">search</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Поисковый запрос</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">warehouseIds</div>
                <div class="col-xs-1">List of int</div>
                <div class="col-xs">Список складов. Пример: [1, 2]. Фильтрует товары по наличию на указанных складах.</div>
            </div>
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">
[
  {
    "expanded": true,
    "type": "price",
    "title": "Цена",
    "subtitle": " руб.",
    "control": "range",
    "description": null,
    "values": [
      {
        "min": 1,
        "max": 1000,
        "currentMin": 90,
        "currentMax": 430,
        "step": 10,
        "decimalPlaces": 3
      }
    ]
  },
  {
    "expanded": true,
    "type": "color",
    "title": "Цвет",
    "subtitle": "",
    "control": "color",
    "description": null,
    "values": [
      {
        "colorName": "Белый",
        "colorCode": "#ffffff",
        "selected": false,
        "text": "Белый",
        "id": 7,
        "available": true,
        "imageHeight": 18,
        "imageWidth": 18,
        "photoName": "",
        "imageSrc": ""
      },
      {
        "colorName": "Зеленый",
        "colorCode": "       ",
        "selected": false,
        "text": "Зеленый",
        "id": 3,
        "available": true,
        "imageHeight": 18,
        "imageWidth": 18,
        "photoName": "123.jpg",
        "imageSrc": "https://mysite.ru/pictures/color/catalog/123.jpg"
      }
    ]
  },
  {
    "expanded": true,
    "type": "size",
    "title": "Размер",
    "subtitle": "",
    "control": "checkbox",
    "description": null,
    "values": [
      {
        "id": "1",
        "text": "S",
        "selected": false,
        "available": true
      },
      {
        "id": "2",
        "text": "M",
        "selected": false,
        "available": true
      }
    ]
  },
  {
    "expanded": true,
    "type": "prop",
    "title": "Вид",
    "subtitle": "",
    "control": "checkbox",
    "description": "",
    "values": [
      {
        "id": "5565",
        "text": "Брошь",
        "selected": true,
        "available": true
      },
      {
        "id": "5641",
        "text": "Зажим",
        "selected": true,
        "available": true
      }
    ]
  },
  {
    "expanded": true,
    "type": "prop",
    "title": "Материал",
    "subtitle": "",
    "control": "checkbox",
    "description": "",
    "values": [
      {
        "id": "5720",
        "text": "Картон",
        "selected": true,
        "available": true
      }
    ]
  },
  {
    "expanded": true,
    "type": "prop",
    "title": "Номер шара",
    "subtitle": "",
    "control": "range",
    "description": "",
    "values": [
      {
        "min": 1,
        "max": 100,
        "currentMin": 1.1,
        "currentMax": 3,
        "step": 0.1,
        "decimalPlaces": 1,
        "id": 397
      }
    ]
  }
]
</pre>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Категория не найдена"
}</pre>

    </div>
</div>



<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/catalog/filtercount</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Catalog.GetQuantityByFilter")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/catalog/filtercount")
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">
{
    "categoryId": 12345,
    "propertyLists": [
        [1],
        [2,3]
    ],
    "propertyRanges": [
        {
            "id": 4,
            "min": 1,
            "max": 100
        }
    ]
}
</pre>
        <div class="m-t m-b">
            Параметры такие же как в api/catalog/filter
        </div>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">{
    "itemsCount": 3
}
</pre>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Категория не найдена"
}</pre>

    </div>
</div>
