@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/checkout</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Checkout.DataPlaceOrder")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/checkout")
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">{
    "items": [
        {
            "index": 1,
            "offerId": 24473,
            "amount": 1,
            "customOptions": [
                {
                    "id": 275,
                    "optionId": 1808
                },
                {
                    "id": 276,
                    "optionId": 1811
                },
                {
                    "id": 277,
                    "optionId": 1814
                },
                {
                    "id": 278,
                    "optionId": 1815
                },
                {
                    "id": 279,
                    "optionId": 1816,
                    "optionText": "Some text"
                },
                {
                    "id": 280,
                    "optionId": 1817,
                    "optionText": "Some multiple text"
                }
            ]
        },
        {
            "index": 2,
            "offerId": 1234,
            "amount": 1
        }
    ],
    "address": {
        "country": "Россия",
        "region": "Москва",
        "city": "Москва"
    },
    "shippingId": "12345",
    "shippingPointId": 123,
    "contactId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx"
}</pre>

        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2"><b>items</b></div>
                <div class="col-xs-1"></div>
                <div class="col-xs">Список товаров</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">index</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Индекс позиции.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">offerId</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Id модификации. Обяз. параметр.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">amount</div>
                <div class="col-xs-1">double</div>
                <div class="col-xs">Кол-во товара. Обяз. параметр.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">customOptions</div>
                <div class="col-xs-1">array</div>
                <div class="col-xs">Список выбранных доп. опций. Не обяз. параметр.</div>
            </div>

            <div class="row m-b-xs m-t">
                <div class="col-xs-2"><b>address</b></div>
                <div class="col-xs-1"></div>
                <div class="col-xs">Адрес для расчета доставки</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">country</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Страна</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">region</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Область</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">city</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Город</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">district</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Район</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">postCode</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Почтовый индекс</div>
            </div>

            <div class="row m-b-xs m-t">
                <div class="col-xs-2"><b>shippingId</b></div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Id предвыбранного метода доставки. Не обяз. поле.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2"><b>shippingPointId</b></div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Id предвыбранного пункта выдачи. Работает только вместе с shippingId. Не обяз. поле.</div>
            </div>

            <div class="row m-b-xs m-t">
                <div class="col-xs-2"><b>contactId</b></div>
                <div class="col-xs-1"></div>
                <div class="col-xs">Id предвыбранного контакта (адреса). Не обяз. поле.</div>
            </div>
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
    <pre class="m-t-sm">{
    "url": "https://mysite.ru/checkout/apiauth"
}</pre>
        <div class="m-t m-b-xs">
            <p>Запросы к /api/checkout и к url, который придет в ответе, необходимо делать с заголовками X-API-USER-ID и X-API-USER-KEY</p>
            <p>Если оформление заказа невозможно, то вернется ошибка.</p>
        </div>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Заказ содержит недоступное количество товаров."
}</pre>
        
    </div>
</div>
