@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/v2/deliveries</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Deliveriesv2.GetDeliveries")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/v2/deliveries")
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">{
  "country": "Россия",
  "region": "Москва",
  "city": "Москва",
  "userCoordinates": {
    "latitude": 11,
    "longitude": 22
  }
}</pre>
        <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.AllFields")</h3>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">type</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Тип доставки</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">types</div>
                <div class="col-xs-1">string array</div>
                <div class="col-xs">Массив типов доставки. Например: ["SelfDelivery", "PointDelivery"]</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">country</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Страна</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">region</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Область</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">district</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Район</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">city</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Город</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">zipCode</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Постовый индекс</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">inHouse</div>
                <div class="col-xs-1">bool?</div>
                <div class="col-xs">В зале</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">userCoordinates</div>
                <div class="col-xs-1"></div>
                <div class="col-xs">Координаты пользователя, чтобы определить ближайший пункт выдачи</div>
            </div>
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
    <pre class="m-t-sm">
{
  "deliveries": [
    {
      "id": 1,
      "type": "SelfDelivery",
      "name": "Самовывоз",
      "description": null,
      "zeroCostText": "Бесплатно",
      "icon": "https://mysite.ru/images/shipping/selfdelivery.svg",
      "coordinates": {
        "latitude": 1,
        "longitude": 2
      },
      "warehouseIds": [],
      "points": null
    },
    {
      "id": 2,
      "type": "DeliveryByZones",
      "name": "доставка по зонам",
      "description": null,
      "zeroCostText": "Бесплатно",
      "icon": "https://mysite.ru/images/shipping/default.svg",
      "coordinates": {
        "latitude": 3,
        "longitude": 4
      },
      "warehouseIds": [],
      "points": null
    },
    {
      "id": 3,
      "type": "PointDelivery",
      "name": "Пункты выдачи",
      "description": "Описание",
      "zeroCostText": "Бесплатно",
      "icon": "https://mysite.ru/images/shipping/selfdelivery.svg",
      "coordinates": {
        "latitude": 5,
        "longitude": 6
      },
      "warehouseIds": [],
      "points": [
        {
          "id": "3_123",
          "pointStringId": "3-ТЦ-Фили",
          "inHouse": false,
          "name": "ТЦ Фили",
          "description": null,
          "zeroCostText": "Бесплатно",
          "price": 100,
          "preparedPrice": "100 руб.",
          "deliveryTime": "1-10 дней",
          "icon": "https://mysite.ru/images/shipping/selfdelivery.svg",
          "warehouseId": null,
          "coordinates": {
            "latitude": 10,
            "longitude": 20
          }
        }
      ]
    }
  ],
  "nearest": {
    "id": "3_123",
    "pointId": "3-ТЦ-Фили"
  }
}</pre>
        
    </div>
</div>
