@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/init</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Init.Initialization")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/init")
        </div>
        
        <div class="m-b">
            @T("Admin.SettingsApiAuth.Index.Init.CurrentBuyer")
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">?settings=IsShowCity,BuyButtonText</pre>

        <div>@T("Admin.SettingsApiAuth.Index.Init.AllFields")</div>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">settings</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Настройки, которые нужно вернуть</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">device</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Модель телефона</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">os</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Версия ОС</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">appVersion</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Версия моб приложения</div>
            </div>
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">{
    "customer": {
        "id": "xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx",
        "email": null,
        "phone": null,
        "firstName": "Ivan",
        "lastName": "Ivanov",
        "patronymic": "",
        "organization": "",
        "subscribedForNews": false,
        "birthday": null,
        "adminComment": "",
        "managerId": null,
        "groupId": 1,
        "group": {
            "id": 1,
            "name": "Обычный покупатель",
            "discountPercent": 0.0
        },
        "customerType": "PhysicalEntity",
        "contacts": [
            {
                "contactId": "00000000-0000-0000-0000-000000000000",
                "name": "Ivanov Ivan",
                "country": "Россия",
                "city": "Москва",
                "district": "",
                "region": "",
                "zip": "",
                "street": "Ленина",
                "house": "1",
                "apartment": "1",
                "structure": "",
                "entrance": "",
                "floor": "",
                "dadataJson": null,
                "isMain": true
            },
            {
                "contactId": "00000000-0000-0000-0000-000000000001",
                "name": "Ivanov2 Ivan2",
                "country": "Россия",
                "city": "Казань",
                "district": "",
                "region": "",
                "zip": "",
                "street": "Лениная",
                "house": "5",
                "apartment": "234",
                "structure": "",
                "entrance": "",
                "floor": "",
                "dadataJson": null,
                "isMain": true
            },
        ],
        "fields": [
            {
                "id": 1,
                "name": "Test",
                "value": null,
                "fieldType": "text",
                "valueItems": null,
                "customerType": "All",
                "fieldAssignment": "None",
                "required": false,
                "showInRegistration": true,
                "showInCheckout": true,
                "disableEditing": false
            },
            {
                "id": 2,
                "name": "Test 2",
                "value": null,
                "fieldType": "select",
                "valueItems": [
                    {
                        "text": "be?",
                        "value": "be",
                        "selected": false
                    },
                    {
                        "text": "or not to be?",
                        "value": "not be",
                        "selected": false
                    }
                ],
                "customerType": "PhysicalEntity",
                "fieldAssignment": "None",
                "required": false,
                "showInRegistration": true,
                "showInCheckout": true,
                "disableEditing": false
            }
        ],
        "fcmToken": null
    },
    "currency": {
        "name": "Рубли",
        "symbol": " руб.",
        "rate": 1,
        "iso3": "RUB",
        "isCodeBefore": false,
        "roundNumbers": 1,
        "enablePriceRounding": true
    },
    "settings": [
        {
            "key": "ShopName",
            "value": "Super store"
        },
        {
            "key": "ShopURL",
            "value": "https://mysite.ru"
        },
        {
            "key": "ColorScheme",
            "value": "blue"
        },
        {
            "key": "ProductsPerPage",
            "value": "48"
        },
        {
            "key": "SizesHeader",
            "value": "Размер"
        },
        {
            "key": "ColorsHeader",
            "value": "Цвет"
        },
        {
            "key": "BuyButtonText",
            "value": "Добавить"
        },
        {
            "key": "Phone",
            "value": "+7(900)000-00-00"
        },
        {
            "key": "MobilePhone",
            "value": "+79000000000"
        },
        {
            "key": "Logo",
            "value": "https://mysite.ru/pictures/logo.png"
        },
        {
            "key": "ColorSchemesColor",
            "value": "0662c1"
        },
        {
            "key": "ModerateReviews",
            "value": false
        },
        {
            "key": "MobileAppTheme",
            "value": "dark"                   // dark, light
        },
        {
            "key": "MobileAppUseStoreColorScheme",
            "value": true
        },
        {
            "key": "MobileAppMainColor",
            "value": "0088cc"
        },
        {
            "key": "MobileAppButtonTextColor",
            "value": "fff"
        },
        {
            "key": "ChangeBackgroundColor",
            "value": false
        },
        {
            "key": "BackgroundColor",
            "value": null
        },
        {
            "key": "ChangeHeaderBackgroundColor",
            "value": false
        },
        {
            "key": "HeaderBackgroundColor",
            "value": null
        },
        {
            "key": "HeaderTextColor",
            "value": null
        },
        {
            "key": "ChangeBottomMenuBackgroundColor",
            "value": false
        },
        {
            "key": "BottomMenuBackgroundColor",
            "value": null
        },
        {
            "key": "BottomMenuTextColor",
            "value": null
        },
        {
            "key": "BottomMenuActiveItemColor",
            "value": null
        },
        {
            "key": "ChangeTileBackgroundColor",
            "value": false
        },
        {
            "key": "TileBackgroundColor",
            "value": null
        },
        {
            "key": "ShowBonusCardQrCode",
            "value": true
        },
        {
            "key": "BonusCardQrCodeMode",
            "value": "bonusCardNumber"        // null (ShowBonusCardQrCode = false), bonusCardNumber, phone
        },
        {
            "key": "HideShoppingCart",
            "value": false
        },
        {
            "key": "ColorSchemesButtonTextColor",
            "value": "fff"
        },
        {
            "key": "MobileAppSignInPicture",
            "value": "https://mysite.ru/pictures/mobileapp/signin.png"
        },
        {
            "key": "MobileAppCartPicture",
            "value": "https://mysite.ru/pictures/mobileapp/cart.png"
        },
        {
            "key": "MobileAppLogo",
            "value": null
        },
        {
            "key": "ShowRating",
            "value": false
        },
        {
            "key": "ShowSku",
            "value": true
        },
        {
            "key": "ShowCatalogFilter",
            "value": false
        },
        {
            "key": "MobileAppMainPageMode",
            "value": "mainCategories"            // mainCategories, allCategoriesWithProducts
        },
        {
            "key": "CategoryViewModeOnMainPage",
            "value": "tile"                      // tile, listWithPhoto, listWithoutPhoto
        },
        {
            "key": "ShowCatalogPanel",
            "value": true
        },
        {
            "key": "ShowAvailability",
            "value": true
        },
        {
            "key": "ShowReviews",
            "value": false
        },
        {
            "key": "ShowCitySelection",
            "value": true
        },
        {
            "key": "ForceCitySelection",
            "value": false
        },
        {
            "key": "ProhibitSelectingCitiesNotFromPresetList",
            "value": false
        },
        {
            "key": "ShowAuthScreenOnStart",
            "value": false
        },
        {
            "key": "MobileAppProductViewMode",
            "value": "tile"                         // tile, list, detail
        },
        {
            "key": "ShowProductBriefDescriptionInCatalog",
            "value": true
        },
        {
            "key": "ProductsCountByCategoryForAllCategories",
            "value": 8
        },
        {
            "key": "ShowAmountSpinBoxInsteadOfAddToCart",
            "value": false
        },
        {
            "key": "ShowPriceOnAddToCart",
            "value": false
        },
        {
            "key": "ProductPhotosWithRoundedCorners",
            "value": false
        },
        {
            "key": "ShowPostCode",
            "value": false
        },
        {
            "key": "ShowLogoInCenter",
            "value": false
        },
        {
            "key": "ShowBlockTitlesInProductDetails",
            "value": false`
        },
        {
            "key": "OfficeAddressesBlockName",
            "value": "Магазины"
        },
        {
            "key": "ShowSearch",
            "value": true
        },
        {
            "key": "ShowSearchByBarcode",
            "value": false
        },
        {
            "key": "ShowActiveOrdersOnMainPage",
            "value": false
        },
        {
            "key": "ShowYouOrderedBlockOnMainPage",
            "value": false
        },
        {
            "key": "ShowWishList",
            "value": false
        },
        {
            "key": "ShowDeliveriesInProductDetails",
            "value": false
        },
        {
            "key": "CheckOccurrenceOfAddressInDeliveryArea",
            "value": false
        },
        {
            "key": "DisplayReviewsImage",
            "value": false
        },
        {
            "key": "AllowReviewsImageUploading",
            "value": false
        },
        {
            "key": "ReviewImageWidth",
            "value": 100
        },
        {
            "key": "ReviewImageHeight",
            "value": 100
        },
        {
            "key": "TextOnMainTitle",
            "value": "title here"
        },
        {
            "key": "TextOnMainText",
            "value": "text here"
        },
        {
            "key": "CarouselShowSectionInBottomNavigationMenu",
            "value": true
        },
        {
            "key": "IsPhysicalEntityEnabled",
            "value": true
        },
        {
            "key": "IsLegalEntityEnabled",
            "value": true
        },
        {
            "key": "AppMetricaEnabled",
            "value": false
        },
        {
            "key": "AppMetricaApiKey",
            "value": null
        },
        {
            "key": "ShowDeliveryInDeliveryWidgetOnMain",
            "value": false
        },
        {
            "key": "ShowSelfDeliveryInDeliveryWidgetOnMain",
            "value": false
        },
        {
            "key": "ShowInHouseInDeliveryWidgetOnMain",
            "value": false
        },
        {
            "key": "InHouseMethodName",
            "value": "В зале"
        },
        {
            "key": "InHouseMethodText",
            "value": "Выберите стол"
        },
        {
            "key": "DefaultSelfDeliveryId",
            "value": null
        },
        {
            "key": "DefaultSelfDeliveryPointStringId",
            "value": null
        },
        {
            "key": "ShowChoosingDeliveryWhenOpeningApplication",
            "value": false
        },
        {
            "key": "TryGetNearestPickPoint",
            "value": false
        },
        {
            "key": "AllowOrderCheckout",
            "value": false
        },
        {
            "key": "OrderCheckoutDisabledMessage",
            "value": "Извините, сейчас мы не работаем."
        },
        {
            "key": "ShowAvailableInWarehouseInProduct",
            "value": false
        },
        {
            "key": "SellerCountryId",
            "value": 171
        },
        {
            "key": "SellerCountryName",
            "value": "Россия"
        },
        {
            "key": "SellerCountryDialCode",
            "value": 7
        },
        {
            "key": "SellerCountryIso2",
            "value": "RU"
        },
        {
            "key": "SellerCountryIso3",
            "value": "RUS"
        },
        {
            "key": "ShowFeedback",
            "value": false
        },
        {
            "key": "FeedbackLeadFunnelId",
            "value": null
        },
        {
            "key": "FeedbackHintText",
            "value": null
        },
        {
            "key": "UserAddressRequired",
            "value": true
        },
        {
            "key": "ShowAddressInProfile",
            "value": true
        },
        {
            "key": "ActiveWarehouseCount",
            "value": 1
        },
        {
            "key": "DefineCityBasedOnGeodata",
            "value": false
        },
        {
            "key": "CityIdIfNotAutodetect",
            "value": null
        },
        {
            "key": "CityNameIfNotAutodetect",
            "value": null
        },
        {
            "key": "RegionIdIfNotAutodetect",
            "value": null
        },
        {
            "key": "RegionNameIfNotAutodetect",
            "value": null
        },
        {
            "key": "CountryIdIfNotAutodetect",
            "value": null
        },
        {
            "key": "CountryNameIfNotAutodetect",
            "value": null
        },
        {
            "key": "ColorsViewMode",
            "value": "icon"
        },
        {
            "key": "ShowPriceRuleAmountTableInProduct",
            "value": false
        },
        {
            "key": "AuthByCodeMethod",
            "value": "Sms"              // Sms, Call
        },
        {
            "key": "AuthCallMode",
            "value": null              // null (AuthByCodeMethod == Sms), Flash, Voice 
        },
        {
            "key": "AuthByCodeMethodDescription",
            "value": "Вам придет смс с кодом. Введите 4 цифры."
        }
    ],
    "optionalSettings": [
        {
            "key": "some_key",
            "value": "value object: null|string|int|.."
        }
    ],
    "location": {
        "countryId": 171,
        "countryName": "Россия",
        "regionId": 41,
        "region": "Москва",
        "cityId": 0,
        "city": "Москва",
        "district": "",
        "dialCode": 7,
        "zip": null
    },
    "dadata": {
        "isActive": false,
        "apiKey": null
    },
    "contact": {
        "address": "г. Москва, Пресненская набережная, 8с1, офис 123",
        "addressMap": "https://yandex.ru/maps/-/CCUJAFCn-B",
        "phone": "8 (800) 350-50-50",
        "email": null,
        "workSchedule": "Пн-Пт 08:00 - 18:00, Сб-Вс Выходные",
        "aboutCompany": "О компании"
    },
    "carousel": [
        {
            "imageSrc": "https://mysite.ru/pictures/carouselapi/123.jpg",
            "title": "Заголовок",
            "shortDescription": "Краткое описание",
            "fullDescription": "Подробное описание",
            "showOnMain": true,
            "couponCode": null,
            "expirationDate": null,
            "product": null,
            "category": null,
        },
        {
            "imageSrc": "https://mysite.ru/pictures/carouselapi/456.jpg",
            "title": "Заголовок",
            "shortDescription": "Краткое описание",
            "fullDescription": "Подробное описание",
            "showOnMain": true,
            "couponCode": "Код купона",
            "expirationDate": "2024-12-04T00:00:00",
            "product": {
                "productId": 20244,
                "artNo": "20244",
                "name": "Шорты",
                "urlPath": "shorty",
                "briefDescription": null,
                "discount": {
                    "percent": 10,
                    "amount": 0,
                    "type": "Percent"
                },
                "oldPrice": 1000,
                "price": 900,
                "preparedOldPrice": "1 000 руб.",
                "preparedPrice": "900 руб.",
                "photo": {
                    "smallSrc": "https://mysite.ru/pictures/product/small/1_small.jpg",
                    "middleSrc": "https://mysite.ru/pictures/product/middle/1_middle.jpg",
                    "bigSrc": "https://mysite.ru/pictures/product/big/1_big.jpg",
                    "colorId": null,
                    "main": true
                }
            },
            "category": {
                "id": 1,
                "name": "Категория",
                "url": "category-1",
                "description": "Описание",
                "briefDescription": "Краткое описание",
                "pictureUrl": null,
                "miniPictureUrl": null
            }
        }
    ]
}</pre>

        <div>Пояснения для некоторых параметров:</div>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">AuthByCodeMethod</div>
                <div class="col-xs-1">enum</div>
                <div class="col-xs">Метод получения кода подтверждения. Enum: Sms, Call</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">AuthCallMode</div>
                <div class="col-xs-1">enum?</div>
                <div class="col-xs">Метод получения кода подтверждения звонком. null - если AuthByCodeMethod равен Sms, Flash - цифры из номера звонка, Voice - цифры, которые услышите при звонке</div>
            </div>
        
            <div class="row m-b-xs">
                <div class="col-xs-2">AuthByCodeMethodDescription</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">
                    Описание для метода получения кода подтверждения.<br>
                    Описание по умолчанию:<br>
                    если AuthByCodeMethod равен Sms, то "Вам придет смс с кодом. Введите 4 цифры."<br>
                    если AuthCallMode равен Flash, то "Введите 4 последние цифры номера, с которого поступит звонок."<br>
                    если AuthCallMode равен Voice, то "Введите 4 цифры кода, который вы услышите при звонке."
                </div>
            </div>
        </div>
        
    </div>
</div>
