@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/v2/leads/add</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Leadv2.LeadGeneration")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/v2/leads/add")
        </div>
        
       <div class="m-t m-b-xs">
           <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
       </div>
<pre class="m-t-sm">{
    "firstName": "@T("Admin.SettingsApi.Index.Ivan")",             // @T("Admin.SettingsApi.Index.Name")
    "lastName": "@T("Admin.SettingsApi.Index.Ivanov")",            // @T("Admin.SettingsApi.Index.LastName")
    "patronymic": "@T("Admin.SettingsApi.Index.Ivanovich")",        // @T("Admin.SettingsApi.Index.Patronymic")
    "phone": "790000000",            // @T("Admin.SettingsApi.Index.Phone")
    "email": "ivan@gmail.com",       // email
    "customerId": "",                // @T("Admin.SettingsApi.Index.UserID")
    "discountValue": "100",          // @T("Admin.SettingsApi.Index.DiscountNumber")
    "discountPercent": "0",          // @T("Admin.SettingsApi.Index.DiscountPercentage")
    "description": "lead from api",  // @T("Admin.SettingsApi.Index.Description")
    "source": "",                    // @T("Admin.SettingsApi.Index.LeadSource")
    "funnelId": 1,                   // @T("Admin.SettingsApi.Index.SalesFunnelID")
    "sum": "0",                      // @T("Admin.SettingsApi.Index.ProductsAmount")
    "products": [                    // @T("Admin.SettingsApi.Index.ArrayOfProducts")
        {                            // @T("Admin.SettingsApi.Index.ProductFoundByArticle")
            "artNo": "977",
            "name": "@T("Admin.SettingsApi.Index.Shoes")",
            "amount": 1,
            "price": 1500
        }
    ]
}
</pre>
        <div class="m-t-sm">
            @T("Admin.SettingsApi.Index.AtLeast1FieldMustBeSpecified")
        </div>

        <div class="m-t-sm">
            @T("Admin.SettingsApi.Index.InCaseOfSuccess")
        </div>
<pre class="m-t-sm">{
    "leadId": 1,
    "status": "ok"
}
</pre>
        <div class="m-t-sm">
            @T("Admin.SettingsApi.Index.InCaseOfFailure")
        </div>
<pre class="m-t-sm">{
    "status": "error",
    "errors": "@T("Admin.SettingsApi.Index.RequiredFields")"
}
</pre>

    </div>
</div>
