@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/bonus-cards/me/add</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.BonusSystem.CreateBonusCard")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/bonus-cards/me/add")
        </div>
        <h3 class="m-t-sm">@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        <pre class="m-t-sm">{
    "cardId": 123,
    "amount": 0,
    "percent": 3,
    "gradeName": "Гостевой",
    "gradeId": 1,
    "isBlocked": false
}
</pre>
        <div class="m-t-sm">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
            <pre class="m-t-sm">{
    "status": "error",
    "errors": "У покупателя уже есть бонусная карта"
}
</pre>
        </div>
    </div>
</div>

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/bonus-cards/me/transactions</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.BonusSystem.GetBonusCardTransactionsMe")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/bonus-cards/me/transactions")
        </div>
        <h3 class="m-t-sm">@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        <pre class="m-t-sm">[
    {
        "type": "Subtraction",
        "amount": -50,
        "basis": "Заказ № 48 в магазине",
        "dateTime": "16.08.2024 16:06"
    },
    {
        "type": "Adding",
        "amount": 1000,
        "basis": null,
        "dateTime": "16.08.2024 14:48"
    }
]
</pre>
        <div class="m-t-sm">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
            <pre class="m-t-sm">{
    "status": "error",
    "errors": "Бонусная карта не найдена"
}
</pre>
        </div>
    </div>
</div>

