@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel


<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/orders/me</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.OrdersMe.ListCustomerOrder")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/orders/me")
        </div>
        <p>headers:</p>
        <p>X-API-KEY: @Model.KeyAuth</p>
        <p>X-API-USER-ID: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</p>
        <p>X-API-USER-KEY: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
        <p>@T("Admin.SettingsApiAuth.Index.OrdersMe.TextOne")</p>
        <p>@T("Admin.SettingsApiAuth.Index.OrdersMe.TextTwo")</p>
        
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">?loadItems=true&loadCustomer=true&loadSource=true&itemsPerPage=10</pre>

        <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.AllFields")</h3>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">page</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Текущая страница в постараничном выводе</div>
            </div>
            
            <div class="row m-b-md">
                <div class="col-xs-2">itemsPerPage</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Колличество элементов на страницу. По умолчанию 20.</div>
            </div>
            
            
            <div class="row m-b-xs">
                <div class="col-xs-2">loadItems</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Загружать товары заказа. (<i>Необяз. По умолчанию false</i>)</div>
            </div>
            
            <div class="row m-b-xs">
                <div class="col-xs-2">loadCustomer</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Загружать информацию о покупателе. (<i>Необяз. По умолчанию false</i>)</div>
            </div>
            
            <div class="row m-b-xs">
                <div class="col-xs-2">loadSource</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Загружать источник заказа. (<i>Необяз. По умолчанию false</i>)</div>
            </div>
            
            <div class="row m-b-xs">
                <div class="col-xs-2">loadReview</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Загружать отзыв о заказе. (<i>Необяз. По умолчанию true</i>)</div>
            </div>
            
            <div class="row m-b-md">
                <div class="col-xs-2">loadBillingApiLink</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Загружать ссылку на оплату. (<i>Необяз. По умолчанию true</i>)</div>
            </div>
            
            
            <div class="row m-b-xs">
                <div class="col-xs-2">statusId</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Идентификатор статуса заказа (<i>Необяз.</i>)</div>
            </div>
            
            <div class="row m-b-xs">
                <div class="col-xs-2">isPaid</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Оплачен заказ или нет (<i>Необяз.</i>)</div>
            </div>
            
            <div class="row m-b-xs">
                <div class="col-xs-2">isCompleted</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Заказ имеет статус, который завершен (<i>Необяз.</i>)</div>
            </div>
            
            <div class="row m-b-xs">
                <div class="col-xs-2">sumFrom</div>
                <div class="col-xs-1">decimal</div>
                <div class="col-xs">Начиная с суммы заказа (<i>Необяз.</i>)</div>
            </div>
            
            <div class="row m-b-xs">
                <div class="col-xs-2">sumTo</div>
                <div class="col-xs-1">decimal</div>
                <div class="col-xs">Заканчивая суммой заказа (<i>Необяз.</i>)</div>
            </div>
            
            <div class="row m-b-xs">
                <div class="col-xs-2">dateFrom</div>
                <div class="col-xs-1">date</div>
                <div class="col-xs">Начиная с даты заказа в <a href="http://en.wikipedia.org/wiki/ISO_8601" target="_blank">формате ISO 8601</a> (<i>Необяз.</i>)</div>
            </div>
            
            <div class="row m-b-xs">
                <div class="col-xs-2">dateTo</div>
                <div class="col-xs-1">date</div>
                <div class="col-xs">Заканчивая датой заказа в <a href="http://en.wikipedia.org/wiki/ISO_8601" target="_blank">формате ISO 8601</a> (<i>Необяз.</i>)</div>
            </div>
        </div>
        
    </div>
</div>

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/orders/me/{id}</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.OrdersMe.ReceiveOrder")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/orders/me/{id}")
        </div>
        <p>Admin.SettingsApiAuth.Index.OrdersMe.ReceiveOrder.TextOne</p>
        <p>headers:</p>
        <p>X-API-KEY: @Model.KeyAuth</p>
        <p>X-API-USER-ID: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</p>
        <p>X-API-USER-KEY: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
        <p>Admin.SettingsApiAuth.Index.OrdersMe.ReceiveOrder.TextTwo</p>   

         <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">{
    "id": 1,
    "number": "1",
    "currency": "RUB",
    "sum": 400.0,
    "preparedSum": "400 руб.",
    "date": "2015-10-21T12:22:14",
    "customerComment": "",
    "adminComment": "",
    "paymentName": "При получении (наличными или банковской картой)",
    "paymentCost": 0.0,
    "preparedPaymentCost": "0 руб.",
    "shippingName": "Самовывоз",
    "shippingCost": 0.0,
    "preparedShippingCost": "0 руб.",
    "shippingTaxName": "Без НДС",
    "trackNumber": "",
    "deliveryDate": null,
    "deliveryTime": "",
    "shippingAddress": "Россия, Москва, Москва, 101000, Ленина 1",
    "orderDiscount": 0.0,
    "orderDiscountValue": 0.0,
    "discountPrice": 0.0,
    "preparedDiscountCost": "0 руб.",
    "bonusCardNumber": 123,
    "bonusCost": 0.0,
    "preparedBonusCost": "0 руб.",
    "preparedNewBonusesForOrder": "12 бонусов",
    "productsCost": 400.0,
    "preparedProductsCost": "400 руб.",
    "couponPrice": 0.0,
    "preparedCouponPrice": "0 руб.",
    "lpId": null,
    "isPaid": false,
    "billingApiLink": "https://mysite.ru/checkout/apiauth?type=billing&code=xxxxx-xxxx-xxxx-xxxx&hash=xxxxxxxxxx",
    "paymentDate": null,
    "customer": {
        "customerId": "xxxxxxx-xxxxxx-xxxx-xxxx-xxxxxxx",
        "firstName": "Администратор",
        "lastName": "Магазина",
        "patronymic": "",
        "organization": "",
        "email": "admin",
        "phone": "74958000000",
        "country": "Россия",
        "region": "Москва",
        "district": "",
        "city": "Москва",
        "zip": "101000",
        "customField1": "",
        "customField2": "",
        "customField3": "",
        "street": "Ленина 1",
        "house": "",
        "apartment": "",
        "structure": "",
        "entrance": "",
        "floor": ""
    },
    "status": {
        "id": 2,
        "name": "Новый",
        "color": "ffc73e",
        "isCanceled": false,
        "isCompleted": false,
        "hidden": false
    },
    "source": {
        "id": 1,
        "name": "Корзина интернет магазина",
        "main": true,
        "type": "ShoppingCart"
    },
    "items": [
        {
            "offerId": 12345,
            "artNo": "12345",
            "name": "Товар",
            "color": "Красный",
            "size": null,
            "price": 400.0,
            "preparedPrice": "400 руб.",
            "amount": 1.0,
            "photoSrc": "https://mysite.ru/pictures/product/small/123_small.jpg",
            "unit": "",
            "selectedCustomOptions": [
                {
                    "id": 1,
                    "optionId": 1,
                    "optionText": null,
                    "title": "Доп опция",
                    "value": "упаковка + 100 руб."
                }
            ],
            "canAddToCard": true,
            "multiplicity": 1.0
        }
    ],
    "taxes": [
        {
            "key": "В том числе Без НДС",
            "value": "Без НДС"
        }
    ],
    "review": {
     	"ratio": 5.0,
     	"text": "Быстро и качественно!"
    }
}</pre>
    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/orders/me/{id}/review</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.OrdersMe.OrderRate")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/orders/me/{id}/review")
        </div>

        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">ratio</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Оценка заказа от 1 до 5. Если не приходит оценка (или 0), то комментарий обяз. поле.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">text</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Комментарий. Если не приходит или пустой комментарий, то оценка обяз. поле.</div>
            </div>
        </div>

         <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">{
    "ratio": 5,
    "text": "Быстро и качественно!"
}</pre>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "ok"
}</pre>     
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Укажите текст и оценку"
}</pre>

    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/orders/me/{id}/cancel</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.OrdersMe.OrderCancel")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/orders/me/{id}/cancel")
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "ok"
}</pre>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Заказ нельзя отменить"
}</pre>

    </div>
</div>

