@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/preorder/settings</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.PreOrder.GetCustomSettings")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/preorder/settings")
        </div>
        <div class="m-t m-b-xs">
            @T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")
        </div>
        <pre class="m-t-sm">{
    "customer": {
        "firstName": "Администратор",
        "lastName": "Магазина",
        "email": "admin",
        "phone": "+7 495 800 20 00 "
    },
    "settings": {
        "isShowUserAgreementText": false,
        "userAgreementText": "Я подтверждаю свою дееспособность, даю согласие на обработку своих персональных данных.",
        "agreementDefaultChecked": false,
        "preOrderText": "После получения Вашей заявки, наши менеджеры сообщат Вам сроки поставки и точную цену товара. В письмо также будет ссылка на оформление заказа, которая будет действовать в течение 24 часов. С ее помощью Вы сможете оплатить Заказ, тем самым завершив процедуру оформления."
    }
}</pre>
    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/preorder</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.PreOrder.MakeToOrder")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/preorder")
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">{
    "customer": {
        "firstName": "Ivan",
        "lastName": "Ivanov",
        "email": "ivan@mail.com",
        "phone": "7 (912) 345 67 89",
        "comment": "comment"
	},
    "offer": {
        "offerId": 1234,
        "amount": 5,
        "customOptions": [
            {
                "id": 1,
                "optionId": 2
            }
        ]
    },
    "IsAgree": true
}</pre>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">customer</div>
                <div class="col-xs-1"></div>
                <div class="col-xs">Покупатель</div>
            </div>
        </div>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">firstName</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Имя. Обяз. параметр.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">lastName</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Фамилия. Нео бяз. параметр.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">email</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">email. Обяз. параметр.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">phone</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Телефон. Обяз. параметр.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">comment</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Комментарий. Нео бяз. параметр.</div>
            </div>
        </div>

        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">offer</div>
                <div class="col-xs-1"></div>
                <div class="col-xs">Модификация</div>
            </div>
        </div>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">offerId</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Id модификации. Обяз. параметр.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">amount</div>
                <div class="col-xs-1">double</div>
                <div class="col-xs">Кол-во товара. Обяз. параметр.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">customOptions</div>
                <div class="col-xs-1">array</div>
                <div class="col-xs">Список выбранных доп. опций. Не обяз. параметр.</div>
            </div>            
        </div>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">IsAgree</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Принимает соглашение. Обяз. параметр, если в настройках выбрано спрашивать согласие.</div>
            </div>
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
    <pre class="m-t-sm">{
    "status": "ok",
    "successText": "Благодарим за Вашу заявку! После её обработки наш менеджер сразу же свяжется с Вами и сообщит о возможности и сроках поступления данной позиции в наш интернет-магазин."
}</pre>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Заполните обязательные поля покупателя"
}</pre>
        
    </div>
</div>


