@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/products/{id}</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Products.GetProduct")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/products/{id}")
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">?colorId=1&sizeId=2</pre>
        
        <h3>Параметры</h3>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">colorId</div>
                <div class="col-xs-1">int?</div>
                <div class="col-xs">Выбранный цвет</div>
            </div>
            
            <div class="row m-b-xs">
                <div class="col-xs-2">sizeId</div>
                <div class="col-xs-1">int?</div>
                <div class="col-xs">Выбранный размер</div>
            </div>
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">
{
    "productId": 13653,
    "artNo": "13653",
    "name": "Новый товар",
    "urlPath": "novyi-tovar",
    "briefDescription": "Краткое описание",
    "description": "Описание",
    "enabled": true,
    "categoryEnabled": true,
    "hidden": false,
    "ratio": null,
    "isAdult": false,
    "recomended": false,
    "newProduct": false,
    "bestseller": false,
    "sales": false,
    "favorite": false,
    "gifts": false,
    "giftProducts": null,
    "allowPreOrder": false,
    "minAmount": 1,
    "maxAmount": 2147483650,
    "multiplicity": 1,
    "unit": "",
    "commentsCount": 0,
    "sizeColorPicker": {
        "sizes": [
            {
                "id": 1,
                "name": "S"
            },
            {
                "id": 2,
                "name": "M"
            }
        ],
        "selectedSizeId": null,
        "colors": [
            {
                "id": 7,
                "name": "Белый",
                "code": "#ffffff",
                "photoSrc": null
            },
            {
                "id": 5,
                "name": "Голубой",
                "code": "#04b9dd",
                "photoSrc": null
            },
            {
                "id": 3,
                "name": "Зеленый",
                "code": null,
                "photoSrc": "https://mysite.ru/pictures/color/details/12345.jpg"
            },
            {
                "id": 2,
                "name": "Красный",
                "code": "#FF0000",
                "photoSrc": null
            }
        ],
        "selectedColorId": null,
        "colorIconHeight": 18,
        "colorIconWidth": 18,
        "sizesHeader": "Размер",
        "colorsHeader": "Цвет"
    },
    "discount": {
        "percent": 0,
        "amount": 10,
        "type": "Amount"
    },
    "offers": [
        {
            "offerId": 24473,
            "artNo": "13653",
            "isMain": true,
            "colorId": 7,
            "sizeId": 1,
            "oldPrice": 1100,
            "preparedOldPrice": "1 100 руб.",
            "bonuses": "+30 бонусов на бонусную карту",
            "amount": 1,
            "price": 1090,
            "preparedPrice": "1 090 руб.",
            "isAvailable": true,
            "availableText": "Есть в наличии",
            "weight": 0,
            "height": 0,
            "length": 0,
            "width": 0,
            "addToCart": true
        },
        {
            "offerId": 24474,
            "artNo": "13653-2",
            "isMain": false,
            "colorId": 5,
            "sizeId": 1,
            "oldPrice": 1100,
            "preparedOldPrice": "1 100 руб.",
            "price": 1090,
            "preparedPrice": "1 090 руб.",
            "bonuses": "+30 бонусов на бонусную карту",
            "amount": 1,
            "isAvailable": true,
            "availableText": "Есть в наличии",
            "weight": 0,
            "height": 0,
            "length": 0,
            "width": 0,
            "addToCart": true
        },
        {
            "offerId": 24475,
            "artNo": "13653-3",
            "isMain": false,
            "colorId": 2,
            "sizeId": 1,
            "oldPrice": 1100,
            "preparedOldPrice": "1 100 руб.",
            "price": 1090,
            "preparedPrice": "1 090 руб.",
            "bonuses": "+30 бонусов на бонусную карту",
            "amount": 1,
            "isAvailable": true,
            "availableText": "Есть в наличии",
            "weight": 0,
            "height": 0,
            "length": 0,
            "width": 0,
            "addToCart": true
        },
        {
            "offerId": 24476,
            "artNo": "13653-4",
            "isMain": false,
            "colorId": 5,
            "sizeId": 2,
            "oldPrice": 1100,
            "preparedOldPrice": "1 100 руб.",
            "price": 1090,
            "preparedPrice": "1 090 руб.",
            "bonuses": "+30 бонусов на бонусную карту",
            "amount": 1,
            "isAvailable": true,
            "availableText": "Есть в наличии",
            "weight": 0,
            "height": 0,
            "length": 0,
            "width": 0,
            "addToCart": true
        }
    ],
    "customOptions": [
        {
            "id": 275,
            "title": "Доп опция 1",
            "isRequired": true,
            "type": "DropDownList",
            "sortOrder": 0,
            "options": [
                {
                    "id": 1798,
                    "name": "Список 1",
                    "title": "Список 1 +1 000 руб."
                },
                {
                    "id": 1799,
                    "name": "Список 2",
                    "title": "Список 2 +2 000 руб."
                },
                {
                    "id": 1800,
                    "name": "Список 3",
                    "title": "Список 3 +3 000 руб."
                }
            ],
            "selectedOptionId": 1798
        },
        {
            "id": 276,
            "title": "Доп опция 2",
            "isRequired": false,
            "type": "DropDownList",
            "sortOrder": 0,
            "options": [
                {
                    "id": 1801,
                    "name": "Процент 10",
                    "title": "Процент 10 +10%"
                },
                {
                    "id": 1802,
                    "name": "Процент 20",
                    "title": "Процент 20 +20%"
                }
            ],
            "selectedOptionId": 0
        },
        {
            "id": 277,
            "title": "Доп опция 3",
            "isRequired": false,
            "type": "RadioButton",
            "sortOrder": 0,
            "options": [
                {
                    "id": 1803,
                    "name": "Галочка 1",
                    "title": "Галочка 1 +10 руб."
                },
                {
                    "id": 1804,
                    "name": "Галочка 2",
                    "title": "Галочка 2 +20 руб."
                }
            ],
            "selectedOptionId": 0
        },
        {
            "id": 278,
            "title": "Доп опция 4",
            "isRequired": false,
            "type": "CheckBox",
            "sortOrder": 0,
            "options": [
                {
                    "id": 1805,
                    "name": "",
                    "title": " +111 руб."
                }
            ],
            "selectedOptionId": 0
        },
        {
            "id": 279,
            "title": "Text field",
            "isRequired": false,
            "type": "TextBoxSingleLine",
            "sortOrder": 0,
            "options": [
                {
                    "id": 1806,
                    "name": " ",
                    "title": ""
                }
            ],
            "selectedOptionId": 0
        },
        {
            "id": 280,
            "title": "Multiple text field",
            "isRequired": false,
            "type": "TextBoxMultiLine",
            "sortOrder": 0,
            "options": [
                {
                    "id": 1807,
                    "name": " ",
                    "title": ""
                }
            ],
            "selectedOptionId": 0
        }
    ],
    "brand": null,
    "currency": {
        "name": "Рубли",
        "symbol": " руб.",
        "rate": 1,
        "iso3": "RUB",
        "isCodeBefore": false,
        "roundNumbers": 1,
        "enablePriceRounding": true
    },
    "photos": [
        {
            "smallSrc": "https://mysite.ru/pictures/product/small/12345_small.jpg",
            "middleSrc": "https://mysite.ru/pictures/product/middle/12345_middle.jpg",
            "bigSrc": "https://mysite.ru/pictures/product/big/12345_big.jpg",
            "colorId": null,
            "main": true
        },
        {
            "smallSrc": "https://mysite.ru/pictures/product/small/12345_small.jpg",
            "middleSrc": "https://mysite.ru/pictures/product/middle/12345_middle.jpg",
            "bigSrc": "https://mysite.ru/pictures/product/big/12345_big.jpg",
            "colorId": null,
            "main": false
        }
    ],
    "showPhotos360": false,
    "photos360": null,
    "videos": [],
    "markers": [
        {
            "title": "black friday",
            "colorBackground": "#010101",
            "colorText": "#ffffff",
            "url": "https://mysite.ru/",
            "openInNewTab": true,
            "description": "Описание",
            "sortOrder": 10
        },
        {
            "title": "Название маркера",
            "colorBackground": "#ff0000",
            "colorText": "#ffffff",
            "url": null,
            "openInNewTab": true,
            "description": null,
            "sortOrder": 20
        }
    ],
    "sizeChart": {
        "id": 1,
        "linkText": "Таблица размеров",
        "modalHeader": "Заголовок окна",
        "type": "Text",                         // Text, Link
        "text": "html or link"
    }
}
</pre>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Товар не найден"
}</pre>
        
    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/products/{id}/price</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Products.CalculatePrice")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/products/{id}/price")
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">{
    "offerId": 12833,
    "amount": 1,
    "options": [
        {
            "id": 341,
            "optionItems": [
                {
                    "optionId": 2001,
                    "amount": 1
                }
            ]
        },
        {
            "id": 347,
            "optionItems": [
                {
                    "optionId": 2003
                }
            ]
        },
        {
            "id": 349,
            "optionItems": [
                {
                    "optionId": 2007,
                    "amount": 1
                },
                {
                    "optionId": 2008,
                    "amount": 1
                }
            ]
        },
        {
            "id": 351,
            "optionItems": [
                {
                    "optionId": 2011,
                    "optionText": "hello!"
                }
            ]
        },
        {
            "id": 352,
            "optionItems": [
                {
                    "optionId": 2012
                },
                {
                    "optionId": 2013
                }
            ]
        }
    ]
}</pre>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">offerId</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Id модификации. Обяз. параметр.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">optionItems</div>
                <div class="col-xs-1">array</div>
                <div class="col-xs">Список выбранных доп. опций. Не обяз. параметр.</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">amount</div>
                <div class="col-xs-1">double</div>
                <div class="col-xs">Кол-во товара. Обяз. параметр.</div>
            </div>
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">{
    "oldPrice": 3100.0,
    "preparedOldPrice": "3 100 руб.",
    "price": 3090.0,
    "preparedPrice": "3 090 руб."
}</pre>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Не указано кол-во"
}</pre>
        
    </div>
</div>

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/products/{id}/properties</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Products.GetProductSpecifications")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/products/{id}/properties")
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">/api/products/{id}/properties</pre>
        <pre class="m-t-sm">/api/products/{id}/properties?type=inDetails</pre>
        <pre class="m-t-sm">/api/products/{id}/properties?type=inBriefDescription</pre>

        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">type</div>
                <div class="col-xs-1">enum</div>
                <div class="col-xs">
                    <p>Тип свойств. Не обяз. параметр, по умолчанию inDetails.</p> 
                    <p>Значения: inDetails - свойства в карточке товара. inBriefDescription - свойства в брифе.</p>
                </div>
            </div>
        </div>

        <div class="m-t m-b-xs">В зависимости от типа возвращается разный ответ.</div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">/api/products/{id}/properties</pre>
        <pre class="m-t-sm">/api/products/{id}/properties?type=inDetails</pre>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">[
    {
        "groupName": "",                   // название группы свойств
        "properties": [                    // список свойств
            {
                "name": "Вид",
                "value": "Брошь, Зажим"
            },
            {
                "name": "Материал",
                "value": "Картон"
            }
        ]
    }
]</pre>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">/api/products/{id}/properties?type=inBriefDescription</pre>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">[
    {
        "name": "Св-во 2 в кратком описании",
        "value": "Тест 123, Тест 321"
    },
    {
        "name": "Свойство в кратком описании",
        "value": "Значение 1, Значение 2, Значение 3"
    }
]</pre>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Товар не найден"
}</pre>
        
    </div>
</div>

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/products/{id}/reviews</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Products.GetProductReviews")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/products/{id}/reviews")
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">[
    {
        "reviewId": 269,
        "parentId": 0,
        "customerName": "Оксана",
        "text": "Отличный костюм.",
        "preparedDate": "17 июня 2022",
        "childrenCount": 0,
        "hasChildren": false,
        "likesCount": 0,
        "dislikesCount": 0,
        "ratioByLikes": 0,
        "photos": [
            {
                "smallSrc": "https://mysite.ru/pictures/review/12345.jpg",
                "bigSrc": "https://mysite.ru/pictures/review/big/12345.jpg"
            }
        ]
    }, 
    {
        "reviewId": 268,
        "parentId": 0,
        "customerName": "Иван",
        "text": "Лучший товар!",
        "preparedDate": "17 июня 2022",
        "childrenCount": 0,
        "hasChildren": false,
        "likesCount": 0,
        "dislikesCount": 0,
        "ratioByLikes": 0,
        "photos": []
    }
]

</pre>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Товар не найден"
}</pre>
        
    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/products/{id}/reviews/add</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Products.AddReview")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/products/{id}/reviews/add")
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">{
    "rating": 5,
    "parentId": 0,
    "name": "test",
    "email": "some@mail.com",
    "text": "comment text"
}
</pre>
        <div class="m-t m-b-xs">
            <p>rating - рейтинг от 1 до 5, не обяз. поле. Если пользователь уже голосовал, то оценка не зачтется.</p>
            <p>parentId - id родительского комментария, если не указан или 0, то добавится корневой коммментарий</p>
            <p>files - список файлов изображений, если в магазине разрешено загружать файлы в комментариях</p>
        </div>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Заполните обязательные поля"
}</pre>
        
    </div>
</div>


<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/products/{id}/related-products</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Products.GetCrossUpSell")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/products/{id}/related-products")
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">?type=upsell</pre>
        
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">type</div>
                <div class="col-xs-1"></div>
                <div class="col-xs">
                    <p>Возможные значения:</p>
                    <p>сrosssell - С этим товаром покупают</p>
                    <p>upsell - Похожие товары</p>
                </div>
            </div>
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Товар не найден"
}</pre>
        
    </div>
</div>



<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/products/{id}/gifts</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Products.GetGifts")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/products/{id}/gifts")
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">[
    {
        "name": "Товар",
        "mainProductsCount": 2,
        "photoSmall": "https://mysite.ru/pictures/product/small/12345_small.jpg",
        "photoMiddle": "https://mysite.ru/pictures/product/middle/12345_middle.jpg",
        "color": "Голубой",
        "size": "M",
        "colorHeader": "Цвет",
        "sizeHeader": "Размер"
    }
]</pre>
        <div class="m-b">
            mainProductsCount - кол-во основного товара для активации подарка (Пример: При покупке 2 рубашек подарок носки).
        </div>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Товар не найден"
}</pre>
        
    </div>
</div>



<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/products/{id}/stocks</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Products.GetWarehousesList")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/products/{id}/stocks")
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">/api/products/{id}/stocks</pre>
        <pre class="m-t-sm">/api/products/{id}/stocks?offerId={offerId}</pre>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">[
    {
        "offerId": 1234,
        "stocks": [
            {
                "name": "Основной",
                "type": "Склады",
                "address": "Москва, ул. Барклая, 8, Москва, 121087",
                "timeOfWorkList": [
                    "Пн, Вт, Ср, Чт, Пт: 08:00 - 20:00",
                    "Сб, Вс: 10:00 - 18:00"
                ],
                "longitude": 37.50236,
                "latitude": 55.7419434,
                "addressComment": "",
                "stock": 10,
                "stockColor": null
            },
            {
                "name": "Склад 2",
                "type": "Склады",
                "address": "Казань, ул. Ленина, 1, кв 2",
                "timeOfWorkList": [
                    "Пн, Вт, Ср, Чт, Пт: 09:00 - 18:00",
                    "Сб, Вс: 09:00 - 18:00"
                ],
                "longitude": null,
                "latitude": null,
                "addressComment": "",
                "stock": 5,
                "stockColor": null
            }
        ]
    }
]</pre>        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Товар не найден"
}</pre>
        
    </div>
</div>

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/products/{id}/price-rule-amount-list</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Products.GetListOfPrice")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/products/{id}/price-rule-amount-list")
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">/api/products/{id}/price-rule-amount-list</pre>
        <pre class="m-t-sm">/api/products/{id}/price-rule-amount-list?offerId={offerId}</pre>
        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">{
    "items": [
        {
            "amount": "2 - 4",
            "price": "500 руб."
        },
        {
            "amount": "5 - 9",
            "price": "300 руб."
        },
        {
            "amount": "10 и более",
            "price": "100 руб."
        },
    ]
}</pre>        
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Товар не найден"
}</pre>
        
    </div>
</div>