@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel


<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/search</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Search.SearchByProdAndCat")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/search")
        </div>

        <div class="m-t m-b">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">
{
    "query": "Красное платье",
    "propertyLists": [
        [1],
        [2,3]
    ],
    "propertyRanges": [
        {
            "id": 4,
            "min": 1,
            "max": 100
        }
    ]
}
</pre>

        <h3 class="m-t m-b-xs">Фильтр. Все поля кроме query не обязательны для заполнения</h3>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">query</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Поисковый запрос. Обязательное поле.</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">page</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Текущая страница в постараничном выводе</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">brandIds</div>
                <div class="col-xs-1">List int</div>
                <div class="col-xs">Список Id производителей</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">colorIds</div>
                <div class="col-xs-1">List int</div>
                <div class="col-xs">Список Id цветов</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">sizeIds</div>
                <div class="col-xs-1">List int</div>
                <div class="col-xs">Список Id размеров</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">propertyLists</div>
                <div class="col-xs-1">List of list int</div>
                <div class="col-xs">
                    Список свойств. Пример:
                    <pre>[
    [1,2], // массив выбранных id значений
    [3,4,5],
    [7]
]</pre>
                </div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">propertyRanges</div>
                <div class="col-xs-1">List of int</div>
                <div class="col-xs">
                    Список свойств диапазонов. Пример:
                    <pre>[
   {
       "id": 397,  // id свойства
       "min": 1.1, // минимальное значение диапазона
       "max": 3    // максимальное значение диапазона
   }
]</pre>
                </div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">priceFrom</div>
                <div class="col-xs-1">decimal</div>
                <div class="col-xs">Цена от</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">priceTo</div>
                <div class="col-xs-1">decimal</div>
                <div class="col-xs">Цена до</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">available</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Только в наличии</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">sorting</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Сортировка товаров: NoSorting, DescByPopular, DescByAddingDate, AscByPrice, DescByPrice, DescByDiscount, DescByRatio, AscByName, DescByName</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">showHtmlPrice</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Возвращать цену товара с html-тегами. По умолчанию: false</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">warehouseIds</div>
                <div class="col-xs-1">List of int</div>
                <div class="col-xs">Список складов. Пример: [1, 2]</div>
            </div>
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">
{
  "pager": {
    "count": 3,
    "currentPage": 1,
    "totalCount": 3,
    "totalPageCount": 1
  },
  "products": [
    {
      "productId": 1647,
      "offerId": 12460,
      "offerArtNo": "1647",
      "amountOffer": 1,
      "urlPath": "red-dress",
      "name": "Красное платье",
      "briefDescription": "",
      "artNo": "1647",
      "multiplicity": 0,
      "amount": 1,
      "minAmount": 0,
      "maxAmount": 0,
      "allowPreorder": false,
      "recomended": false,
      "sales": false,
      "bestseller": false,
      "newProduct": false,
      "favorite": false,
      "gifts": false,
      "enabled": true,
      "colors": [
        {
          "id": 7,
          "name": "Красный",
          "code": "#ffffff",
          "photoSrc": null
        },
        {
          "id": 5,
          "name": "Голубой",
          "code": "#04b9dd",
          "photoSrc": null
        },
        {
          "id": 6,
          "name": "Желтый",
          "code": "#fff200",
          "photoSrc": null
        },
        {
          "id": 3,
          "name": "Зеленый",
          "code": "#00FF00",
          "photoSrc": null
        }
      ],
      "colorId": 7,
      "sizeId": 0,
      "ratio": 0,
      "manualRatio": null,
      "commentsCount": 0,
      "price": 354,
      "priceWithDiscount": 319,
      "discount": {
        "percent": 10,
        "amount": 0,
        "type": 0
      },
      "currencyValue": 1,
      "preparedPrice": "319 руб.",
      "preparedOldPrice": "354 руб.",
      "addToCartFromList": false,
      "photoSmall": "https://mysite.ru/pictures/product/small/12345_small.jpg",
      "photoMiddle": "https://mysite.ru/pictures/product/middle/12345_middle.jpg",
      "photos": [
        {
          "smallSrc": "https://mysite.ru/pictures/product/small/12345_small.jpg",
          "middleSrc": "https://mysite.ru/pictures/product/middle/12345_middle.jpg",
          "bigSrc": "https://mysite.ru/pictures/product/big/12345_big.jpg",
          "colorId": null,
          "main": true
        }
      ],
      "markers": [
        {
          "title": "black friday",
          "colorBackground": "#010101",
          "colorText": "#ffffff",
          "url": "https://mysite.ru/",
          "openInNewTab": true,
          "description": "Описание",
          "sortOrder": 10
        },
        {
          "title": "Название маркера",
          "colorBackground": "#ff0000",
          "colorText": "#ffffff",
          "url": null,
          "openInNewTab": true,
          "description": null,
          "sortOrder": 20
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 1,
      "externalId": "1",
      "parentCategoryId": 0,
      "name": "Платья",
      "url": "dresses",
      "description": "",
      "briefDescription": "",
      "enabled": true,
      "hidden": false,
      "sortOrder": 40,
      "sorting": "NoSorting",
      "showMode": 1,
      "showBrandsInMenu": false,
      "showSubCategoriesInMenu": false,
      "showOnMainPage": false,
      "modifiedBy": null,
      "seoMetaInformation": {
        "isDefault": true,
        "title": "#STORE_NAME# - #CATEGORY_NAME#",
        "metaKeywords": "#STORE_NAME# - #CATEGORY_NAME#",
        "metaDescription": "#STORE_NAME# - #CATEGORY_NAME#",
        "h1": "#CATEGORY_NAME#"
      },
      "pictureUrl": null,
      "miniPictureUrl": null,
      "menuIconPictureUrl": null
    }
  ]
}
</pre>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Укажите поисковый запрос"
}</pre>

    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/search/filter</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Search.GetFilterForSearch")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/search/filter")
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">
{
    "query": "Красное платье",
    "propertyLists": [
        [1],
        [2,3]
    ],
    "propertyRanges": [
        {
            "id": 4,
            "min": 1,
            "max": 100
        }
    ]
}
</pre>

        <h3 class="m-t m-b-xs">Фильтр. Все поля кроме query не обязательны для заполнения</h3>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">query</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Поисковый запрос. Обязательное поле.</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">page</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Текущая страница в постараничном выводе</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">brandIds</div>
                <div class="col-xs-1">List int</div>
                <div class="col-xs">Список Id производителей</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">colorIds</div>
                <div class="col-xs-1">List int</div>
                <div class="col-xs">Список Id цветов</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">sizeIds</div>
                <div class="col-xs-1">List int</div>
                <div class="col-xs">Список Id размеров</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">propertyLists</div>
                <div class="col-xs-1">List of list int</div>
                <div class="col-xs">
                    Список свойств. Пример:
                    <pre>[
    [1,2], // массив выбранных id значений
    [3,4,5],
    [7]
]</pre>
                </div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">propertyRanges</div>
                <div class="col-xs-1">List of int</div>
                <div class="col-xs">
                    Список свойств диапазонов. Пример:
                    <pre>[
   {
       "id": 397,  // id свойства
       "min": 1.1, // минимальное значение диапазона
       "max": 3    // максимальное значение диапазона
   }
]</pre>
                </div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">priceFrom</div>
                <div class="col-xs-1">decimal</div>
                <div class="col-xs">Цена от</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">priceTo</div>
                <div class="col-xs-1">decimal</div>
                <div class="col-xs">Цена до</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">available</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Только в наличии</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">sorting</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Сортировка товаров: NoSorting, DescByPopular, DescByAddingDate, AscByPrice, DescByPrice, DescByDiscount, DescByRatio, AscByName, DescByName</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">showHtmlPrice</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Возвращать цену товара с html-тегами. По умолчанию: false</div>
            </div>

            <div class="row m-b-xs">
                <div class="col-xs-2">warehouseIds</div>
                <div class="col-xs-1">List of int</div>
                <div class="col-xs">Список складов. Пример: [1, 2]</div>
            </div>
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">
[
  {
    "expanded": true,
    "type": "searchQuery",
    "title": "Поисковый запрос",
    "subtitle": "",
    "control": "input",
    "description": null,
    "values": [
      {
        "id": "searchInputFilter",
        "text": "Красное платье",
        "selected": false,
        "available": false
      }
    ]
  },
  {
    "expanded": true,
    "type": "categoryId",
    "title": "Выберите категорию",
    "subtitle": null,
    "control": "selectSearch",
    "description": null,
    "values": [
      {
        "id": "1",
        "text": "Категория 1",
        "selected": false,
        "available": false
      },
      {
        "id": "2",
        "text": "Категория 2",
        "selected": false,
        "available": false
      }
    ]
  },
  {
    "expanded": true,
    "type": "price",
    "title": "Цена",
    "subtitle": " руб.",
    "control": "range",
    "description": null,
    "values": [
      {
        "min": 1,
        "max": 1000,
        "currentMin": 90,
        "currentMax": 430,
        "step": 10,
        "decimalPlaces": 3
      }
    ]
  },
  {
    "expanded": true,
    "type": "color",
    "title": "Цвет",
    "subtitle": "",
    "control": "color",
    "description": null,
    "values": [
      {
        "colorName": "Белый",
        "colorCode": "#ffffff",
        "selected": false,
        "text": "Белый",
        "id": 7,
        "available": true,
        "imageHeight": 18,
        "imageWidth": 18,
        "photoName": "",
        "imageSrc": ""
      },
      {
        "colorName": "Зеленый",
        "colorCode": "       ",
        "selected": false,
        "text": "Зеленый",
        "id": 3,
        "available": true,
        "imageHeight": 18,
        "imageWidth": 18,
        "photoName": "123.jpg",
        "imageSrc": "https://mysite.ru/pictures/color/catalog/123.jpg"
      }
    ]
  },
  {
    "expanded": true,
    "type": "size",
    "title": "Размер",
    "subtitle": "",
    "control": "checkbox",
    "description": null,
    "values": [
      {
        "id": "1",
        "text": "S",
        "selected": false,
        "available": true
      },
      {
        "id": "2",
        "text": "M",
        "selected": false,
        "available": true
      }
    ]
  },
  {
    "expanded": true,
    "type": "prop",
    "title": "Вид",
    "subtitle": "",
    "control": "checkbox",
    "description": "",
    "values": [
      {
        "id": "5565",
        "text": "Брошь",
        "selected": true,
        "available": true
      },
      {
        "id": "5641",
        "text": "Зажим",
        "selected": true,
        "available": true
      }
    ]
  },
  {
    "expanded": true,
    "type": "prop",
    "title": "Материал",
    "subtitle": "",
    "control": "checkbox",
    "description": "",
    "values": [
      {
        "id": "5720",
        "text": "Картон",
        "selected": true,
        "available": true
      }
    ]
  },
  {
    "expanded": true,
    "type": "prop",
    "title": "Номер шара",
    "subtitle": "",
    "control": "range",
    "description": "",
    "values": [
      {
        "min": 1,
        "max": 100,
        "currentMin": 1.1,
        "currentMax": 3,
        "step": 0.1,
        "decimalPlaces": 1,
        "id": 397
      }
    ]
  }
]
</pre>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Укажите поисковый запрос"
}</pre>

    </div>
</div>



<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/search/filtercount</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Catalog.GetQuantityByFilter")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/search/filtercount")
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">
{
    "query": "Красное платье",
    "propertyLists": [
        [1],
        [2,3]
    ],
    "propertyRanges": [
        {
            "id": 4,
            "min": 1,
            "max": 100
        }
    ]
}
</pre>
        <div class="m-t m-b">
            Параметры такие же как в api/search/filter
        </div>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">{
    "itemsCount": 3
}
</pre>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Категория не найдена"
}</pre>

    </div>
</div>


<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/search/autocomplete</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.Search.SearchAutocompleteByProdAndCat")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/search/autocomplete")
        </div>

        <div class="m-t m-b">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        </div>
        <pre class="m-t-sm">
{
    "query": "Красное платье",
    "warehouseIds": [1, 2]     // список складов. не обяз. параметр
}
</pre>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">
{
  "products": [
    {
      "productId": 1647,
      "offerId": 12460,
      "offerArtNo": "1647",
      "amountOffer": 1,
      "urlPath": "red-dress",
      "name": "Красное платье",
      "briefDescription": "",
      "artNo": "1647",
      "multiplicity": 0,
      "amount": 1,
      "minAmount": 0,
      "maxAmount": 0,
      "allowPreorder": false,
      "recomended": false,
      "sales": false,
      "bestseller": false,
      "new": false,
      "gifts": false,
      "enabled": true,
      "colors": [
        {
          "id": 7,
          "name": "Красный",
          "code": "#ffffff",
          "photoSrc": null
        },
        {
          "id": 5,
          "name": "Голубой",
          "code": "#04b9dd",
          "photoSrc": null
        },
        {
          "id": 6,
          "name": "Желтый",
          "code": "#fff200",
          "photoSrc": null
        },
        {
          "id": 3,
          "name": "Зеленый",
          "code": "#00FF00",
          "photoSrc": null
        }
      ],
      "colorId": 7,
      "sizeId": 0,
      "ratio": 0,
      "manualRatio": null,
      "commentsCount": 0,
      "price": 354,
      "priceWithDiscount": 319,
      "discount": {
        "percent": 10,
        "amount": 0,
        "type": 0
      },
      "currencyValue": 1,
      "preparedPrice": "319 руб.",
      "preparedOldPrice": "354 руб.",
      "addToCartFromList": false,
      "photoSmall": "https://mysite.ru/pictures/product/small/12345_small.jpg",
      "photoMiddle": "https://mysite.ru/pictures/product/middle/12345_middle.jpg",
      "photos": [
        {
          "smallSrc": "https://mysite.ru/pictures/product/small/12345_small.jpg",
          "middleSrc": "https://mysite.ru/pictures/product/middle/12345_middle.jpg",
          "bigSrc": "https://mysite.ru/pictures/product/big/12345_big.jpg",
          "colorId": null,
          "main": true
        }
      ],
      "markers": [
        {
          "title": "black friday",
          "colorBackground": "#010101",
          "colorText": "#ffffff",
          "url": "https://mysite.ru/",
          "openInNewTab": true,
          "description": "Описание",
          "sortOrder": 10
        },
        {
          "title": "Название маркера",
          "colorBackground": "#ff0000",
          "colorText": "#ffffff",
          "url": null,
          "openInNewTab": true,
          "description": null,
          "sortOrder": 20
        }
      ]
    }
  ],
  "categories": [
    {
      "id": 1,
      "externalId": "1",
      "parentCategoryId": 5702,
      "name": "Платья",
      "url": "dresses",
      "description": "",
      "briefDescription": "",
      "enabled": true,
      "hidden": false,
      "sortOrder": 0,
      "sorting": "NoSorting",
      "showMode": 1,
      "showBrandsInMenu": false,
      "showSubCategoriesInMenu": false,
      "showOnMainPage": false,
      "modifiedBy": null,
      "seoMetaInformation": {
        "isDefault": true,
        "title": "#STORE_NAME# - #CATEGORY_NAME#",
        "metaKeywords": "#STORE_NAME# - #CATEGORY_NAME#",
        "metaDescription": "#STORE_NAME# - #CATEGORY_NAME#",
        "h1": "#CATEGORY_NAME#"
      },
      "pictureUrl": null,
      "miniPictureUrl": null,
      "menuIconPictureUrl": null
    }
  ]
}
</pre>
        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        </div>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Укажите поисковый запрос"
}</pre>

    </div>
</div>