@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/staticpages</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.StaticPage.GetStaticPages")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/staticpages")
        </div>

        <h3 class="m-t-sm">@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        <pre class="m-t-sm">/api/staticpages?loadText=true&showInProfile=true</pre>

        <h3 class="m-t m-b-xs">@T("Admin.SettingsApiAuth.Index.ApiAuth.AllFields")</h3>
        <div class="row-tb">
            <div class="row m-b-xs">
                <div class="col-xs-2">page</div>
                <div class="col-xs-1">int</div>
                <div class="col-xs">Текущая страница в постараничном выводе</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">loadText</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Возвращать текст страницы. По умолчанию: false</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">showInProfile</div>
                <div class="col-xs-1">bool</div>
                <div class="col-xs">Возвращать только страницы, у которых стоит Показывать в профиле</div>
            </div>
            <div class="row m-b-xs">
                <div class="col-xs-2">search</div>
                <div class="col-xs-1">string</div>
                <div class="col-xs">Поисковый запрос по заголовку и тексту</div>
            </div>
        </div>

        <div class="m-t m-b-xs">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        </div>
        <pre class="m-t-sm">{
    "pagination": {
        "count": 2,
        "currentPage": 1,
        "totalCount": 2,
        "totalPageCount": 1
    },
    "staticPages": [
        {
            "id": 2,
            "title": "Заголовок 2",
            "icon": "",
            "showInProfile": false
        },
        {
            "id": 1,
            "title": "Заголовок 1",
            "icon": "",
            "showInProfile": true
        }
    ]
}</pre>
    </div>
</div>

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/staticpages/{id}</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.StaticPage.GetStaticPage")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/staticpages/{id}")
        </div>

        <div class="m-t m-b-xs"><h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3></div>
        <pre class="m-t-sm">{
    "id": 1,
    "title": "Заголовок",
    "text": "Текст",
    "icon": "",
    "showInProfile": true
}</pre>
        <div class="m-t-sm">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
            <pre class="m-t-sm">{
    "status": "error",
    "errors": "Страница не найдена"
}</pre>
        </div>
    </div>
</div>