@model AdvantShop.Web.Admin.Models.Settings.APISettingsModel

<div class="api-item get">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">GET</span>
        <span class="path">/api/wishlist</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.WishList.GetFavoritesProducts")</span>
    </div>
    <div class="details">
        <div class="m-b">
            GET @Model.GetApiAuthUrl("/api/wishlist")
        </div>
        <h3 class="m-t-sm">@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        <pre class="m-t-sm">[
    {
        "productId": 1648,
        "offerId": 12461,
        "artNo": "1648",
        "name": "Товар",
        "urlPath": "tovar",
        "briefDescription": null,
        "colorId": 1,
        "sizeId": 1,
        "discount": {
            "percent": 10.0,
            "amount": 0.0,
            "type": "Percent"
        },
        "oldPrice": 1000.0,
        "price": 900.0,
        "preparedOldPrice": "1 000 руб.",
        "preparedPrice": "900 руб.",
        "addToCart": true,
        "photo": {
            "smallSrc": "https://mysite.ru/pictures/product/small/123_small.jpg",
            "middleSrc": "https://mysite.ru/pictures/product/middle/123_middle.jpg",
            "bigSrc": "https://mysite.ru/pictures/product/big/123_big.jpg",
            "colorId": 1,
            "main": true
        },
        "photos": [
            {
                "smallSrc": "https://mysite.ru/pictures/product/small/123_small.jpg",
                "middleSrc": "https://mysite.ru/pictures/product/middle/123_middle.jpg",
                "bigSrc": "https://mysite.ru/pictures/product/big/123_big.jpg",
                "colorId": 1,
                "main": true
            }
        ],
        "size": {
            "id": 1,
            "name": "M"
        },
        "color": {
            "id": 1,
            "name": "Белый",
            "code": "#ffffff",
            "photoSrc": null
        }
    }
]
</pre>
        <div class="m-t-sm">
            <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
            <pre class="m-t-sm">{
    "status": "error",
    "errors": "Настройка \"Избранное\" не активна"
}
</pre>
        </div>
    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/wishlist/add</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.WishList.AddFavoritesProducts")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/wishlist/add")
        </div>
        <h3 class="m-t-sm">@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        <pre class="m-t-sm">{
    "offerId": 12345
}
</pre>
    <div class="m-t-sm">
        <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        <pre class="m-t-sm">{
    "status": "ok"
}
</pre>
    </div>
    <div class="m-t-sm">
        <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Товар не найден"
}
</pre>
        </div>
    </div>
</div>

<div class="api-item post">
    <div class="api-item__header" ng-click="settings.showDetails($event)">
        <span class="method">POST</span>
        <span class="path">/api/wishlist/remove</span>
        <span class="description">@T("Admin.SettingsApiAuth.Index.WishList.RemoveFavoritesProducts")</span>
    </div>
    <div class="details">
        <div class="m-b">
            POST @Model.GetApiAuthUrl("/api/wishlist/remove")
        </div>
        <h3 class="m-t-sm">@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleRequest")</h3>
        <pre class="m-t-sm">{
    "offerId": 12345
}
</pre>
    <div class="m-t-sm">
        <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswer")</h3>
        <pre class="m-t-sm">{
    "status": "ok"
}
</pre>
    </div>
    <div class="m-t-sm">
        <h3>@T("Admin.SettingsApiAuth.Index.ApiAuth.ExampleAnswerError")</h3>
        <pre class="m-t-sm">{
    "status": "error",
    "errors": "Товар не найден"
}
</pre>
        </div>
    </div>
</div>
