@model AdvantShop.Web.Admin.Models.Orders.OrdersEdit.OrderModel

<div class="ibox category-block block-additional-parameters">
    <div class="ibox-content category-content block-additional-parameters-content p-r-lg border_none">
        <div class="clear">
            <div class="order__subblock-title pull-left">@T("Admin.Orders.ClientBonuseCard.Bonuses")</div>
        </div>
        @if (Model.BonusCard != null)
        {
            <div class="block-additional-parameters-row">
                <div class="block-additional-parameters-value m-b-xs">
                    <a data-e2e="numberBonusCart" target="_blank" href="@Url.AbsoluteActionUrl("Edit", "Cards", new {id = Model.BonusCard.CardId})">@Model.BonusCard.CardNumber</a>
                    @if (Model.BonusCard.Blocked)
                    {
                        <span class="link-danger">@T("Admin.Orders.ClientBonusCard.CardBlocked")</span>
                    }
                </div>
                <div class="block-additional-parameters-value" data-e2e="percentBonus">
                    @(((float)Model.BonusCard.BonusesTotalAmount).SimpleRoundPrice().FormatBonuses()) (@Model.BonusCard.Grade.Name @Model.BonusCard.Grade.BonusPercent.ToInvatiant() %)
                </div>
            </div>
        }
        else if (Model.Customer != null)
        {
            <ui-modal-trigger data-controller="'ModalAddCardCtrl'" controller-as="ctrl" size="md" backdrop="static"
                              template-url="@Html.GetAssetPath("addcard.html")"
                              data-resolve="{params:{customerId:'@Model.Customer.Id', firstName:'@Model.Customer.FirstName', lastName:'@Model.Customer.LastName', noredirect:true}}"
                              data-on-close="order.updateOrderBonusCard()">
                <a data-e2e="AddCard" class="btn btn-sm btn-success btn--margin-left" href="">
                    <span class="fa fa-plus"></span>
                    @T("Admin.Cards.Index.AddCard")
                </a>
            </ui-modal-trigger>
        }
        else
        {
            <div>
                @T("Admin.Orders.ClientBonusCard.CreateUser")
            </div>
        }
    </div>
</div>