@{
    Html.AddAsset("shops");
    var yaMapsKey = SettingsCatalog.YaMapsApiKeyFoMapWarehouse;
    var isMobile = SettingsDesign.IsMobileTemplate;
}

@if(!isMobile){
    <div class="col-p-v shops m-b-lg" >
        <div class="page-title-row shops__row">
            <div class="shops__title page-title">
                <h1 class="main-title" @Html.InplaceMeta(0, AdvantShop.SEO.MetaType.PageWarehouses)>@Html.GetPageH1()</h1>
            </div>
        </div>
        <warehouses-list-map data-api-key-map="@yaMapsKey" data-show-details-warehouse="true"></warehouses-list-map>
    </div>
} else {
    <div class="shops">
        <div class="shops-title page-title cs-bg-4--mobile">
            <h1 class="main-title" @Html.InplaceMeta(0, AdvantShop.SEO.MetaType.PageWarehouses)>@Html.GetPageH1()</h1>
        </div>
        <div class="mobile-container-fluid">
            <warehouses-list-map data-compact-mode="true" data-api-key-map="@yaMapsKey" data-show-details-warehouse="@(string.IsNullOrEmpty(yaMapsKey).ToString().ToLower())"></warehouses-list-map>
        </div>
    </div>
}









