@model AdvantShop.Models.Shippings.ShippingsModel
@{
    Html.AddAsset("shippings");
}

<div class="shippings-zones m-b-lg">
    <div class="cs-bg-4--mobile page-title m-b-sm">
        <h1 class="shippings-zones__title main-title">
            @T("Common.ShippingsPage.Header")
        </h1>
    </div>
    @if (Model.ShippingZonesIframe.IsNullOrEmpty() && Model.Description.IsNullOrEmpty())
    {
        <div class="row">
            <div class="col-xs-12">
                @T("Common.ShippingsPage.DeliveryZonesNotAvailable")
            </div>
        </div>
    }
    else
    {
        <div class="mobile-container-fluid">
            <div class="row">
                @if (Model.ShippingZonesIframe.IsNotEmpty())
                {
                    <div class="col-xs-12 col-sm-8 shippings-zones__map-wrap m-b-lg">
                        @Html.Raw(Model.ShippingZonesIframe)
                    </div>
                }
                @if (Model.Description.IsNotEmpty())
                {
                    <div class="col-xs-12 @(Model.ShippingZonesIframe.IsNotEmpty() ? "col-sm-4" : string.Empty)">
                        @Html.Raw(Model.Description)
                    </div>
                }
            </div>
        </div>
    }
</div>