@model AdvantShop.Web.Admin.Models.Landings.LandingAdminSiteSettings

@{
    var isMobile = SettingsDesign.IsMobileTemplate;
}

<div class="row">
    <div class="col-xs-12 col-md-11">
        <div class="form-group row  @(isMobile ? "funnel__form-group" : "")">
            <div class="col-xs col-sm-3 col-wl-2">
                <div class="setting-label-wrap  @(isMobile ? "funnel__label funnel--m-none" : "")">
                    Включить
                </div>
            </div>
            <div class="col-xs-4 col-wl-3 relative">
                <label class="adv-checkbox-label @(isMobile ? "adv-checkbox-label--switch-on-off-wrapper" : "")">
                    <switch-on-off checked="landingSite.settings.MobileAppActive" on-change="landingSite.onChangeMobileAppActiveStateOffOn(checked)" data-id="Active" ng-init="@("landingSite.settings.MobileAppActive=" + Model.MobileAppActive.ToLowerString())"></switch-on-off>
                </label>
            </div>
        </div>
        <div ng-show="landingSite.settings.MobileAppActive">
            <div class="form-group row middle-xs  @(isMobile ? "funnel__form-group" : "")">
                <div class="col-xs-12 col-md-3 col-wl-2">
                    <div class="setting-label-wrap text-required @(isMobile ? "funnel__label m-b-sm" : "")">
                        Название
                    </div>
                </div>
                <div class="col-xs-12 col-md-4  col-wl-3">
                    @Html.TextBoxFor(x => x.MobileAppName, new { @class = "form-control input-alt", ng_model = "landingSite.settings.MobileAppName", ng_required = "landingSite.settings.MobileAppActive", validation_input_text = "Название" })
                </div>
            </div>
            <div class="form-group row middle-xs  @(isMobile ? "funnel__form-group" : "")">
                <div class="col-xs-12 col-md-3 col-wl-2">
                    <div class="setting-label-wrap text-required @(isMobile ? "funnel__label m-b-sm" : "")">
                        Сокращенное название
                    </div>
                </div>
                <div class="col-xs-12 col-md-4  col-wl-3">
                    @Html.TextBoxFor(x => x.MobileAppShortName, new { @class = "form-control input-alt", ng_model = "landingSite.settings.MobileAppShortName", ng_required = "landingSite.settings.MobileAppActive", validation_input_text = "Сокращенное название" })
                </div>
            </div>
            <div class="form-group row  @(isMobile ? "funnel__form-group" : "")">
                <div class="col-xs-12 col-md-3 col-wl-2">
                    <div class="setting-label-wrap @(isMobile ? "funnel__label m-b-sm" : "")">
                        Иконка приложения
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-wl-3 relative funnel__picture-uploader-wrap">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="flex">
                                <div>
                                    @Html.PictureUploader(AdvantShop.Catalog.PhotoType.LandingMobileApp, Model.Id, Model.MobileAppImgSrc, htmlAttributes: new
                                    {
                                        data_e2e = "IconImg",
                                        @class = "picture-uploader-small"
                                    })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="@(isMobile ? "fs-sm sub m-t-sm" : "")">
                        Рекомендуемый размер 512 x 512 px<br />
                        Иконка может быть только квадратной
                    </div>
                </div>
            </div>
            <div class="form-group row middle-xs  @(isMobile ? "funnel__form-group" : "")">
                <div class="col-xs-12 col-md-3 col-wl-2">
                    <div class="setting-label-wrap @(isMobile ? "funnel__label m-b-sm" : "")">
                        Ссылка на приложение в Apple App Store
                    </div>
                </div>
                <div class="col-xs-12 col-md-6  col-wl-5">
                    @Html.TextBoxFor(x => x.AppleAppStoreLink, new { @class = "form-control input-alt", ng_model = "landingSite.settings.AppleAppStoreLink" })
                </div>
            </div>
            <div class="form-group row middle-xs  @(isMobile ? "funnel__form-group" : "")">
                <div class="col-xs-12 col-md-3 col-wl-2">
                    <div class="setting-label-wrap @(isMobile ? "funnel__label m-b-sm" : "")">
                        Ссылка на приложение в Google Play
                    </div>
                </div>
                <div class="col-xs-12 col-md-6  col-wl-5">
                    @Html.TextBoxFor(x => x.GooglePlayMarketLink, new { @class = "form-control input-alt", ng_model = "landingSite.settings.GooglePlayMarketLink" })
                </div>
            </div>
        </div>
    </div>
</div>


