<!DOCTYPE html>
<html data-ng-strict-di data-ng-app="app" lang="ru" @Html.GetNgController()>
<head>
    <meta charset="utf-8">
    <meta name="generator" content="AdVantShop.NET">
    <meta name="advid" content="@Html.GetAdvId()">
    <meta name="format-detection" content="telePhone=no">
    <title>@Html.GetPageTitle()</title>
    <base href="@UrlService.GetUrl()" />
    <meta name="Description" content="@Html.GetPageDescription()" />
    @Html.GetPageKeywords(asMetaLink: true)
    @Html.GetNoFollowTag()
    @Html.GetCanonicalTag()
    <link rel="preload" as="font" href="https://fonts.advstatic.ru/Montserrat/Montserrat-Regular.woff2" type="font/woff2" crossorigin="">
    <link rel="preload" as="font" href="https://fonts.advstatic.ru/Montserrat/Montserrat-Medium.woff2" type="font/woff2" crossorigin="">
    <style>
        @@font-face{font-family:'Montserrat';src:url('https://fonts.advstatic.ru/Montserrat/Montserrat-Medium.woff2') format('woff2');font-weight:500;font-style:normal;font-display:swap}
        @@font-face{font-family:'Montserrat';src:url('https://fonts.advstatic.ru/Montserrat/Montserrat-Regular.woff2') format('woff2');font-weight:normal;font-style:normal;font-display:swap}
        body {
            font-family: Montserrat, Arial, sans-serif;
        }
        .text-floating {
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: keep-all;
            line-break: normal;
            -webkit-hyphens: none;
            hyphens: none;
        }
        .cs-t-1 {
            color: #000;
        }
        .site-layout-empty-container {
          max-width: 1200px;
          margin: 0 auto;
        }  
        .stretch-middle {
          flex: 1 0 auto;
        }
        .site-body {
          z-index: 15;
        }
        .site-body {
          position: relative;
        }
        .center-xs {
          justify-content: center;
        }
        .row {
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-right: -0.625rem;
          margin-left: -0.625rem;
        }
        .col-xs-7 {
          flex-basis: 58.3333333333%;
          max-width: 58.3333333333%;
        }
        .col-xs-12 {
          flex-basis: 100%;
          max-width: 100%;
        }
        .err-container {
          margin-top: 50px;
          margin-bottom: 50px;
        }
        .col-p-v {
          padding-top: .6rem;
          padding-bottom: .6rem;
        }        
        .err-code {
          color: #000;
          font-size: 8.75rem;
          position: relative;
          text-align: center;
          line-height: 1;
          margin-top: -40px;
        }
        @@media (min-width: 48em)
        {
          .err-code {
              margin-top: -30px;
              font-size: 12rem;
          }
        }
                
        .err-reasons {
          text-align: center;
          font-size: 1rem;
        }
        .err-reasons-list {
          list-style: none;
          padding: 0;
          font-size: 21px;
          margin-bottom: 35px;
        }
        .m-xs {
            margin: 5px;
        }
        .btn-big {
            font-weight: bold;
            font-size: 1rem;
            padding: 0.8125rem 0.8125rem 0.8125rem;
        }
        .btn {
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
            border-width: 0;
            text-align: center;
            border-radius: 0.3125rem;
            line-height: 1.3;
            box-sizing: border-box;
            cursor: pointer;
        }
        .btn-big {
            font-weight: bold;
            font-size: 1rem;
            padding: 0.8125rem 0.8125rem 0.8125rem;
        }
        .btn-submit {
            color: #4b4f58;
            background: #fd0;
        }
    </style>
</head>
<body class="cs-t-1 text-floating">
<div class="site-layout-empty-container">
    <main class="stretch-middle site-body">
        <div class="container-fluid site-body-inner js-site-body-inner cs-bg-7">
            @RenderBody()
        </div>
    </main>
</div>
</body>
</html>